<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>Emaranhado Expo</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CMSKSEJNN8"></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())

      gtag('config', 'G-CMSKSEJNN8')
    </script>
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
      #mc_embed_signup {
        background: #fff;
        clear: left;
        font: 14px Museo, Helvetica, Arial, sans-serif;
        width: 70%;
        color: black;
        border-radius: 5px;
        margin: 20px;
        padding: 10px;
      }

      #mc_embed_signup .button {
        background-color: #0b1d6b;
      }

      @media screen and (max-width: 480px) {
        #mc_embed_signup {
          width: 90%;
        }
      }
      /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please
        enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <div vw class="enabled">
      <div vw-access-button class="active"></div>
      <div vw-plugin-wrapper>
        <div class="vw-plugin-top-wrapper"></div>
      </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
      new window.VLibras.Widget('https://vlibras.gov.br/app')
    </script>
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <script type="text/javascript">
      ;(function ($) {
        window.fnames = new Array()
        window.ftypes = new Array()
        fnames[0] = 'EMAIL'
        ftypes[0] = 'email'
        fnames[1] = 'FNAME'
        ftypes[1] = 'text'
        fnames[3] = 'ADDRESS'
        ftypes[3] = 'address'
        fnames[4] = 'PHONE'
        ftypes[4] = 'phone'
        fnames[2] = 'MMERGE2'
        ftypes[2] = 'text'
        fnames[6] = 'MMERGE6'
        ftypes[6] = 'text'
        fnames[5] = 'MMERGE5'
        ftypes[5] = 'text'
      })(jQuery)
      var $mcj = jQuery.noConflict(true)
    </script>
  </body>

  <style>
    html,
    body {
      overflow-x: hidden;
    }
    body {
      position: relative;
    }
  </style>
</html>
