<template>
  <div class="educativo">
    <div class="content">
      <PlayerAcessibilidade link="https://www.youtube.com/embed/_ne0IPcWvYI" />
      <div class="text">
        <p>
          Aqui, você irá encontrar uma série de conteúdos que buscam expandir as
          reflexões propostas pela EMARANHADO. Além de links para as rodas de
          conversa em formato de live que compuseram a programação da exposição,
          preparamos dois materiais educativos sobre uso das tecnologias e
          cibercultura — um pensado para o público infanto-juvenil e suas
          famílias, e outro voltado à questão do ageísmo.
        </p>

        <p>
          Quem estiver a fim de mergulhar na temática da exposição através da
          música também pode acessar as playlists do Spotify e do Youtube que
          preparamos com letras e ritmos sonoros que se relacionam com a
          EMARANHADO.
        </p>
      </div>
    </div>
    <div class="content2">
      <PlayerAcessibilidade link="https://www.youtube.com/embed/YU2gHIfBP0Q" />
      <img
        src="@/assets/images/emmpe.png"
        alt="Imagem de personagem símbolo da exposição. Cabelo longo claro com mechas vermelhas, olhos grandes, ávidos por informação, celular rosa na mão direita levado ao ouvido na posição de falar/ouvir, Veste roupas nas cores azul, branco, cinza e preto. Imagem tatuada no braço esquerdo e prótese na perna esquerda."
      />
      <div class="text w20">
        <p>
          Olá! <br />Me chamo EMM, sou o sistema operacional da EMARANHADO.<br />
          Minha função é mediar a exposição, aqui no site e no instagram.
          <br />Também escrevo e envio semanalmente cartas online, pra você ter
          dicas pra se emaranhar pela web!
        </p>
      </div>
    </div>
    <div class="section-icons">
      <a href="https://www.instagram.com/emaranhado.expo/" target="_blank">
        <button>
          <img
            src="@/assets/images/icons/ico-instagram.png"
            alt="Instagram"
          /></button
      ></a>
      <a href="https://twitter.com/emaranhado_expo" target="_blank">
        <button>
          <img src="@/assets/images/icons/ico-twitter.png" alt="Twitter" />
        </button>
      </a>
      <a href="https://vm.tiktok.com/ZMRDTS4ak/" target="_blank">
        <button>
          <img src="@/assets/images/icons/ico-tiktok.png" alt="tiktok" />
        </button>
      </a>
      <a
        href="https://open.spotify.com/user/02eohrq60h6ew86gm5yij4uml"
        target="_blank"
      >
        <button>
          <img src="@/assets/images/icons/ico-spotify.png" alt="spotify" />
        </button>
      </a>
      <a href="https://www.youtube.com/c/MuseologiaUFRGS" target="_blank">
        <button>
          <img src="@/assets/images/icons/ico-youtube.png" alt="youtube" />
        </button>
      </a>
    </div>
    <div class="content educativo">
      <PlayerAcessibilidade link="https://www.youtube.com/embed/TTVIvVHcZHQ" />
      <img class="img-educativo" src="@/assets/images/educativo.jpeg" />
      <div class="text">
        <p>
          Baixe gratuitamente o material educativo
          <a
            href="https://drive.google.com/file/d/1eiMF7LEtZkH1KD9fb_oOCX7qCJr4FJc9/view"
            target="_blank"
            >aqui</a
          >.
        </p>
      </div>
      <br />
      <img class="img-educativo" src="@/assets/images/educativo2.png" />
      <div class="text">
        <p>
          Baixe gratuitamente o material educativo
          <a
            href="https://drive.google.com/file/d/1iN7BTBJPwg2mYB1SieSKr5AOwq3VGmpd/view"
            target="_blank"
            >aqui</a
          >.
        </p>
      </div>
    </div>

    <div class="content flex-row">
      <PlayerAcessibilidade link="https://www.youtube.com/embed/1upz26I8K_o" />
      <div class="text text-center">
        <p>
          Receba a programação mensal e dicas culturais pela nossa newsletter, a
          Cartas de EMM:
        </p>
      </div>
      <!-- Begin Mailchimp Signup Form -->

      <div id="mc_embed_signup">
        <form
          action="https://gmail.us5.list-manage.com/subscribe/post?u=758d7dfbda1a089c55be52e52&amp;id=6aed7f73a6"
          method="post"
          id="mc-embedded-subscribe-form"
          name="mc-embedded-subscribe-form"
          class="validate"
          target="_blank"
          novalidate
        >
          <div id="mc_embed_signup_scroll">
            <div class="indicates-required">
              <span class="asterisk">*</span> indicates required
            </div>
            <div class="mc-field-group">
              <label for="mce-EMAIL"
                >Email <span class="asterisk">*</span>
              </label>
              <input
                type="email"
                value=""
                name="EMAIL"
                class="required email"
                id="mce-EMAIL"
              />
            </div>
            <div class="mc-field-group">
              <label for="mce-FNAME"
                >Nome Completo <span class="asterisk">*</span>
              </label>
              <input
                type="text"
                value=""
                name="FNAME"
                class="required"
                id="mce-FNAME"
              />
            </div>
            <div class="mc-field-group">
              <label for="mce-MMERGE2">Ocupação / Profissão </label>
              <input
                type="text"
                value=""
                name="MMERGE2"
                class=""
                id="mce-MMERGE2"
              />
            </div>
            <div class="mc-field-group">
              <label for="mce-MMERGE6">Cidade/Estado </label>
              <input
                type="text"
                value=""
                name="MMERGE6"
                class=""
                id="mce-MMERGE6"
              />
            </div>
            <div class="mc-field-group">
              <label for="mce-MMERGE5">Idade </label>
              <input
                type="text"
                value=""
                name="MMERGE5"
                class=""
                id="mce-MMERGE5"
              />
            </div>
            <div id="mce-responses" class="clear">
              <div
                class="response"
                id="mce-error-response"
                style="display: none"
              ></div>
              <div
                class="response"
                id="mce-success-response"
                style="display: none"
              ></div>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px" aria-hidden="true">
              <input
                type="text"
                name="b_758d7dfbda1a089c55be52e52_6aed7f73a6"
                tabindex="-1"
                value=""
              />
            </div>
            <div class="clear">
              <input
                type="submit"
                value="Subscribe"
                name="subscribe"
                id="mc-embedded-subscribe"
                class="button"
              />
            </div>
          </div>
        </form>
      </div>
      <!--End mc_embed_signup-->
    </div>
  </div>
</template>

<script>
import PlayerAcessibilidade from "@/components/PlayerAcessibilidade";
export default {
  components: {
    PlayerAcessibilidade,
  },
};
</script>
<style lang="scss" scoped>
.educativo {
  position: relative;
  min-height: 100vh;
  background-color: #fc4632;
  color: var(--white);
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .section-icons {
    z-index: 1;
    position: absolute;
    left: 30px;
    top: 30vh;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    min-height: 100vh;
    position: relative;
    width: 100%;

    &.educativo {
      flex-direction: column;
      p {
        text-align: center;
      }
    }

    .img-educativo {
      width: 300px;
    }

    &.flex-row {
      flex-direction: column;
    }

    .text-center {
      text-align: center;
    }
    .text {
      width: 800px;

      &.w20 {
        width: 200px;
      }
      p {
        margin: 15px 0;
        font-size: 1.2rem;
      }
    }
    img {
      width: 150px;
    }
  }

  .content2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    min-height: 100vh;
    width: 100%;
    .text {
      width: 800px;

      &.w20 {
        width: 200px;
      }
      p {
        margin: 15px 0;
        font-size: 1.2rem;
      }
    }
    img {
      width: 150px;
    }
  }
}

@media screen and (max-width: 480px) {
  .educativo {
    .section-icons {
      position: initial;
      display: flex;
      flex-direction: row;
      margin: 20px 0;
      column-gap: 10px;
    }

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 50px;
      flex-direction: column-reverse;

      .img-educativo {
        width: 90%;
      }

      .text {
        width: 100%;
        margin: 0 50px;
        padding: 0 30px;
        p {
          margin: 15px 0;
        }
      }
      img {
        width: 300px;
      }
    }

    .content2 {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 0px;
      flex-direction: row;

      .text {
        width: 150px;
        padding: 0 30px;
        p {
          margin: 15px 0;
        }
      }
      img {
        width: 100px;
      }
    }
  }
}
</style>
