<template>
  <div>
    <cookie-law
      buttonText="Ok!"
      message="Este site utiliza cookies de terceiros para recompilar informação estatística sobre sua navegação. Se continuar a navegar, consideramos que aceita o uso."
    ></cookie-law>
    <Initial />
    <Abertura />
    <Abertura2 />
    <Nucleo11 />
    <Nucleo121 />
    <Nucleo12 />
    <Nucleo13 />
    <Nucleo14 />
    <Nucleo15 />
    <Nucleo21 />
    <Nucleo22 />
    <Tunel1 />
    <Nucleo23 v-if="false" />
    <Nucleo24 v-if="false" />
    <Nucleo25 v-if="false" />
    <Nucleo26 v-if="false" />

    <Tunel2 />
    <Nucleo27 v-if="false" />
    <Nucleo281 v-if="false" />
    <Nucleo29 v-if="false" />
    <Nucleo210 v-if="false" />
    <Nucleo28 v-if="false" />
    <Nucleo31 />
    <Nucleo310 />
    <Nucleo32 />
    <Quiz />
    <Nucleo35 />
    <Nucleo36 />
    <Nucleo40 />
    <Nucleo412 />
    <Nucleo41 />
    <Nucleo421 />
    <Nucleo43 />
    <Nucleo42 />
    <Nucleo45 />
    <QuizEmaranhado />
    <Nucleo46 />
    <Depoimentos />
    <Livro />
    <Creditos />
    <go-top
      bottom="25px"
      right="20px"
      bg-color="#e5e5e5"
      fg-color="#444444"
      :max-width="100"
      :size="40"
      bottom-gap="10px"
      style="background-size: 30px"
      @click="stopAudio"
    ></go-top>
  </div>
</template>

<script>
import CookieLaw from "vue-cookie-law";
import GoTop from "@inotom/vue-go-top";
import Tunel1 from "@/sections/Tunel1.vue";
import Tunel2 from "@/sections/Tunel2.vue";
import Initial from "@/sections/01-Initial";
import Abertura from "@/sections/02-Abertura";
import Abertura2 from "@/sections/03-Abertura2";
import Nucleo11 from "@/sections/04-Nucleo1-1";
import Nucleo121 from "@/sections/05-Nucleo1-2-1";
import Nucleo12 from "@/sections/05-Nucleo1-2";
import Nucleo13 from "@/sections/06-Nucleo1-3";
import Nucleo14 from "@/sections/07-Nucleo1-4";
import Nucleo15 from "@/sections/08-Nucleo1-5";
import Nucleo21 from "@/sections/09-Nucleo2-1";
import Nucleo22 from "@/sections/10-Nucleo2-2";
import Nucleo23 from "@/sections/11-Nucleo2-3";
import Nucleo24 from "@/sections/12-Nucleo2-4";
import Nucleo25 from "@/sections/13-Nucleo2-5";
import Nucleo26 from "@/sections/14-Nucleo2-6";
import Nucleo27 from "@/sections/15-Nucleo2-7";
import Nucleo281 from "@/sections/16-Nucleo2-8-1";
import Nucleo28 from "@/sections/16-Nucleo2-8";
import Nucleo29 from "@/sections/17-Nucleo2-9";
import Nucleo210 from "@/sections/18-Nucleo2-10";
import Nucleo31 from "@/sections/19-Nucleo3-1";
import Nucleo310 from "@/sections/19-1-Nucleo3-1";
import Nucleo32 from "@/sections/20-Nucleo3-2";
import Quiz from "@/sections/Quiz";
import Nucleo35 from "@/sections/23-Nucleo3-5";
import Nucleo36 from "@/sections/24-Nucleo3-6";
import Nucleo40 from "@/sections/25-Nucleo4-0";
import Nucleo41 from "@/sections/25-Nucleo4-1";
import Nucleo412 from "@/sections/25-Nucleo4-1-2";
import Nucleo421 from "@/sections/26-Nucleo4-2-1";
import Nucleo42 from "@/sections/26-Nucleo4-2";
import Nucleo43 from "@/sections/27-Nucleo4-3";
// import Nucleo44 from "@/sections/28-Nucleo4-4";
import Nucleo45 from "@/sections/29-Nucleo4-5";
import Nucleo46 from "@/sections/30-Nucleo4-6";
import QuizEmaranhado from "@/sections/QuizEmaranhado";
import Depoimentos from "@/sections/Depoimentos";
import Livro from "@/sections/Livro";
import Creditos from "@/sections/Creditos";
export default {
  components: {
    CookieLaw,
    GoTop,
    Initial,
    Abertura,
    Abertura2,
    Nucleo11,
    Nucleo121,
    Nucleo12,
    Nucleo13,
    Nucleo14,
    Nucleo15,
    Nucleo21,
    Nucleo22,
    Nucleo23,
    Nucleo24,
    Nucleo25,
    Nucleo26,
    Nucleo27,
    Nucleo281,
    Nucleo28,
    Nucleo29,
    Nucleo210,
    Nucleo31,
    Nucleo310,
    Nucleo32,
    Quiz,
    Nucleo35,
    Nucleo36,
    Nucleo40,
    Nucleo41,
    Nucleo412,
    Nucleo421,
    Nucleo42,
    Nucleo43,
    // Nucleo44,
    Nucleo45,
    Nucleo46,
    QuizEmaranhado,
    Depoimentos,
    Livro,
    Creditos,
    Tunel1,
    Tunel2,
  },
  data() {
    return {};
  },
  mounted() {},
  methods: {
    stopAudio() {
      this.$store.commit("stopAudio");
    },
  },
};
</script>
<style lang="scss" scoped></style>
