<template>
  <div class="programacao">
    <PlayerAcessibilidade link="https://www.youtube.com/embed/tHQ2FsBYGKE" />
    <div class="titles">LIVES</div>
    <div class="text">
      <p>
        A proposta das lives é abordar temáticas da cibercultura junto a
        pesquisadores e profissionais da área. Abordaremos preservação digital,
        mulheres e ciberespaço, acessibilidade na web e mais.
      </p>
      <br />
      <p>
        As atividades são gratuitas e terão certificado de participação emitido
        pela PROREXT/UFRGS. Se inscreva pelo formulário,
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSfSqOao83JnKBAA5ay70d4S5-ZcbxuYE5AGQoqAdTf9pOBL5Q/viewform"
          target="_blank"
          >aqui</a
        >. Os encontros terão tradução em Libras.
      </p>
      <br />
      <br />
      <div class="card-prog" @click="goTo('https://youtu.be/XXB9ieyuGvQ')">
        <div class="left"><img src="@/assets/images/card_1.png" /></div>
        <div class="right">
          <b>Abertura EMARANHADO: reflexões sobre a cibercultura</b><br /><br />
          <p>
            Evento para conhecer o processo de concepção e planejamentoda 11ª
            exposição curricular do Curso de Museologia/UFRGS, a segunda em
            formato online. Não perca as dicas de como se emaranhar e aproveitar
            a experiência!
          </p>
          <br />
          <br />
          <b>Data:</b> 11/10, segunda-feira, às 19h (horário de Brasília) <br />
          <b>Local:</b> YouTube da Museologia UFRGS <br />
          <b>Link de acesso:</b>
          <a href="https://youtu.be/XXB9ieyuGvQ" target="_blank">
            https://youtu.be/XXB9ieyuGvQ
          </a>
        </div>
      </div>
      <div class="card-prog" @click="goTo('https://youtu.be/zA7iFPVVLcs')">
        <PlayerAcessibilidade
          link="https://www.youtube.com/embed/tHQ2FsBYGKE"
          is-card
        />
        <div class="left"><img src="@/assets/images/card_2.png" /></div>
        <div class="right">
          <b>O que guardar? Preservação da memória no mundo digital</b
          ><br /><br />
          <p>
            Live que busca pensar a relevância social da preservação de
            documentos pessoais, perda de registros por obsolescência
            programada, preservação da memória coletiva na era digital. Com Vera
            Dodebei (RJ) e Marina Damin (RJ). Essa é a primeira atividade do
            Ciclo de Conversas que integra a programação educativo-cultural da
            EMARANHADO. Conta com tradução em Libras. Evento gratuito com
            certificação, inscreva-se
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLSfSqOao83JnKBAA5ay70d4S5-ZcbxuYE5AGQoqAdTf9pOBL5Q/viewform"
              target="_blank"
              >aqui</a
            >.
          </p>
          <br />
          <br />
          <b>Data:</b> 12/10, terça-feira, às 19h (horário de Brasília) <br />
          <b>Local:</b> YouTube da Museologia UFRGS <br />
          <b>Link de acesso:</b>
          <a href="https://youtu.be/zA7iFPVVLcs" target="_blank">
            https://youtu.be/zA7iFPVVLcs
          </a>
        </div>
      </div>
      <div class="card-prog" @click="goTo('https://youtu.be/D5Inn_pdadM')">
        <PlayerAcessibilidade
          link="https://www.youtube.com/embed/5qb5brydVac"
          is-card
        />
        <div class="left"><img src="@/assets/images/card_3.png" /></div>
        <div class="right">
          <b
            >Acessibilidade e tecnologia: diretrizes e ferramentas para o
            ambiente museal</b
          ><br /><br />
          <p>
            Mesa que busca pensar o uso das tecnologias para a acessibilidade em
            instituições culturais e museológicas no Brasil, suas
            potencialidades e desafios, com Jéssica Norberto (EUA). Conta com
            tradução em Libras. Evento gratuito com certificação, inscreva-se
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLSfSqOao83JnKBAA5ay70d4S5-ZcbxuYE5AGQoqAdTf9pOBL5Q/viewform"
              target="_blank"
              >aqui</a
            >.
          </p>
          <br />
          <br />
          <b>Data:</b> 19/10, terça-feira, às 19h (horário de Brasília) <br />
          <b>Local:</b> YouTube da Museologia UFRGS <br />
          <b>Link de acesso:</b>
          <a href="https://youtu.be/D5Inn_pdadM" target="_blank">
            https://youtu.be/D5Inn_pdadM
          </a>
        </div>
      </div>
      <div class="card-prog" @click="goTo('https://youtu.be/GOS1CXibllA')">
        <PlayerAcessibilidade
          link="https://www.youtube.com/embed/I7io2EHmSeY"
          is-card
        />
        <div class="left"><img src="@/assets/images/card_4.png" /></div>
        <div class="right">
          <b>Mulheres e internet: trajetórias e desafios</b><br /><br />
          <p>
            Mesa que convida a pensar a presença das mulheres na área da ciência
            da computação e informática, com o Projeto Enigma: Mulheres na
            Computação (RS). Conta com tradução em Libras. Evento gratuito com
            certificação, inscreva-se
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLSfSqOao83JnKBAA5ay70d4S5-ZcbxuYE5AGQoqAdTf9pOBL5Q/viewform"
              target="_blank"
              >aqui</a
            >.
          </p>
          <br />
          <br />
          <b>Data:</b> 26/10, terça-feira, às 19h (horário de Brasília) <br />
          <b>Local:</b> YouTube da Museologia UFRGS <br />
          <b>Link de acesso:</b>
          <a href="https://youtu.be/GOS1CXibllA" target="_blank">
            https://youtu.be/GOS1CXibllA
          </a>
        </div>
      </div>
      <div class="card-prog" @click="goTo('https://youtu.be/IMNKy5zqdhY')">
        <PlayerAcessibilidade
          link="https://www.youtube.com/embed/1SPcF2fnv_4"
          is-card
        />
        <div class="left"><img src="@/assets/images/card_5.png" /></div>
        <div class="right">
          <b
            >Preservação e documentação de acervos na era da cibercultura: o
            panorama brasileiro</b
          ><br /><br />
          <p>
            Mesa que busca pensar a preservação do patrimônio brasileiro por
            meios digitais, com Lucas Bambozzi (SP). Conta com tradução em
            Libras. Evento gratuito com certificação, inscreva-se
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLSfSqOao83JnKBAA5ay70d4S5-ZcbxuYE5AGQoqAdTf9pOBL5Q/viewform"
              target="_blank"
              >aqui</a
            >.
          </p>
          <br />
          <br />
          <b>Data:</b> 11/11, quinta-feira, às 19h (horário de Brasília) <br />
          <b>Local:</b> YouTube da Museologia UFRGS <br />
          <b>Link de acesso:</b>
          <a href="https://youtu.be/IMNKy5zqdhY" target="_blank">
            https://youtu.be/IMNKy5zqdhY
          </a>
        </div>
      </div>
    </div>
    <div class="titles">PODCAST</div>
    <div class="text" style="position: relative">
      <PlayerAcessibilidade
        link="https://www.youtube.com/embed/P0M_FG0C7pQ"
        is-card
      />
      Farol Convida é uma série do Podcast Farol - Conexões da Informação.
      Durante o mês de outubro a EMARANHADO ocupa este espaço em parceria com a
      equipe do Farol, para ouvir, dialogar e problematizar diferentes assuntos
      da cibercultura.
      <a href="https://www.ufrgs.br/farol/" target="_blank"
        >Confira o podcast Farol</a
      >
      e escute nossos convidados!
      <br />
      <br />
      Acompanhe nossa playlist de episódios
      <a
        href="https://open.spotify.com/playlist/18PxpT3PFOpcoQwzrxZcW2?si=89eb14f4513348d9&nd=1"
        target="_blank"
        >aqui</a
      >.
    </div>
    <div class="card-pop">
      <iframe
        src="https://open.spotify.com/embed/episode/71Q3qmDJcoo1qLRluKeYKa?theme=0"
        width="100%"
        height="232"
        frameBorder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      ></iframe>
      <div class="content">
        <b>EPISÓDIO DE ABERTURA</b>
        <br />
        <br />
        <p>
          No primeiro episódio da temporada Farol Convida, a equipe curatorial
          apresenta os bastidores da exposição.
        </p>
      </div>
    </div>
    <div class="card-prog">
      <PlayerAcessibilidade
        link="https://www.youtube.com/embed/7Piy7ZMpFcU"
        is-card
      />
      <iframe
        src="https://open.spotify.com/embed/episode/1pasHgFXhB93aCfaI7dJa8?utm_source=generator&theme=0"
        width="100%"
        height="232"
        frameBorder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      ></iframe>
      <div class="right">
        <b>A partir de 14 de outubro Ep. 02 com Lola Aronovich: </b><br /><br />
        <p>
          Amanda, integrante do Farol, e as curadoras Fernanda e Suzana convidam
          Lola Aronovich, blogueira, feminista e professora na Universidade
          Federal do Ceará. Lola fala sobre usos da internet, ativismo digital e
          sobre a Lei Lola, que leva o seu nome e atribui à Polícia Federal a
          investigação de crimes cibernéticos contra mulheres.
        </p>
        <br />
      </div>
    </div>
    <div class="card-prog">
      <PlayerAcessibilidade
        link="https://www.youtube.com/embed/hK7nzEfuxjI"
        is-card
      />
      <iframe
        src="https://open.spotify.com/embed/episode/1nQAgtmuzTzH8c3qSuRRhq?utm_source=generator&theme=0"
        width="100%"
        height="232"
        frameBorder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      ></iframe>
      <div class="right">
        <b>A partir de 21 de outubro Ep. 03 com Fabiano Menke: </b><br /><br />
        <p>
          As curadoras Suzana e Cristine conversam com Fabiano Menke, professor
          da Faculdade de Direito da UFRGS e integrante do Conselho Nacional de
          Proteção de Dados. Fabiano fala sobre compartilhamento de dados online
          e a nova Lei Geral de Proteção de Dados Pessoais, sua aplicação e
          potências.
        </p>
        <br />
      </div>
    </div>
    <div class="card-prog">
      <PlayerAcessibilidade
        link="https://www.youtube.com/embed/LAfayTUcSiQ"
        is-card
      />
      <iframe
        src="https://open.spotify.com/embed/episode/0TV4mW32WeHkrmmze8Iwv9?utm_source=generator&theme=0"
        width="100%"
        height="232"
        frameBorder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      ></iframe>

      <div class="right">
        <b
          >A partir de 28 de outubro Ep. 04 com Clarice Tavares, do InternetLAB: </b
        ><br /><br />
        <p>
          A curadora Suzana conversa com Clarice Tavares, integrante do projeto
          InternetLab. Clarice compartilha as linhas de pesquisas trabalhadas
          pela iniciativa como privacidade e vigilância, desigualdades e
          identidades. Acompanhe o bate-papo!
        </p>
        <br />
      </div>
    </div>
    <div class="card-prog">
      <PlayerAcessibilidade
        link="https://www.youtube.com/embed/1MbIvI7S4zo"
        is-card
      />
      <iframe
        src="https://open.spotify.com/embed/episode/3d1Hc6jslVMvdiBKOt0DZ1?utm_source=generator&theme=0"
        width="100%"
        height="232"
        frameBorder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      ></iframe>
      <div class="right">
        <b>A partir de 04 de novembro Ep. 05, </b><br />
        <p>
          o episódio de encerramento da série especial Farol convida Exposição
          EMARANHADO.
        </p>
        <br />
      </div>
    </div>
    <div class="card-prog">
      <div class="left"></div>
      <div class="right">
        <b
          >A partir de 04 de novembro Ep. 05, o episódio de encerramento da
          série especial Farol convida Exposição EMARANHADO. </b
        ><br />
        <br />
        <br />
        <p>
          Nutrição e cibercultura combinam? Para descobrir, as curadoras
          Gabriela Mattia e Suzana conversaram com Thaiana Lindemann e Pablo
          Couto, colegas do curso da Nutrição/UFRGS. Os dois criaram o podcast
          Nóz da Nutrição, onde abordam diversas temáticas. Confira nosso último
          episódio da série.
        </p>
        <br />
      </div>
    </div>
  </div>
</template>

<script>
import PlayerAcessibilidade from "@/components/PlayerAcessibilidade";
export default {
  components: {
    PlayerAcessibilidade,
  },
  methods: {
    goTo() {
      // window.open(link, "_blank");
    },
  },
};
</script>
<style lang="scss" scoped>
.programacao {
  position: relative;
  min-height: 100vh;
  background-color: #fc4632;
  color: var(--white);
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 0.1rem;
  padding: 60px 0;

  .titles {
    width: 700px;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .text {
    width: 700px;
    margin-bottom: 30px;
  }

  .card-pop {
    display: flex;
    background-color: white;
    max-width: 700px;
    border-radius: 20px;
    color: var(--primary-color);
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 40px;
    padding: 30px;
    position: relative;
  }

  .card-prog {
    display: flex;
    background-color: white;
    max-width: 700px;
    border-radius: 20px;
    padding: 30px;
    color: var(--primary-color);
    column-gap: 30px;
    margin-bottom: 40px;
    row-gap: 30px;
    position: relative;

    .left {
      display: flex;
      align-items: center;
      img {
        width: 300px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .programacao {
    .titles {
      width: 90%;
      text-align: center;
    }

    .text {
      width: 90%;
      margin-bottom: 30px;
    }

    .card-pop {
      font-size: 0.9rem;
      display: flex;
      flex-wrap: wrap;
      background-color: white;
      max-width: 90%;
      border-radius: 20px;
      color: var(--primary-color);
      column-gap: 30px;
      row-gap: 30px;
      margin-bottom: 40px;
      padding: 30px;
    }

    .card-prog {
      font-size: 0.9rem;
      display: flex;
      flex-wrap: wrap;
      background-color: white;
      max-width: 700px;
      border-radius: 20px;
      padding: 30px;
      color: var(--primary-color);
      column-gap: 30px;
      margin-bottom: 40px;
      row-gap: 30px;

      .left {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 95%;
        }
      }

      .right {
        max-width: 95%;
      }
    }
  }
}
</style>
