<template>
  <div class="image-full" @click="fechar">
    <div
      v-if="imgSrc"
      :style="{ backgroundImage: `url(${imgSrc})` }"
      class="image-full-container"
    />
  </div>
</template>

<script>
import { scaleOut, scaleIn } from "@/assets/animate";
export default {
  props: {
    isShowed: {
      type: Boolean,
      required: false,
      default: true,
    },
  },
  data() {
    return {
      showed: false,
    };
  },
  watch: {
    isShowed(val, old) {
      if (!old && val) {
        this.showed = true;
        this.showAnimation();
      } else if (old && !val) {
        this.showed = false;
      }
    },
  },
  mounted() {
    if (this.isShowed) this.showed = true;
    this.showAnimation();
  },
  beforeDestroy() {
    scaleOut(this.$el);
  },
  computed: {
    imgSrc() {
      return this.$store.state.image;
    },
  },
  methods: {
    fechar() {
      this.$store.commit("closeFullImage");
    },
    showAnimation() {
      scaleIn(this.$el.lastChild);
    },
  },
};
</script>

<style lang="scss" scoped>
.image-full {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff73;
  position: fixed;
  top: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;

  .image-full-container {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
</style>
