<template>
  <div class="image-holder" :style="{ width: width }" @click="expandir">
    <div v-if="semBordas" class="top" :style="{ backgroundColor: bgColor }">
      <div class="expand">toque para expandir</div>
      <div class="superior">
        <button>
          <img
            data-aos="zoom-out"
            src="@/assets/images/icons/ico-line.png"
            class="opacity"
            disabled
          />
        </button>
        <button><img src="@/assets/images/icons/ico-rect.png" /></button>
        <button>
          <img src="@/assets/images/icons/ico-x.png" class="opacity" disabled />
        </button>
      </div>
    </div>
    <div
      v-if="imgSrc"
      class="image-container"
      :class="{ sem: !semBordas }"
      :style="{ backgroundColor: bgColor }"
    >
      <img
        :src="imgSrc"
        :alt="descricao"
        class="image-size"
        :class="{ sem: !semBordas }"
      />
    </div>
    <slot v-else></slot>
    <div
      v-if="semBordas"
      class="bottom"
      :style="{ backgroundColor: bgColor }"
      v-html="legenda"
    ></div>
    <div v-else class="bottom-sem-bordas" v-html="legenda"></div>
  </div>
</template>

<script>
export default {
  props: {
    width: {
      type: String,
      default: "400px",
    },
    semBordas: {
      type: Boolean,
      default: true,
    },
    bgColor: {
      type: String,
      default: "#c94436",
    },
    imgSrc: {
      type: String,
      default: "",
    },
    legenda: {
      type: String,
      default: "legenda",
    },
    descricao: {
      type: String,
      default: "",
    },
  },
  methods: {
    expandir() {
      this.$store.commit("openFullImage", this.imgSrc);
    },
  },
};
</script>

<style lang="scss" scoped>
.image-holder {
  letter-spacing: 0.1rem;

  .image-container {
    width: 100%;
    border-left: 2px solid black;
    border-right: 2px solid black;

    &.sem {
      border: none;
    }
  }
  .image-size {
    width: 100%;
    padding: 10px 15px;
    &.sem {
      padding: 5px 5px;
    }
  }
  .top {
    position: relative;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
    color: white;
    font: Museo;

    .superior {
      display: flex;
      align-items: center;
      column-gap: 6px;

      button {
        display: flex;
        align-items: center;

        img {
          filter: invert(100%);

          &.opacity {
            opacity: 0.5;
          }
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    padding: 15px 15px;
    border: 2px solid black;
    border-radius: 0 0 10px 10px;
    color: white;
    font: Museo;
    font-size: 0.9rem;
  }

  .bottom-sem-bordas {
    display: flex;
    color: black;
    text-align: center;
    justify-content: center;
    padding: 5px 2px;
  }
}

@media screen and (max-width: 480px) {
  .image-holder {
    width: 85vw !important;
  }
  .image-size {
    width: 100% !important;
  }

  .bottom-sem-bordas {
    font-size: 0.6rem;
  }
}
</style>
