<template>
  <div class="particles">
    <div :style="{ height: height }" :id="idTag"></div>
  </div>
</template>

<script>
import "particles.js";
export default {
  name: "Particles",
  mounted() {
    this.initParticles();
  },
  props: {
    height: {
      type: String,
      default: "100vh",
    },
    corLinhas: {
      type: String,
      default: "#E3E3E3",
    },
    idTag: {
      type: String,
      default: "particles-js",
    },
  },
  methods: {
    initParticles() {
      window.particlesJS(this.idTag, {
        particles: {
          number: {
            value: 150,
            density: {
              enable: true,
              value_area: 700,
            },
          },
          color: {
            value: this.corLinhas,
          },
          shape: {
            type: "circle",
            stroke: {
              width: 1,
              color: this.corLinhas,
            },
            polygon: {
              nb_sides: 5,
            },
          },
          opacity: {
            value: 0.8,
            random: false,
            anim: {
              enable: false,
              speed: 1,
              opacity_min: 0.1,
              sync: false,
            },
          },
          size: {
            value: 3,
            random: true,
            anim: {
              enable: false,
              speed: 30,
              size_min: 0.1,
              sync: false,
            },
          },
          line_linked: {
            enable: true,
            distance: 150,
            color: this.corLinhas,
            opacity: 0.8,
            width: 2,
          },
          move: {
            enable: true,
            speed: 6,
            direction: "none",
            random: false,
            straight: false,
            out_mode: "out",
            bounce: false,
            attract: {
              enable: false,
              rotateX: 600,
              rotateY: 1200,
            },
          },
        },
        interactivity: {
          detect_on: "canvas",
          events: {
            onhover: {
              enable: true,
              mode: "grab",
            },
            onclick: {
              enable: true,
              mode: "push",
            },
            resize: true,
          },
          modes: {
            grab: {
              distance: 180,
              line_linked: {
                opacity: 1,
              },
            },
            bubble: {
              distance: 400,
              size: 40,
              duration: 2,
              opacity: 8,
              speed: 3,
            },
            repulse: {
              distance: 200,
              duration: 0.4,
            },
            push: {
              particles_nb: 2,
            },
            remove: {
              particles_nb: 2,
            },
          },
        },
        retina_detect: true,
      });
    },
  },
};
</script>

<style scoped>
.particles {
  position: absolute;
}
</style>
