<template>
  <div
    v-if="link"
    class="acessibilidade-player"
    :class="isCard ? 'is-card' : ''"
  >
    <div class="video-background" v-if="aberto">
      <iframe
        v-if="link"
        width="240"
        height="172"
        :src="link"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="iframe-video"
      ></iframe>
    </div>

    <img
      class="button-on"
      v-if="aberto"
      width="40px"
      src="@/assets/images/icons/icon-fechar.png"
      v-tooltip.top-center="'Clique para fechar o vídeo'"
      @click="fecharVideo"
    />
    <img
      class="button-on"
      v-else
      width="40px"
      src="@/assets/images/icons/icon-acessibilidade.png"
      v-tooltip.top-center="'Clique para abrir o vídeo de acessibilidade'"
      @click="abrirVideo"
    />
  </div>
</template>

<script>
export default {
  props: {
    link: {
      type: String,
      default: null,
    },
    isCard: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      aberto: false,
    };
  },
  methods: {
    abrirVideo() {
      this.aberto = true;
    },
    fecharVideo() {
      this.aberto = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.acessibilidade-player {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;

  .button-on {
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
  }

  .iframe-video {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .video-background {
    position: absolute;
    top: 20px;
    right: 60px;
    width: 240px;
    height: 172px;
    background-color: #000;
  }

  &.is-card {
    .button-on {
      position: absolute;
      right: -60px;
      top: 20px;
    }

    .video-background {
      position: absolute;
      right: -310px;
    }
  }
}
@media screen and (max-width: 480px) {
  .acessibilidade-player {
    &.is-card {
      .button-on {
        position: absolute;
        right: 10px;
        top: 20px;
      }

      .video-background {
        position: absolute;
        top: 30px;
        right: 70px;
        width: 240px;
        height: 172px;
        background-color: #000;
      }
    }
  }
}
</style>
