<template>
  <div class="backdrop" @click="clickButton">
    <div class="popup">
      <div class="top">
        <div class="superior" @click="clickButton">
          <button><img src="@/assets/images/icons/ico-line.png" /></button>
          <button><img src="@/assets/images/icons/ico-rect.png" /></button>
          <button><img src="@/assets/images/icons/ico-x.png" /></button>
        </div>
      </div>
      <div class="content">
        <img v-if="obj.image" :src="obj.image" :alt="obj.legendaFoto" />
        <div class="textos">
          <div class="text" v-html="obj.text"></div>
          <div class="credits" v-html="obj.credits"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { scaleOut, scaleIn } from "@/assets/animate";
export default {
  name: "PopUpObjeto",
  props: {
    obj: {
      type: Object,
      required: true,
    },
    isShowed: {
      type: Boolean,
      required: false,
      default: true,
    },
  },
  watch: {
    isShowed(val, old) {
      if (!old && val) {
        this.showed = true;
        this.showAnimation();
      } else if (old && !val) {
        this.showed = false;
      }
    },
  },
  data() {
    return {
      showed: false,
    };
  },
  mounted() {
    if (this.isShowed) this.showed = true;
    this.showAnimation();
  },
  beforeDestroy() {
    scaleOut(this.$el);
  },
  methods: {
    clickButton() {
      this.$emit("close");
    },
    showAnimation() {
      scaleIn(this.$el.lastChild);
    },
  },
};
</script>

<style lang="scss" scoped>
.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffffc0;
  display: flex;
  align-items: center;
  justify-content: center;

  .popup {
    width: 600px;
    // height: 500px;
    position: relative;
    background-color: #1e3492;
    border-radius: 20px;
    border: 3px solid black;
    color: white;

    .top {
      position: relative;
      top: -3px;
      margin-left: -3px;
      margin-right: -3px;
      height: 40px;
      background-color: #1e3492;
      border: 3px solid black;
      border-radius: 20px 20px 0 0;
      display: flex;
      align-items: center;
      padding: 0 10px;
      justify-content: flex-end;

      .superior {
        display: flex;
        align-items: center;
        column-gap: 6px;

        button {
          display: flex;
          align-items: center;
        }
      }
    }

    .content {
      display: flex;
      align-items: flex-start;
      color: white;
      justify-content: center;
      padding: 25px;
      letter-spacing: 0.1rem;
      font-size: 1rem;

      img {
        width: 200px;
        padding-top: 25px;
      }

      .button-gray {
        font-weight: 900;
        font-family: Museo;
      }

      .text {
        padding: 25px;
        margin-bottom: 20px;
      }
      .credits {
        padding: 25px;
        font-size: 0.9rem;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .backdrop {
    .popup {
      width: 85vw;
    }
  }

  .backdrop .popup .content {
    flex-direction: column;
    align-items: center;
  }

  .backdrop .popup .content img {
    width: inherit;
    height: 150px;
    padding-top: 0px;
  }

  .backdrop .popup .content .text {
    padding: 30px 0;
    font-size: 0.9rem;
    margin-bottom: 0px;
  }
  .backdrop .popup .content .credits {
    padding: 10px 0;
    font-size: 0.8rem;
  }
}
</style>
