<template>
  <div class="backdrop">
    <div class="popup">
      <div class="top">
        <div class="superior" @click="clickButton">
          <!-- <button><img src="@/assets/images/icons/ico-line.png" /></button>
          <button><img src="@/assets/images/icons/ico-rect.png" /></button> -->
          <button><img src="@/assets/images/icons/ico-x.png" /></button>
        </div>
      </div>
      <div class="content">
        <div class="text">
          Fique à vontade para deixar seu depoimento aqui. <br />
          Quando terminar é só clicar em salvar! <br />Caso desista de mandar,
          basta fechar a caixa.
        </div>
        <textarea class="input-text" type="text" v-model="inputText" />
        <button
          class="button-gray"
          v-html="textButton"
          @click="enviar"
        ></button>
      </div>
    </div>
  </div>
</template>

<script>
import { scaleOut, scaleIn } from "@/assets/animate";
export default {
  name: "PopUpDepoimento",
  props: {
    textButton: {
      type: String,
      default: "/Enviar_",
    },
    isShowed: {
      type: Boolean,
      required: false,
      default: true,
    },
  },
  watch: {
    isShowed(val, old) {
      if (!old && val) {
        this.showed = true;
        this.showAnimation();
      } else if (old && !val) {
        this.showed = false;
      }
    },
  },
  data() {
    return {
      showed: false,
      inputText: null,
    };
  },
  mounted() {
    if (this.isShowed) this.showed = true;
    this.showAnimation();
  },
  beforeDestroy() {
    scaleOut(this.$el);
  },
  methods: {
    clickButton() {
      this.$emit("close");
    },
    enviar() {
      this.$emit("enviar", this.inputText);
    },
    showAnimation() {
      scaleIn(this.$el.lastChild);
    },
  },
};
</script>

<style lang="scss" scoped>
.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffffc0;
  display: flex;
  align-items: center;
  justify-content: center;

  .popup {
    width: 500px;
    height: 500px;
    position: relative;
    background-color: white;
    border-radius: 20px;
    border: 3px solid black;

    .top {
      position: relative;
      top: -3px;
      margin-left: -3px;
      margin-right: -3px;
      height: 40px;
      background-color: var(--primary-color);
      border: 3px solid black;
      border-radius: 20px 20px 0 0;
      display: flex;
      align-items: center;
      padding: 0 10px;
      justify-content: flex-end;

      .superior {
        display: flex;
        align-items: center;
        column-gap: 6px;

        button {
          display: flex;
          align-items: center;
        }
      }
    }

    .content {
      display: flex;
      align-items: center;
      flex-direction: column;
      color: black;
      display: flex;
      justify-content: center;

      .title {
        margin-top: 40px;
        text-transform: uppercase;
        font-weight: 900;
        font-family: Museo;
        font-size: 1.5rem;
      }

      .button-gray {
        font-weight: 900;
        font-family: Museo;
        color: var(--primary-color);
        background-color: white;
        border: 2px solid var(--primary-color);
        text-transform: lowercase;
      }

      .text {
        text-align: center;
        padding: 25px;
        margin-bottom: 20px;
        color: var(--primary-color);
      }

      .input-text {
        border: 2px solid var(--primary-color);
        padding: 20px;
        width: 320px;
        height: 180px;
        border-radius: 20px;
        margin-bottom: 30px;
        outline: none;

        :focus-visible {
          outline: none !important;
          border: 3px solid var(--primary-color);
        }
      }
      .info {
        padding: 20px;
        font-size: 0.8rem;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .backdrop {
    .popup {
      width: 85vw;
    }
  }

  .backdrop .popup .content .input-text {
    width: 90%;
  }

  .backdrop .popup .content .button-gray {
    min-width: 90%;
  }
}
</style>
