<template>
  <div class="backdrop">
    <div class="popup">
      <div class="top">
        <div class="superior" @click="clickButton">
          <button><img src="@/assets/images/icons/ico-line.png" /></button>
          <button><img src="@/assets/images/icons/ico-rect.png" /></button>
          <button><img src="@/assets/images/icons/ico-x.png" /></button>
        </div>
      </div>
      <div class="content">
        <div class="title" v-html="title"></div>
        <div class="text" v-html="text"></div>
        <button
          class="button-gray"
          v-html="textButton"
          @click="clickButton"
        ></button>
        <div class="info" v-html="info"></div>
      </div>
    </div>
  </div>
</template>

<script>
import { scaleOut, scaleIn } from "@/assets/animate";
export default {
  name: "PopUpCinza",
  props: {
    title: {
      type: String,
      default: "ESTE SITE UTILIZA COOKIES",
    },
    text: {
      type: String,
      default:
        "Nós utilizamos a política de cookies para melhorar a experiência do usuário, registrando todas as suas informações, para deixar a sua navegação mais rápida e você não perder tanto tempo. Também utilizamos para roubar seus dados e vendê-los para grandes empresas, colocar uma escuta no seu dispositivo e acionar a câmera para podermos espionar suas vidas. Mas não se preocupe, nada disso será um inconveniente para você, afinal, quem é que lê os textos de termos de uso e essas coisas, não é mesmo?*",
    },
    textButton: {
      type: String,
      default: "ACEITAR TODOS OS COOKIES",
    },
    info: {
      type: String,
      default: "*este texto contém ironia",
    },
    isShowed: {
      type: Boolean,
      required: false,
      default: true,
    },
  },
  watch: {
    isShowed(val, old) {
      if (!old && val) {
        this.showed = true;
        this.showAnimation();
      } else if (old && !val) {
        this.showed = false;
      }
    },
  },
  data() {
    return {
      showed: false,
    };
  },
  mounted() {
    if (this.isShowed) this.showed = true;
    this.showAnimation();
  },
  beforeDestroy() {
    scaleOut(this.$el);
  },
  methods: {
    clickButton() {
      this.$emit("close");
    },
    showAnimation() {
      scaleIn(this.$el.lastChild);
    },
  },
};
</script>

<style lang="scss" scoped>
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffffc0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  .popup {
    width: 500px;
    min-height: 500px;
    position: relative;
    background-color: var(--gray);
    border-radius: 20px;
    border: 3px solid black;

    .top {
      position: relative;
      top: -3px;
      margin-left: -3px;
      margin-right: -3px;
      height: 40px;
      background-color: #686c71;
      border: 3px solid black;
      border-radius: 20px 20px 0 0;
      display: flex;
      align-items: center;
      padding: 0 10px;
      justify-content: flex-end;

      .superior {
        display: flex;
        align-items: center;
        column-gap: 6px;

        button {
          display: flex;
          align-items: center;
        }
      }
    }

    .content {
      display: flex;
      align-items: center;
      flex-direction: column;
      color: black;
      display: flex;
      justify-content: center;

      .title {
        margin-top: 40px;
        text-transform: uppercase;
        font-weight: 900;
        font-family: Museo;
        font-size: 1.5rem;
      }

      .button-gray {
        font-weight: 900;
        font-family: Museo;
      }

      .text {
        text-align: center;
        padding: 25px;
        margin-bottom: 20px;
        letter-spacing: 0.1rem;
      }
      .info {
        padding: 20px;
        font-size: 0.8rem;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .backdrop {
    .popup {
      width: 80%;
      min-height: 600px;
    }
  }

  .content {
    .title {
      font-size: 1.1rem !important;
      text-align: center;
    }

    .text {
      font-size: 0.92rem !important;
      letter-spacing: 0rem !important;
    }
  }

  .button-gray {
    min-width: 200px;
    width: 80%;
    font-size: 1.1rem !important;
  }
}
</style>
