<template>
  <div
    class="video-holder"
    :style="{ width: width }"
    @click="expandir"
    @mouseover="playHover"
    @mouseleave="stopVideo"
  >
    <div class="margin-top"></div>
    <ScrollObserver
      sentinal-name="init-video"
      @on-intersection-element="initVideo"
    ></ScrollObserver>
    <div v-if="semBordas" class="top" :style="{ backgroundColor: bgColor }">
      <div class="expand">toque duas vezes no video para expandir</div>
      <div class="superior">
        <button>
          <img
            data-aos="zoom-out"
            src="@/assets/images/icons/ico-line.png"
            class="opacity"
            disabled
          />
        </button>
        <button><img src="@/assets/images/icons/ico-rect.png" /></button>
        <button>
          <img src="@/assets/images/icons/ico-x.png" class="opacity" disabled />
        </button>
      </div>
    </div>

    <div class="video-container" :style="{ backgroundColor: bgColor }">
      <div v-if="link" v-html="link"></div>
      <vue-plyr
        v-else
        class="video-size"
        ref="plyr"
        :style="{ backgroundColor: bgColor }"
      >
        <video
          :autoplay="autoPlay"
          :src="videoSrc"
          :aria-label="descricao"
        ></video>
      </vue-plyr>
    </div>

    <div
      v-if="semBordas"
      class="bottom"
      :style="{ backgroundColor: bgColor }"
      v-html="legenda"
    ></div>
    <div v-else class="bottom-sem-bordas" v-html="legenda"></div>
    <div class="margin-bottom"></div>
    <ScrollObserver
      sentinal-name="stop-video"
      @on-intersection-element="stopVideo"
    ></ScrollObserver>
  </div>
</template>

<script>
import Vue from "vue";
import VuePlyr from "vue-plyr";
import "vue-plyr/dist/vue-plyr.css";
import { videos } from "@/consts/videos.js";
import ScrollObserver from "@/components/ScrollObserver";
Vue.use(VuePlyr, {
  plyr: {
    controls: [
      "play-large", // The large play button in the center
      "play", // Play/pause playback
      "progress", // The progress bar and scrubber for playback and buffering
      "current-time", // The current time of playback
      "duration", // The full duration of the media
      "mute", // Toggle mute
      "volume", // Volume control
      "captions", // Toggle captions
      "settings", // Settings menu
      "fullscreen", // Toggle fullscreen
    ],
    i18n: {
      restart: "Reiniciar",
      play: "Começar",
      pause: "Pausar",
      seek: "Seek",
      currentTime: "Tempo Atual",
      duration: "Duração",
      volume: "Volume",
      mute: "Mutar",
      unmute: "Desativar Mudo",
      enableCaptions: "Ativar Legenda",
      disableCaptions: "Desativar Legenda",
      enterFullscreen: "Tela cheia",
      exitFullscreen: "Sair tela cheia",
      captions: "Legenda",
      settings: "Configurações",
      speed: "Velocidade",
      normal: "Normal",
      quality: "Qualidade",
      loop: "Loop",
      start: "Start",
      end: "End",
      all: "All",
      reset: "Reset",
      disabled: "Disabled",
    },
    speed: {
      selected: 1,
      // The options to display in the UI, if available for the source media (e.g. Vimeo and YouTube only support 0.5x-4x)
      options: [0.5, 1, 1.5, 2],
    },
  },
});
export default {
  components: { ScrollObserver },
  props: {
    width: {
      type: String,
      default: "400px",
    },
    autoPlay: {
      type: Boolean,
      default: false,
    },
    link: {
      type: String,
      default: null,
    },
    semBordas: {
      type: Boolean,
      default: true,
    },
    bgColor: {
      type: String,
      default: "#c94436",
    },
    videoSrc: {
      type: String,
      default: videos.bug_milenio,
    },
    legenda: {
      type: String,
      default: "legenda",
    },
    descricao: {
      type: String,
      default: "sem descricao",
    },
  },
  data() {
    return {
      currentVideo: "",
      videos,
    };
  },
  computed: {
    player() {
      return this.$refs.plyr.player;
    },
  },
  created() {},
  methods: {
    expandir() {
      // this.$store.commit("openFullImage", this.imgSrc);
    },
    playVideo() {
      // this.player.play();
    },
    initVideo() {
      // this.player.play();
    },
    playHover() {
      this.player.play();
    },
    stopVideo() {
      this.player.stop();
    },
  },
};
</script>

<style lang="scss" scoped>
.video-holder {
  letter-spacing: 0.1rem;
  z-index: 1;

  .video-container {
    width: 100%;
    border-left: 2px solid black;
    border-right: 2px solid black;
  }

  .video-size {
    width: 100%;
    padding: 10px 15px;
  }

  .margin-top {
    margin-top: 200px;
  }

  .margin-bottom {
    margin-top: 200px;
  }

  .expand {
    padding: 5px 5px;
  }
  .image-size {
    border-left: 2px solid black;
    border-right: 2px solid black;
  }
  .top {
    position: relative;
    min-height: 40px;
    border: 2px solid black;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
    color: white;
    font: Museo;

    .superior {
      display: flex;
      align-items: center;
      column-gap: 6px;

      button {
        display: flex;
        align-items: center;

        img {
          filter: invert(100%);

          &.opacity {
            opacity: 0.5;
          }
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    padding: 15px 15px;
    border: 2px solid black;
    border-radius: 0 0 10px 10px;
    color: white;
    font: Museo;
  }

  .bottom-sem-bordas {
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 15px 15px;
  }
}

@media screen and (max-width: 480px) {
  .video-holder {
    width: 85vw !important;
  }
}
</style>
