<template>
  <div class="home">
    <Particles />
    <img
      class="logo-image"
      src="@/assets/images/logo-big.png"
      alt="Imagem com fundo branco. O logotipo é formado por linhas orgânicas de cor azul, que se cruzam. Algumas linhas possuem pequenos círculos sólidos formando conexões, há também outros círculos menores ao redor das linhas, os círculos também são azuis. A imagem forma um círculo irregular. Sobreposta as linhas, a inscrição “EMARANHADO” em letras de forma na cor laranja. A palavra está dividida em duas linhas, na linha de cima “EMARA” e na linha de baixo “NHADO”. Logo abaixo, a inscrição “reflexões sobre a cibercultura” na cor azul em estilo HTML."
      data-aos="fade-down"
    />
    <div class="section-buttons">
      <button class="button-primary" @click="goEducativo">/educativo</button>
      <button class="button-primary" @click="goProgramacao">
        /programação
      </button>
    </div>
    <div class="section-icons">
      <a
        href="https://www.instagram.com/emaranhado.expo/"
        target="_blank"
        v-tooltip.top-center="'Clique para ir para o instagram'"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <button>
          <img
            src="@/assets/images/icons/ico-instagram.png"
            alt="Instagram"
          /></button
      ></a>
      <a
        href="https://twitter.com/emaranhado_expo"
        target="_blank"
        v-tooltip.top-center="'Clique para ir para o twitter'"
        data-aos="zoom-in"
        data-aos-delay="400"
      >
        <button>
          <img src="@/assets/images/icons/ico-twitter.png" alt="Twitter" />
        </button>
      </a>
      <a
        href="https://vm.tiktok.com/ZMRDTS4ak/"
        target="_blank"
        v-tooltip.top-center="'Clique para ir para o tiktok'"
        data-aos="zoom-in"
        data-aos-delay="600"
      >
        <button>
          <img src="@/assets/images/icons/ico-tiktok.png" alt="tiktok" />
        </button>
      </a>
      <a
        href="https://open.spotify.com/user/02eohrq60h6ew86gm5yij4uml"
        target="_blank"
        v-tooltip.top-center="'Clique para ir para a playlist do spotify'"
        data-aos="zoom-in"
        data-aos-delay="800"
      >
        <button>
          <img src="@/assets/images/icons/ico-spotify.png" alt="spotify" />
        </button>
      </a>
      <a
        href="https://www.youtube.com/c/MuseologiaUFRGS"
        target="_blank"
        v-tooltip.top-center="'Clique para ir para o canal no youtube'"
        data-aos="zoom-in"
        data-aos-delay="1000"
      >
        <button>
          <img src="@/assets/images/icons/ico-youtube.png" alt="youtube" />
        </button>
      </a>
    </div>

    <div class="role">
      role para baixo
      <img src="@/assets/images/icons/ico-down.png" />
    </div>
  </div>
</template>

<script>
import Particles from "@/components/Particles";

export default {
  components: {
    Particles,
  },
  methods: {
    goEducativo() {
      let routeData = this.$router.resolve({ name: "educativo" });
      window.open(routeData.href, "_blank");
    },
    goProgramacao() {
      let routeData = this.$router.resolve({ name: "programacao" });
      window.open(routeData.href, "_blank");
    },
  },
};
</script>
<style lang="scss" scoped>
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  .logo-image {
    width: 400px;
    z-index: 1;
    user-select: none;
    -webkit-user-drag: none;
  }

  .section-buttons {
    z-index: 1;
    margin-top: 30px;
    display: flex;
    column-gap: 30px;
  }

  .section-icons {
    z-index: 1;
    position: absolute;
    left: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  .role {
    position: absolute;
    bottom: 20px;
    color: #ffc2bc;
    font-family: Museo;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .home {
    .logo-image {
      width: 80%;
    }

    .section-buttons {
      flex-direction: column;
      row-gap: 30px;
    }

    .section-icons {
      position: initial;
      display: flex;
      flex-direction: row;
      column-gap: 15px;
      margin-top: 30px;
    }
  }
}
</style>
