<template>
  <div class="abertura">
    <PlayerAcessibilidade link="https://www.youtube.com/embed/0y9HTQ4nrps" />
    <div class="text-vertical">abertura</div>
    <div class="text">
      <p>
        A exposição curricular EMARANHADO: reflexões sobre a cibercultura, da
        Museologia/UFRGS, é fruto de múltiplas inquietações de estudantes, cada
        qual com sua trajetória e interesses. Conceber uma exposição,
        independente do formato ou contexto em que isso se dá, é uma atividade
        colaborativa: feita do coletivo e para o coletivo; é uma forma de
        contarmos mais uma história, mediante um profundo processo de pesquisa,
        construção de narrativa, seleção e recortes.
      </p>
      <p>
        Queremos refletir e questionar juntos sobre as formas como nossas vidas
        são influenciadas quando estão emaranhadas na rede. Mesmo quem está
        excluído ou distante do ciberespaço é impactado diariamente por ela, já
        que a rede é responsável por mediar e criar grande parte das relações
        sociais contemporâneas, moldando o trabalho, o consumo, os estudos e as
        dinâmicas pessoais.
      </p>

      <p>
        Talvez por estar tão presente em nosso cotidiano, sua complexidade acaba
        passando despercebida por muitos. Será que todos reconhecem o trabalho
        manual, a pesquisa, o estudo e o desenvolvimento de uma linguagem
        própria que existe por trás da tela? É preciso desnaturalizar e
        questionar certos hábitos e rotinas que influenciam nosso dia a dia e
        compreender que a cibercultura não é algo que aparece magicamente ao
        ligarmos um aparelho eletrônico. Você já parou para pensar quão
        emaranhados nós estamos na cibercultura?
      </p>
      <ScrollObserver
        sentinal-name="openpopup"
        @on-intersection-element="stopAudio"
      ></ScrollObserver>

      <p>
        Convidamos você para se conectar nesta exposição e refletir conosco
        sobre a cibercultura sob diferentes leituras de mundo, perpassando
        tramas como inclusão e exclusão digital, sociedade da informação, nossos
        rastros na rede, as ações coletivas e as produções artísticas.
      </p>
      <p>Para uma experiência completa, ative o som do seu dispositivo.</p>
    </div>
  </div>
</template>

<script>
import ScrollObserver from "@/components/ScrollObserver";
import PlayerAcessibilidade from "@/components/PlayerAcessibilidade";
export default {
  components: {
    ScrollObserver,
    PlayerAcessibilidade,
  },
  methods: {
    stopAudio() {
      // this.$store.commit("stopAudio");
    },
  },
};
</script>

<style lang="scss" scoped>
.abertura {
  position: relative;
  min-height: 100vh;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .text-vertical {
    font-family: Museo;
    transform: rotate(-90deg);
    transform-origin: top left;
    font-size: 130px;
    position: absolute;
    left: -20px;
    letter-spacing: 11px;

    opacity: 0.3;
    top: 650px;
  }

  .text {
    width: 60%;
    p {
      margin: 30px 0px;
    }
  }
}

@media screen and (max-width: 480px) {
  .abertura {
    .text {
      width: 100%;
      margin: 40px 30px;
      p {
        margin: 20px 0px;
      }
    }

    .text-vertical {
      opacity: 0.1;
    }
  }
}
</style>
