<template>
  <div
    class="abertura"
    @mouseover="playAudioHover"
    @mouseleave="stopAudioHover"
  >
    <PlayerAcessibilidade link="https://www.youtube.com/embed/vRX3_TUv8gs" />
    <br />
    <br />
    <ScrollObserver
      class="observer2"
      sentinal-name="openpopup"
      @on-intersection-element="playAudio"
    ></ScrollObserver>
    <audio v-if="audioVisible" autoplay id="audioAbertura">
      <source src="@/assets/images/nucleo1/audio1.mp3" type="audio/mpeg" />
    </audio>
    <div class="content">
      <img
        src="@/assets/images/avatar-celular.png"
        alt="Imagem de personagem símbolo da exposição. Cabelo longo claro com mechas vermelhas, olhos grandes, ávidos por informação, celular rosa na mão direita levado ao ouvido na posição de falar/ouvir, Veste roupas nas cores azul, branco, cinza e preto. Imagem tatuada no braço esquerdo e prótese na perna esquerda."
        data-aos="zoom-out-right"
      />
      <div class="text" data-aos="zoom-out-left">
        <img
          class="play"
          @click="playAudioHover"
          width="10px"
          src="@/assets/images/botao-play.png"
          alt=""
        />
        <p>
          que linha liga o meu
          <span style="text-decoration: line-through">coração</span> celular ao
          teu? <br />pergunta a voz automática<br />
          em tela pixelada
        </p>

        <p>
          há alguém do outro lado mas aqui é só seu @vulto <br />uma linha
          imensa<br />que se enreda <br />e o começo e o fim das coisas
          <br />&emsp;&emsp;&emsp;[se perde
        </p>

        <p>
          um poema em formato de hyperlink <br />um dia composto de 24 horas
          <br />16 delas no ciberespaço <br />&emsp;&emsp;&emsp;[seria esse um
          lugar?
        </p>

        <p>
          escrevo e penso em um dispositivo automático <br />para regular o sol
          ao nascer <br />para matar a fome de amor <br />para fazer a distância
          doer <br />&emsp;&emsp;&emsp;[menos
        </p>

        <p>
          onde a palavra se faz imagem <br />que não se inscreve no espaço
          <br />na topografia de um quadro <br />mas na síntese do tempo
          <br />um conjunto de formas <br />em mutação
        </p>

        <p>
          [para encerrar este poema,
          <span>clique aqui</span> <br />mas antes <br />deixe seu like
          <ScrollObserver
            class="observer"
            sentinal-name="ssopenpopup"
            @on-intersection-element="stopAudio"
          ></ScrollObserver>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import ScrollObserver from "@/components/ScrollObserver";
import PlayerAcessibilidade from "@/components/PlayerAcessibilidade";
export default {
  components: {
    ScrollObserver,
    PlayerAcessibilidade,
  },
  data() {
    return {
      showAudio: false,
    };
  },
  computed: {
    audioVisible() {
      return this.$store.state.audio;
    },
  },
  methods: {
    playAudio() {
      // this.$store.commit("playAudio");
    },
    stopAudio() {
      // this.$store.commit("stopAudio");
    },
    playAudioHover() {
      this.$store.commit("playAudio");
    },
    stopAudioHover() {
      this.$store.commit("stopAudio");
    },
  },
};
</script>

<style lang="scss" scoped>
.abertura {
  position: relative;
  min-height: 100vh;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .play {
    max-width: 40px;
    cursor: pointer;
    display: none;
  }

  .observer {
    position: absolute;
    bottom: 0;
  }

  .margin-bottom {
    margin-top: 250px;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    margin-top: 100px;

    .text {
      p {
        margin: 15px 0;
      }
    }
    img {
      width: 400px;
    }
  }
}

@media screen and (max-width: 480px) {
  .abertura {
    .play {
      max-width: 40px;
      cursor: pointer;
      display: block;
    }
    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 50px;
      flex-direction: column-reverse;

      .text {
        margin: 0 50px;
        p {
          margin: 15px 0;
        }
      }
      img {
        width: 300px;
      }
    }
  }
}
</style>
