<template>
  <div class="nucleo1-1" @mouseenter="openHover">
    <PlayerAcessibilidade link="https://www.youtube.com/embed/HXpoWpSMBtU" />
    <div class="text" data-aos="zoom-in-down">
      <p>
        Você já parou para pensar sobre a forma como a sociedade se comporta
        quando está imersa na rede mundial de computadores? Sabemos da
        influência da internet na vida das pessoas e como a cibercultura modela
        nossas experiências <i>online</i> e <i>offline</i>. Por estar tão
        emaranhada no cotidiano, sua complexidade acaba passando despercebida
        por muitos. Será que há um uso adequado da internet? Qual seria o tempo
        ideal de uso? Quanto tempo você está conectado? O que compartilha? E
        para quê? O que é vida privada e o que é publicável? Sobre o que você
        opina e baseado em quê? Leu o cookie que assinou para participar desta
        exposição?
        <br />
        <br />
        <br />
      </p>
    </div>
    <ScrollObserver
      sentinal-name="openpopup"
      @on-intersection-element="openPopUp"
      class="ps"
    ></ScrollObserver>
    <div class="pop-ups">
      <div class="popup-sequence" style="z-index: 3" v-if="showPopUps">
        <div
          class="img"
          v-for="popup in popups"
          :key="'a' + popup.id"
          :style="{
            animationDelay: `${popup.delay + 0.2}s`,
            top: popup.top,
            left: popup.left,
          }"
        >
          <img src="@/assets/images/popup-laranja.png" alt="popup cookies" />
          <div class="text-img">
            Leu o cookie que assinaste para participar dessa exposição?
          </div>
        </div>
      </div>
      <div
        class="popup-sequence ps-mobile"
        style="z-index: 2"
        v-if="showPopUps"
      >
        <div
          class="img"
          v-for="popup in popups"
          :key="'b' + popup.id"
          :style="{
            animationDelay: `${popup.delay + 0.2 + 1.8}s`,
            top: popup.top,
            left: popup.left,
          }"
        >
          <img src="@/assets/images/popup-laranja.png" alt="popup cookies" />
          <div class="text-img">
            Leu o cookie que assinaste para participar dessa exposição?
          </div>
        </div>
      </div>
      <div
        class="popup-sequence ps-mobile"
        style="z-index: 1"
        v-if="showPopUps"
      >
        <div
          class="img"
          v-for="popup in popups"
          :key="'c' + popup.id"
          :style="{
            animationDelay: `${popup.delay + 0.2 + 3.6}s`,
            top: popup.top,
            left: popup.left,
          }"
        >
          <img src="@/assets/images/popup-laranja.png" alt="popup cookies" />
          <div class="text-img">
            Leu o cookie que assinaste para participar dessa exposição?
          </div>
        </div>
      </div>
    </div>
    <PopUpCinza
      v-if="showPopUp"
      :is-showed="showPopUp"
      @close="closePopUp"
    ></PopUpCinza>
  </div>
</template>

<script>
import PopUpCinza from "@/components/PopUpCinza";
import ScrollObserver from "@/components/ScrollObserver";
import PlayerAcessibilidade from "@/components/PlayerAcessibilidade";
export default {
  components: {
    ScrollObserver,
    PopUpCinza,
    PlayerAcessibilidade,
  },
  data() {
    return {
      showPopUp: false,
      showPopUps: false,
      first: true,
      popups: [
        {
          id: 0,
          delay: 0.3,
          top: "0px",
          left: "0px",
        },
        {
          id: 1,
          delay: 0.6,
          top: "40px",
          left: "20px",
        },
        {
          id: 2,
          delay: 0.9,
          top: "80px",
          left: "40px",
        },
        {
          id: 3,
          delay: 1.2,
          top: "120px",
          left: "60px",
        },
        {
          id: 4,
          delay: 1.5,
          top: "160px",
          left: "80px",
        },
        {
          id: 5,
          delay: 1.8,
          top: "200px",
          left: "100px",
        },
      ],
    };
  },
  methods: {
    onScroll() {
      this.showPopUps = true;
    },
    closePopUp() {
      // this.onScroll();
      this.showPopUps = true;
      this.showPopUp = false;
    },
    openHover() {
      if (this.first) {
        this.showPopUp = true;
        this.first = false;
      }
    },
    openPopUp() {
      // this.showPopUps = false;
      // this.showPopUp = true;
    },
  },
};
</script>

<style lang="scss" scoped>
.nucleo1-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.125rem;
  width: 100%;
  background-color: var(--primary-light);
  color: #c94436;
  position: relative;

  .ps {
    position: absolute;
    top: -10%;
  }

  .text {
    max-width: 60%;
    width: 700px;
    p {
      margin-bottom: 20px;
    }
  }

  .pop-ups {
    width: 900px;
    height: 300px;
    display: flex;
    // position: relative;

    .popup-sequence {
      width: 400px;
      position: relative;
      .img {
        position: absolute;
        opacity: 0;
        animation-name: bounceIn;
        animation-duration: 200ms;
        animation-timing-function: linear;
        animation-fill-mode: forwards;

        .text-img {
          position: absolute;
          bottom: 42px;
          left: 24px;
          width: 214px;
          font-family: Museo;
          font-weight: 600;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .ps-mobile {
    display: none;
  }

  .nucleo1-1 .pop-ups {
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 380px;
  }

  .nucleo1-1 {
    min-height: 120vh;
  }

  .popup-sequence {
    position: absolute;
    top: -150px;
    left: -20px;
    transform: scale(0.8);
  }

  .nucleo1-1 .text {
    max-width: 100%;
    width: 100%;
    padding: 0 30px;
    margin-top: 40px;
  }
}
</style>
