<template>
  <div class="nucleo">
    <ImageHolder
      class="img-holder"
      width="400px"
      :img-src="require('@/assets/images/nucleo1/img1.png')"
      legenda="File_Món, 2013 <br/>Autoria: Cèsar Escudero Andaluz <br/>Técnica: Imagem digital | Acervo artista"
      data-aos="zoom-in"
      descricao="Fotomontagem digital elaborada a partir de uma fotografia antiga, entre as décadas de 1920, 1930, no interior de um vagão de trem, lotado de pessoas brancas, sentadas lendo jornais, vestem terno, sobretudo e roupas formais, algumas usam chapéu. No fundo do vagão há um cartaz com a palavra “FREE”, em letras garrafais preta. Ao lado de uma porta, um outro cartaz, ilegível com a imagem de uma mulher. A montagem é o plano de fundo da área de trabalho de um computador e está sobreposta por inúmeros ícones e arquivos baixados da internet que se acumulam acima dos jornais abertos. Acima, no canto esquerdo, está o ícone da Apple ao lado das palavras “archivo, edición, visualización, ir, ventana, ayuda” alinhadas formando os ícones que ficam mostrados no nosso computador. Fim da descrição."
    ></ImageHolder>

    <ImageHolder
      class="img-holder"
      width="400px"
      :img-src="require('@/assets/images/nucleo1/img2.jpg')"
      legenda="Heads down, 2021<br/>Autoria: Isadora Guarnier <br/> Técnica: Fotografia digital | Acervo artista"
      data-aos="zoom-in"
      data-aos-delay="300"
      descricao="Fotografia horizontal em detalhe da janela de um metrô pelo lado de fora emoldura a imagem. Três pessoas estão de costas para nós e de frente para quatro pessoas sentadas. O vidro da janela do outro lado do vagão reflete as três pessoas que estão de costas, que usam máscara de proteção contra a Covid-19. Duas estão com a cabeça baixa, mexendo no celular e uma mulher olha para frente com os cabelos presos em um coque, veste jaqueta jeans. No canto superior direito, um quadrado vermelho tem a inscrição em letras brancas “Trem 227 carro”. Fim da descrição."
    ></ImageHolder>
  </div>
</template>

<script>
import ImageHolder from "@/components/ImageHolder";
export default {
  components: {
    ImageHolder,
  },
};
</script>

<style lang="scss" scoped>
.nucleo {
  min-height: 100vh;
  width: 100%;
  background-color: var(--primary-light);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10%;
}

@media screen and (max-width: 480px) {
  .nucleo {
    flex-direction: column;
    row-gap: 30px;
  }

  .img-holder {
    width: 88vw !important;
  }
}
</style>
