<template>
  <div class="nucleo">
    <VideoHolder
      data-aos="zoom-out"
      width="400px"
      :videoSrc="videos.paula"
      :autoPlay="false"
      legenda="Llum, 2018 | Autoria: Paula Finn<br/>Técnica: Vídeo | Duração: 0’33’’<br/>Acervo Coletivo Tônuma"
      descricao="O vídeo tem 33 segundos, filmado na vertical no interior de uma sala escura. Numa parede são projetadas linhas brancas horizontais e verticais que formam uma imagem quadriculada. Diante da projeção, uma mulher branca, veste camisa e tênis brancos e dança com movimentos fluídos. A projeção se movimenta à medida que o corpo da dançarina se mexe, a projeção parece dançar junto com a mulher. Fim da descrição."
    ></VideoHolder>
  </div>
</template>

<script>
import { videos } from "@/consts/videos.js";
import VideoHolder from "@/components/VideoHolder";
export default {
  components: {
    VideoHolder,
  },
  data() {
    return {
      videos,
    };
  },
};
</script>

<style lang="scss" scoped>
.nucleo {
  min-height: 100vh;
  width: 100%;
  background-color: var(--primary-light);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10%;
}

@media screen and (max-width: 480px) {
  .nucleo {
    min-height: inherit;
    flex-direction: column;
    row-gap: 30px;
  }

  .img-holder {
    width: 88vw !important;
  }
}
</style>
