<template>
  <div class="nucleo">
    <PlayerAcessibilidade link="https://www.youtube.com/embed/R3VPIfeUhyE" />
    <div class="text-fundo">
      como você vai viver em um mundo sem internet? <br />
    </div>
    <div class="text" data-aos="zoom-in-up">
      <p>
        Certa manhã, você desperta e não consegue conectar o <i>wi-fi</i> no seu
        <i>smartphone</i>. Você tenta a rede de dados e nada. Liga o computador
        e surge somente uma tela azul. Sua cafeteira programável não fez o café
        matinal. Será que há algum problema na rede do bairro? A televisão
        <i>smart</i>
        é a sua última tentativa. A mesma tela azul aparece.
      </p>

      <p>
        Em um lapso, você recorda de um rádio guardado em alguma gaveta.
        Daqueles que é necessário puxar a antena e utilizar pilhas. Você
        sintoniza em uma emissora, silêncio. Ao sair para a rua, você encontra
        um jornal na calçada.
      </p>
      <br />

      <p>
        VIDA EM COLAPSO: os computadores e sistemas voltaram para 1900. 1º de
        janeiro de 2000.
      </p>
    </div>
  </div>
</template>

<script>
import PlayerAcessibilidade from "@/components/PlayerAcessibilidade";
import anime from "animejs";

export default {
  components: {
    PlayerAcessibilidade,
  },
  mounted() {
    let textWrapper = document.querySelector(".text-fundo");
    textWrapper.innerHTML = textWrapper.textContent.replace(
      /\S/g,
      "<span class='letter'>$&</span>"
    );
    anime
      .timeline({ loop: true })
      .add({
        targets: ".text-fundo .letter",
        scale: [4, 1],
        opacity: [0, 1],
        translateZ: 0,
        easing: "easeOutExpo",
        duration: 950,
        delay: (el, i) => 70 * i,
      })
      .add({
        targets: ".text-fundo",
        opacity: 0,
        duration: 1000,
        easing: "easeOutExpo",
        delay: 1000,
      });
  },
};
</script>

<style lang="scss" scoped>
.nucleo {
  min-height: 100vh;
  width: 100%;
  background-color: var(--primary-light);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--primary-color);
  font-size: 1.125rem;
  position: relative;

  .text-fundo {
    position: absolute;
    font-size: 5rem;
    left: 0;
    width: 300px;
    font-family: Museo;
    z-index: 1;
    opacity: 0.2;
    line-height: 5rem;
    color: #ffa192;

    &.letter {
      display: inline-block;
      line-height: 1em;
    }
  }

  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 700px;
    z-index: 2;
    p {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 480px) {
  .text {
    margin: 40px 0;
    width: 100%;
    padding: 0 30px;
  }
}
</style>
