<template>
  <div class="nucleo">
    <VideoHolder
      class="video"
      width="500px"
      bgColor="#0B1D6B"
      data-aos="fade-down"
      :videoSrc="videos.bug_milenio"
      :autoPlay="false"
      legenda="Bug do milênio preocupa o mundo<br/>Duração: 4’32’’<br/>Data: 1999 | Acervo Rede Globo"
      descricao="Vídeo colorido no sentido horizontal tem quatro minutos e trinta segundos, produzido pela Rede Globo de TV e apresentado no dia 26 de dezembro de 1999, no Fantástico, um programa no formato de revista eletrônica. Bug do milênio preocupa o mundo. Jornalista Glória Maria, mulher negra, cabelos curtos, pretos, veste roupa cor-de- rosa, está em pé no estúdio que tem o fundo nas cores amarelo, rosa, ocre, alaranjado. Jornalista e apresentador Pedro Bial, homem branco, veste terno cinza, camisa branca, está em pé no estúdio, ao fundo uma tela digital verde com o mapa do mundo. Relógio digital na tela indica 23 horas 57 minutos com os segundos e os minutos avançando. Repórter Helena de Grammont em uma praça. Cidade grande brasileira. Vendedora de revistas em sua banca. Homem. Carro conhecido como buggy. Tomam conta da tela ilustrações de besouros nas cores, azul, amarelo, verde, magenta. Sites com ilustrações do bichinho. Sequência de mudança de telas em rolagem ora para a esquerda, ora para a direita, aproximando e afastando a imagem da tela. Tela destaca o ano 2000 e logo abaixo o ano de 1900. Tela com besouro verde que passa do tamanho pequeno para maior, cobrindo toda a tela. Repórter. Praça com grande circulação de carros, ônibus e motos. Ao fundo, imagem de besouro verde caindo. Homem, jovem. Sequência de homens respondem. Saque em dinheiro com uma máquina ou caixa eletrônico contando as notas de dinheiro. Praça, viaduto ao fundo. Repórter. Legenda Presidente da Febraban (Federação dos Bancos), Wilson Gutierrez. A câmera aproxima o rosto do presidente. Forno de micro-ondas, relógio digital de um disc player. Legenda  Produção por Andrea Cavalheiro. Tela de computador com o símbolo da Polícia Federal. A câmera percorre a sala de controle do governo federal em Brasília. Mapa mundi. Empresas de telefone, luz, água e gás. Destaque para América do Sul. Funcionários da polícia federal analisando as imagens. Vídeo do aeroporto, avião pousando; quadro de chegadas e partidas de voos. Legenda Coronel Marco Aurélio Ramos, da Comissão de Controle do “BUG”, na sala de controle da PF. Legenda Diretor do hospital, mostra maquete Hospital das Clínicas de São Paulo. Legenda Imagens Gilmário Batista. Manual para o enfrentamento do Bug. Sala de reuniões, pessoas sentadas em torno de uma mesa com apostilas. Legenda José D’Ela Filho, superintendente do HC. Primeiro plano, superintendente. Ao fundo duas mulheres louras, cabelos curtos, meia idade, sentadas; um homem, cabelos pretos curtos. Superintendente em pé, junto a repórter, apresenta a sala das caldeiras. Sala de controle da Polícia Militar de São Paulo. Policial sentado em seu guichê em frente ao computador. Em um corredor. Legenda Major Rafael Pereira, Polícia militar/SP. Repórter, em pé; ao fundo alguns policiais conversando. Sala de controle com uma série de guichês com policiais em seus computadores recebendo as chamadas telefônicas. Imagem de telefone. Passa de uma imagem de policial para outro atendendo. Policiais homens e policiais mulheres. Preparando a sala. As mãos de um homem arrumando a fiação do telefone.  Homem atende telefone. Grupo de quatro homens e uma mulher, em pé, conversando na sala da central telefônica em preparação. Legenda Edson Carluccio, gerente de operações; repórter. Ao fundo, diversos computadores. Interior de uma casa. Sala. Repórter. Mulher de cabelos lisos castanhos põe sobre a mesa pacotes de vela, fósforos. Legenda Heloísa Duarte, empresária. Cena na praça do início da reportagem. Mulher, cabelos castanhos, óculos escuros, jovem. Movimento de carros, pessoas. Homem, jovem, cabelos curtos, castanhos. Em tela cheia, imagem do bichinho ao fundo. Relógio digital marca 23 horas, 59 minutos e 59 segundos. Nova tela, desfocando, relógio digital marca zero hora, zero minutos e zero segundos. Legenda Edição Mariano Boni, Fany Michel. Relógio digital. Fundo da tela troca para números indicando o ano de 2000 e abaixo o ano de 1900. Fim da descrição."
    ></VideoHolder>

    <div class="container-gifs">
      <img
        class="gif gif12"
        :src="require('@/assets/images/nucleo2/gif12.gif')"
        alt="GIF. Montagem digital com personagem extraído do filme Pulp Fiction, tem o fundo estático cinza-claro, um retângulo branco no topo com o aviso de internet fora do ar, o desenho pixelado de um dinossauro cinza-escuro e a frase “Unable to connect to the internet” com um pequeno botão cinza-claro abaixo escrito: “More”. No centro da imagem, o ator John Travolta em uma cena do filme Pulp Fiction, homem branco com aproximadamente 40 anos, usa terno preto, carrega um casaco e segura um papel, abre e fecha os braços fazendo expressão de dúvida. Fim da descrição."
      />
      <img
        class="gif gif5"
        :src="require('@/assets/images/nucleo2/gif5.gif')"
        alt="GIF no formato quadrado de um gato em primeiro plano. Ele tem cores acinzentadas e brancas nas patas e no focinho. A medida que balança o corpo, a imagem muda para a imagem de um homem, negro, de barba e camiseta vermelha  fazendo o mesmo movimento do gato, mexendo os ombros e fazendo uma “careta”. Fim da descrição."
      />
      <img
        class="gif gif13"
        :src="require('@/assets/images/nucleo2/gif13.gif')"
        alt="GIF. Extrato da webcomic “On Fire”, de KC Green. No centro de uma sala verde, um cachorro cor de caramelo com chapéu quase não se move da cadeira de madeira, tem a sua frente, uma mesa de madeira com uma caneca de café. O lugar está pegando fogo, tem chamas por todos os lados e fumaça no teto. A imagem foca aproximando do cachorro, que olha dentro da caneca, movimenta a boca e a frase “This Is Fine” aparece na tela. Fim da descrição."
      />
      <ImageHolder
        class="gif gif4"
        width="200px"
        :semBordas="false"
        bgColor="#0B1D6B"
        :img-src="require('@/assets/images/nucleo2/gif4.gif')"
        legenda="Feeling Brasil, 2021 <br/> Amanda de Abreu"
        descricao="GIF. O fundo colorido alterna entre as cores amarelo, branco, azul, rosa, verde e vermelho, surgindo do centro do gif e se espalhando para o resto da tela. No centro da imagem um desenho de um rosto caricaturado amarelo com detalhes do cabelo em preto, lábios vermelhos e olhos com olheiras fundas, tem a cabeça aberta, sem a parte superior, de onde partem espécies de minhocas em cores rosa e azul, que se movem no lugar. Há desenhos de brilhos em amarelo e branco e um emoticon de expressão alegre na cor amarelo, calçando tênis branco, segura e balança a bandeira do Brasil. Por cima do desenho há um efeito de falha na tela, que fica aparecendo por todo o gif, dando o efeito de quebra e deslocamento do desenho central. Fim da descrição."
      ></ImageHolder>
      <!-- <img
        class="gif gif4"
        :src="require('@/assets/images/nucleo2/gif4.gif')"
        alt="GIF. O fundo colorido alterna entre as cores amarelo, branco, azul, rosa, verde e vermelho, surgindo do centro do gif e se espalhando para o resto da tela. No centro da imagem um desenho de um rosto caricaturado amarelo com detalhes do cabelo em preto, lábios vermelhos e olhos com olheiras fundas, tem a cabeça aberta, sem a parte superior, de onde partem espécies de minhocas em cores rosa e azul, que se movem no lugar. Há desenhos de brilhos em amarelo e branco e um emoticon de expressão alegre na cor amarelo, calçando tênis branco, segura e balança a bandeira do Brasil. Por cima do desenho há um efeito de falha na tela, que fica aparecendo por todo o gif, dando o efeito de quebra e deslocamento do desenho central. Fim da descrição."
      /> -->
      <img
        class="gif gif1"
        :src="require('@/assets/images/nucleo2/gif1.gif')"
        alt="GIF. No centro da imagem, uma pessoa fantasiada do personagem Zé Gotinha dança de costas. Do lado esquerdo, um emoji de seringa com a agulha está posicionado na altura das nádegas do personagem. Na parte inferior, em letras coloridas e brilhantes, a frase “Vai no meu “Bumbumtantan”, referente à música funk de MC Fioti “Vacinabutantan (Remix)”. Fim da descrição."
      />
      <img
        class="gif gretchen"
        :src="require('@/assets/images/nucleo2/Gretchen.gif')"
        alt="GIF. Um quadrado com moldura preta tem fundo com cores claras: azul, rosa, ocre e lilás. Gretchen, cantora e youtuber brasileira, de 64 anos, aparece dos ombros para cima, tem pele clara, cabelos pretos, lisos que estão soltos, usa grandes brincos pendentes e veste preto.  Em repetição a expressão facial inicialmente sorridente movimenta as sobrancelhas para cima e os cantos da boca para baixo. Fim da descrição."
      />
      <ImageHolder
        class="gif gif3"
        width="200px"
        :semBordas="false"
        bgColor="#0B1D6B"
        :img-src="require('@/assets/images/nucleo2/gif3.gif')"
        legenda="Antirrevolução, 2021 <br/>Shelly Modesto"
        descricao="GIF. Em um quadrado vermelho. A palavra “AGUARDE”, na cor branca, aparece na metade inferior seguida por três pontos, que surgem um por vez e acompanham o movimento da imagem que sugere um processo em andamento. Na metade superior, linhas vermelhas com a ponta em formato de gota escorrem. Quando elas chegam na metade do quadrado, a imagem do apresentador William Bonner sentado na bancada do Jornal Nacional aparece ao fundo, sem cor. Logo após, surge a imagem de Jair Bolsonaro segurando uma caixa de remédio com a mão direita, na altura do rosto. A imagem fica em loop infinito. Fim da descrição."
      ></ImageHolder>
      <!-- <img
        class="gif gif3"
        :src="require('@/assets/images/nucleo2/gif3.gif')"
        alt="GIF. Em um quadrado vermelho. A palavra “AGUARDE”, na cor branca, aparece na metade inferior seguida por três pontos, que surgem um por vez e acompanham o movimento da imagem que sugere um processo em andamento. Na metade superior, linhas vermelhas com a ponta em formato de gota escorrem. Quando elas chegam na metade do quadrado, a imagem do apresentador William Bonner sentado na bancada do Jornal Nacional aparece ao fundo, sem cor. Logo após, surge a imagem de Jair Bolsonaro segurando uma caixa de remédio com a mão direita, na altura do rosto. A imagem fica em loop infinito. Fim da descrição."
      /> -->
      <img
        class="gif gif10"
        :src="require('@/assets/images/nucleo2/gif10.gif')"
        alt="GIF. Montagem digital sobre extrato de uma cena da novela Senhora do Destino, com a personagem Nazaré Tedesco, interpretada por Renata Sorrah. Mulher adulta branca e loira com uma blusa preta olha com apreensão para os lados e para cima. Foram inseridas e animadas diferentes fórmulas matemáticas em letras brancas, algumas aparecem e se deslocam pela tela. Fim da descrição."
      />
      <img
        class="gif gif8"
        :src="require('@/assets/images/nucleo2/gif8.gif')"
        alt="GIF. Imagem retangular horizontal com moldura preta. De costas para uma parede azul decorada com um tecido branco, Inês Brasil, web-celebridade negra brasileira, aparece de frente no centro da imagem, dos ombros para cima. O looping mostra Inês movimentando a mão e encolhendo os ombros enquanto diz “É aquele ditado: vamo fazer o quê?. Uma legenda em letras amarelas em itálico corresponde a frase dita por ela. Fim da descrição."
      />
      <ImageHolder
        class="gif gif9"
        width="200px"
        :semBordas="false"
        bgColor="#0B1D6B"
        :img-src="require('@/assets/images/nucleo2/gif9.gif')"
        legenda="Kama Sutra, 2015 <br/>Eduardo Montelli"
        descricao="GIF. No interior de um quarto iluminado, um casal jovem de homens brancos, estão deitados de bruços na cama, um em cima do outro. Estáticos, olham para a tela de um notebook que fica rolando em looping pequenas imagens. Fim da descrição."
      ></ImageHolder>
      <!-- <img
        class="gif gif9"
        :src="require('@/assets/images/nucleo2/gif9.gif')"
        alt="GIF. No interior de um quarto iluminado, um casal jovem de homens brancos, estão deitados de bruços na cama, um em cima do outro. Estáticos, olham para a tela de um notebook que fica rolando em looping pequenas imagens. Fim da descrição."
      /> -->
      <img
        class="gif gif7"
        :src="require('@/assets/images/nucleo2/gif7.gif')"
        alt="GIF em orientação retrato. Um menino negro de bermuda verde dança sorridente voltado para um cachorro branco com manchas na cor caramelo que se sacode. Ambos se movimentam no mesmo ritmo. Ao fundo há a bandeira do Brasil pintada no muro, e no lugar da frase “Ordem e Progresso” se lê “Rumo ao Hexa”. Fim da descrição."
      />

      <img
        class="gif gif11"
        :src="require('@/assets/images/nucleo2/gif11.gif')"
        alt="GIF. Extrato da série de desenho animado chamada Family Guy. Na sala de um escritório, um homem branco está sentado em frente ao computador digitando com os dedos esticados usando unhas postiças compridas cor-de-rosa. Fim da descrição."
      />
      <img
        class="gif gif15"
        :src="require('@/assets/images/nucleo2/gif15.gif')"
        alt="GIF quadrado com fundo azul com degradê de pixels pretos na metade inferior da imagem. No centro da imagem, um surfista, homem adulto branco com barba e cabelos longos, usa roupa de corpo inteiro preta brilhosa, se equilibra sobre uma prancha, fazendo movimento para frente e para trás. Vários cursores branco de mouse piscam rapidamente atrás da prancha em formato de espuma de onda. Ao fundo, três monitores, brancos e antigos estão dispostos em zig zag, se deslocando para a esquerda em looping infinito. Em suas telas aparecem: globo branco sob tela preta, fotos de filhotes de gato e “LOL” e desenho em pixels de uma carta branca sob tela que alterna entre verde e lilás. Uma de navegador se desloca para a esquerda em looping infinito por cima do surfista, com uma foto de dois filhotes de gato cinza e laranja. Fim da descrição."
      />
      <img
        class="gif gif14"
        :src="require('@/assets/images/nucleo2/gif14.gif')"
        alt="GIF. Tela de erro de conexão do navegador Google Chrome. Fundo branco com gráficos e fonte na cor preta. Na área superior, um dinossauro no estilo 8Bit, como os video games antigos, corre para o lado direito esquerdo da tela pulando sobre cactos, e, à direita, no canto, a pontuação do jogo que aumenta conforme o dinossauro corre. Abaixo, o aviso: “There is no internet” [não há conexão com a internet], seguido de sugestões de como diagnosticar o problema e testar o uso da internet e sugestões de ações que podem ser utilizadas para recuperar a conexão do dispositivo. Fim da descrição."
      />
      <img
        class="gif gif6"
        :src="require('@/assets/images/nucleo2/gif6.gif')"
        alt="GIF. Um gato branco de olhos pretos, deitado de barriga para cima abre e fecha as patas, que irradia feixes de luz toda vez que abre. Fim da descrição."
      />
    </div>
  </div>
</template>

<script>
import { videos } from "@/consts/videos.js";
import VideoHolder from "@/components/VideoHolder";
import ImageHolder from "@/components/ImageHolder";

export default {
  components: {
    VideoHolder,
    ImageHolder,
  },
  data() {
    return {
      videos,
    };
  },
};
</script>

<style lang="scss" scoped>
.nucleo {
  min-height: 100vh;
  width: 100%;
  background-color: var(--secondary-light);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;

  .container-gifs {
    position: absolute;
    width: 900px;
    height: 700px;

    .gif {
      position: absolute;
      top: 10px;
      left: -120px;
      display: none;

      &.gif12 {
        display: block;
        top: 594px;
        left: 295px;
        width: 142px;
      }

      &.gif5 {
        display: block;
        top: -57px;
        left: 300px;
        width: 170px;
      }

      &.gif13 {
        display: block;
        top: -34px;
        left: 620px;
        width: 230px;
      }

      &.gif4 {
        display: block;
        top: 180px;
        left: 727px;
        width: 230px;
      }

      &.gif1 {
        display: block;
        top: 390px;
        left: 750px;
        width: 190px;
      }

      &.gretchen {
        display: block;
        top: 606px;
        left: 532px;
        width: 125px;
      }

      &.gif3 {
        display: block;
        top: -22px;
        left: -40px;
        width: 200px;
      }

      &.gif10 {
        display: block;
        top: 470px;
        left: -44px;
        width: 200px;
      }

      &.gif8 {
        display: block;
        top: 270px;
        left: 10px;
        width: 167px;
      }

      &.gif9 {
        display: block;
        top: 270px;
        left: -199px;
        width: 200px;
      }
      &.gif7 {
        display: block;
        top: 270px;
        left: 1010px;
        width: 100px;
      }
      &.gif11 {
        display: block;
        top: 104px;
        left: -286px;
        width: 183px;
      }
      &.gif15 {
        display: block;
        top: 481px;
        left: 977px;
        width: 148px;
      }
      &.gif14 {
        display: block;
        top: 657px;
        left: -30px;
        width: 148px;
      }
      &.gif6 {
        display: block;
        top: 657px;
        left: 765px;
        width: 148px;
      }
    }
  }

  .video {
    z-index: 4;
  }
}

@media screen and (max-width: 480px) {
  .nucleo .container-gifs .gif.gif14 {
    display: none;
  }
  .nucleo {
    .container-gifs {
      position: absolute;
      width: 100vw;
      height: 620px;

      .gif {
        position: absolute;
        top: 10px;
        left: -120px;
        display: none;

        &.gif12 {
          display: none;
          top: 0px;
          left: 0px;
          width: 110px;
        }

        &.gif5 {
          display: none;
          top: 30px;
          left: 110px;
          width: 100px;
          top: 30px;
        }

        &.gif13 {
          display: none;
          top: 0px;
          left: 220px;
          width: 100px;
          top: -10px;
        }

        &.gif4 {
          display: block;
          top: -10px;
          left: 20px;
          width: 120px !important;
        }

        &.gif1 {
          display: block;
          top: 507px;
          left: 192px;
          width: 80px;
        }

        &.gretchen {
          display: none;
          top: 500px;
          left: 180px;
          width: 100px;
        }

        &.gif3 {
          display: block;
          top: -5px;
          left: 160px;
          width: 75px !important;
        }

        &.gif10 {
          // display: block;
          top: 500px;
          left: -100px;
          width: 100px;
        }

        &.gif8 {
          display: block;
          top: 507px;
          left: 72px;
          width: 100px;
        }

        &.gif9 {
          display: block;
          top: -13px;
          left: 261px;
          width: 75px !important;
        }
      }
    }
  }
}
</style>
