<template>
  <div class="abertura">
    <PlayerAcessibilidade link="https://www.youtube.com/embed/h-hFMXi51cE" />
    <div class="content">
      <img
        data-aos="zoom-in"
        src="@/assets/images/avatar-corpo-flutuando.png"
        alt="Imagem de personagem símbolo da exposição. Cabelo longo claro com mechas vermelhas, olhos grandes, ávidos por informação, celular rosa na mão direita levado ao ouvido na posição de falar/ouvir, Veste roupas nas cores azul, branco, cinza e preto. Imagem tatuada no braço esquerdo e prótese na perna esquerda."
      />
      <div class="text" data-aos="zoom-in">
        <p>
          Como explicado no vídeo, o problema nos sistemas informatizados
          conhecido como Bug do Milênio ou Y2K na virada dos anos 2000 se daria
          por conta dos últimos dois dígitos do ano, sendo assim, ao invés do
          sistema interpretar como sendo o novo milênio, ele voltaria para os
          anos 1900. Mas o que aconteceu não foi o caos que o mundo previu, os
          aviões não caíram e a luz não faltou.
        </p>

        <p>
          Na verdade, a maioria dos computadores já estavam preparados para este
          possível problema, e com o devido suporte profissional ele foi
          facilmente resolvido, se revelando um problema inofensivo no meio do
          pânico mundial.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import PlayerAcessibilidade from "@/components/PlayerAcessibilidade";
export default {
  components: {
    PlayerAcessibilidade,
  },
  data() {
    return {};
  },
  methods: {},
};
</script>

<style lang="scss" scoped>
.abertura {
  position: relative;
  min-height: 100vh;
  background-color: var(--secondary-light);
  color: var(--secondary-color);
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;

    .text {
      width: 500px;
      p {
        margin: 15px 0;
      }
    }
    img {
      width: 400px;
    }
  }
}

@media screen and (max-width: 480px) {
  .abertura {
    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 50px;
      flex-direction: column-reverse;

      .text {
        width: 100%;
        margin: 0 50px;
        padding: 0 30px;
        p {
          margin: 15px 0;
        }
      }
      img {
        width: 300px;
      }
    }
  }
}
</style>
