<template>
  <div class="nucleo">
    <PlayerAcessibilidade link="https://www.youtube.com/embed/q7RO0nS0_Hc" />
    <div class="text-fundo21">
      O ciberespaço é esse grande lugar onde tudo se emaranha. <br />
    </div>
    <div class="text" data-aos="zoom-in">
      <p>
        Conseguimos passar horas na frente de uma tela procurando e
        compartilhando vídeos engraçados, rindo alto de memes e fazendo
        pesquisas na Wikipédia que começam com a vontade de saber sobre a
        cultura de um país e normalmente terminam em: “os 10 tipos de espécies
        mais venenosas de aranhas”, como um verdadeiro <i>deep dive</i>,
        mergulho profundo, na web. O ciberespaço é esse grande lugar onde tudo
        se emaranha.
      </p>

      <p>
        Acabamos por nos perder nessa grande teia, onde, mais cedo ou mais
        tarde, percebemos que ela pode ser mais densa do que o deslumbramento
        que o conteúdo na internet nos traz, causando impactos para além da tela
        do seu celular ou computador.
      </p>
    </div>
  </div>
</template>

<script>
import PlayerAcessibilidade from "@/components/PlayerAcessibilidade";
import anime from "animejs";
export default {
  components: {
    PlayerAcessibilidade,
  },
  mounted() {
    let textWrapper = document.querySelector(".text-fundo21");
    textWrapper.innerHTML = textWrapper.textContent.replace(
      /\S/g,
      "<span class='letter2'>$&</span>"
    );
    anime
      .timeline({ loop: true })
      .add({
        targets: ".text-fundo21 .letter2",
        scale: [4, 1],
        opacity: [0, 1],
        translateZ: 0,
        easing: "easeOutExpo",
        duration: 950,
        delay: (el, i) => 70 * i,
      })
      .add({
        targets: ".text-fundo21",
        opacity: 0,
        duration: 1000,
        easing: "easeOutExpo",
        delay: 1000,
      });
  },
};
</script>

<style lang="scss" scoped>
.nucleo {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: var(--secondary-light);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;

  .text-fundo21 {
    position: absolute;
    font-size: 5rem;
    left: 0;
    width: 300px;
    font-family: Museo;
    z-index: 1;
    opacity: 0.8;
    line-height: 5rem;
    color: #b9c1e2;

    &.letter2 {
      display: inline-block;
      line-height: 1em;
    }
  }

  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 700px;
    color: var(--secondary-color);
    z-index: 1;

    p {
      line-height: 1.1;
      font-size: 1.6rem;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 480px) {
  .nucleo {
    min-height: inherit;

    .text {
      margin: 40px 0;
      width: 100%;
      padding: 0 30px;

      p {
        font-size: 1.1rem;
        line-height: 1.1;
      }
    }
  }
}
</style>
