<template>
  <div class="nucleo">
    <ImageHolder
      class="img-holder"
      width="300px"
      data-aos="zoom-in"
      bgColor="#0B1D6B"
      :img-src="require('@/assets/images/nucleo2/img2.jpg')"
      legenda="Observando...nossos erros, 2021 <br/> Autoria: Julianny Thamara <br/>Técnica: Colagem digital <br/> Acervo artista"
      descricao="Colagem digital colorida. Sobreposição de recortes de três fotografias autorais e inserção de elementos gráficos. São locais de São Paulo: Viaduto Santa Ifigênia, Museu de Arte de São Paulo (MASP) e Catedral Metropolitana de São Paulo. Pessoas caminham em direção ao MASP acima da rua do Viaduto Santa Ifigênia, que possui piso decorado com pastilhas quadriculares brancas, vermelhas e pretas, que criam diferentes formas com linhas nessas cores. À esquerda, os fundos da Catedral Metropolitana de São Paulo, construção em estilo neogótico na cor bege e detalhes em metal esverdeado. Acima da cúpula principal está o planeta saturno na cor amarela e uma girafa aparece do pescoço para cima. Raios paralelos rosas e amarelos partem de uma das antenas da Catedral. Entre as duas colunas vermelhas do MASP, uma pequena imagem de laranjas com os dizeres “Game over”, Fim do Jogo em formato de balão de diálogo de jogo. Acima do MASP, um semicírculo branco com desenho de um par de olhos pretos e um relógio derretido de Dalí. À direita do MASP, um prédio cinza. No canto inferior esquerdo da colagem, rodapé da imagem a frase: “A ignorância e a desinformação estão nos matando”. Fim da descrição."
    ></ImageHolder>

    <ImageHolder
      class="img-holder"
      width="300px"
      bgColor="#0B1D6B"
      data-aos="zoom-in"
      :img-src="require('@/assets/images/nucleo2/img5.png')"
      legenda="Um país de isolamentos, 2020<br/>Autoria: Thais Trindade<br/>Técnica: Desenho digital<br/>Acervo artista<br/>"
      descricao="Desenho digital em um quadrado com fundo bege e traço preto do mapa do Brasil contornado, que ocupa a imagem da metade para baixo. Na região norte, o contorno do mapa é aberto e serve de chão para um aglomerado de casas simples e pequenas, dispostas como se estivessem em cima de um morro. No lado direito do mapa o contorno aberto serve de chão para prédios altos aglomerados. No centro do mapa a frase com letra de imprensa: “ALGUNS ISOLAMENTOS SEMPRE EXISTIRAM”. Fim da descrição."
    ></ImageHolder>
  </div>
</template>

<script>
import ImageHolder from "@/components/ImageHolder";
export default {
  components: {
    ImageHolder,
  },
};
</script>

<style lang="scss" scoped>
.nucleo {
  min-height: 100vh;
  width: 100%;
  background-color: var(--secondary-light);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10%;
}

@media screen and (max-width: 480px) {
  .nucleo {
    flex-direction: column;
    row-gap: 30px;
    min-height: 190vh;
  }

  .img-holder {
    width: 88vw !important;
  }
}
</style>
