<template>
  <div class="nucleo">
    <Particles
      id-tag="particles-blue24"
      cor-linhas="#243EA2"
      class="particles"
    />
    <VideoHolder
      width="700px"
      bgColor="#0B1D6B"
      :videoSrc="videos.blue"
      data-aos="fade-up"
      :autoPlay="false"
      legenda="Trânsito, 2020<br/>Autoria: Dara de Moraes Blois<br/>Técnica: Videoarte |  Duração: 4’50’’ | Acervo artista"
      descricao="Vídeo em orientação de paisagem, com duração de quatro minutos e cinquenta segundos, apresentando projeções de imagens em uma parede e ambientação em luz azul. Em primeiro plano, uma mulher branca veste top cor da sua pele, tem o tronco envolto por fios cinza e preto de aparelhos eletrônicos que se conectam ao celular fixado sobre os olhos com a tela ligada em modo de câmera, de onde partem três cabos fixos azuis presos nas bochechas e no queixo. No decorrer do vídeo, em pequenos instantes aparecem os olhos pretos da mulher que se move e se levanta, mexendo os braços ao se aproximar e afastar-se da câmera segurando em cada mão uma pequena caixa de som. Ao fundo, projetado na parede, aparecem sobreposições do vídeo em diferentes momentos. Fim da descrição."
    ></VideoHolder>
  </div>
</template>

<script>
import { videos } from "@/consts/videos.js";
import Particles from "@/components/Particles";
import VideoHolder from "@/components/VideoHolder";
export default {
  components: {
    Particles,
    VideoHolder,
  },
  data() {
    return {
      videos,
    };
  },
};
</script>

<style lang="scss" scoped>
.nucleo {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #385dd0;

  .particles {
    width: 100%;
  }

  .img-holder {
    z-index: 1;
  }
}

@media screen and (max-width: 480px) {
}
</style>
