<template>
  <div class="nucleo">
    <Particles
      id-tag="particles-blue25"
      cor-linhas="#243EA2"
      class="particles"
    />
    <ImageHolder
      class="img-holder"
      width="400px"
      data-aos="fade-up"
      :img-src="require('@/assets/images/nucleo2/img1.png')"
      legenda="File_Món, 2013 <br/> Autoria: Cèsar Escudero Andaluz <br/> Técnica: Imagem digital | Acervo artista <br/>"
      descricao="Montagem digital sobre fotografia de um homem negro remando em uma canoa; usa boné marrom e camiseta verde com mangas bege arregaçadas. A montagem mostra a distribuição de ícones e arquivos organizados sobre imagens que são baixados da internet. Esse lixo eletrônico preenche todo o espaço ocupado pela água. Os ícones e arquivos se misturam com o verdadeiro lixo de dejetos retratados na fotografia. Fim da descrição."
    ></ImageHolder>

    <ImageHolder
      class="img-holder"
      width="400px"
      data-aos="fade-up"
      :img-src="require('@/assets/images/nucleo2/img3.png')"
      legenda="Precarização do trabalho, 2021 <br/> Autoria: Paula Villar | Técnica: Desenho digital <br/>Acervo Museu do Isolamento"
      descricao="Arte digital com moldura preta e fundo verde claro. Na área superior, um balão de fala branco e contorno preto, com o texto “Um dos sintomas da precarização do trabalho é a necessidade dos profissionais trabalharem dobrado: trabalhando na profissão e também produzindo conteúdos incessantemente”. No centro da imagem, a ilustração de uma figura feminina dos ombros para cima, tem olhos azuis e lábios vermelhos, cabelos castanhos ondulados na altura do queixo, veste roupa azul com gola branca com laço azul escuro abaixo da gola. A figura posa com as duas mãos na altura do rosto, para esquerda e para direita. No entorno do rosto; à esquerda, as logos das redes sociais Facebook e Instagram e da plataforma Youtube e, à direita, símbolos correspondentes a profissões: medicina, psicologia e educação física, um microscópio e um martelo. Fim da descrição."
    ></ImageHolder>
  </div>
</template>

<script>
import Particles from "@/components/Particles";
import ImageHolder from "@/components/ImageHolder";
export default {
  components: {
    Particles,
    ImageHolder,
  },
};
</script>

<style lang="scss" scoped>
.nucleo {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10%;
  background-color: #385dd0;

  .particles {
    width: 100%;
  }

  .img-holder {
    z-index: 1;
  }
}

@media screen and (max-width: 480px) {
  .nucleo {
    min-height: 160vh;
    flex-direction: column;
    row-gap: 30px;
  }

  .img-holder {
    width: 88vw !important;
  }
}
</style>
