<template>
  <div class="nucleo">
    <Particles
      id-tag="particles-blue26"
      cor-linhas="#243EA2"
      class="particles"
    />
    <VideoHolder
      width="500px"
      data-aos="zoom-in"
      :videoSrc="videos.destroi"
      :autoPlay="false"
      legenda="Homem destrói computador, s.d <br/>Autoria: Desconhecido<br/>Técnica: Vídeo | Duração: 0’26’’"
      descricao="O vídeo do final da década de 1990, mostra um homem de bigode, com aproximadamente 40 anos, veste camisa branca e gravata preta em um escritório, digitando no computador, até que começa a bater na lateral do equipamento. Um colega ao lado levanta para ver o que está acontecendo. O homem bate enfurecido no teclado e o arremessa contra a tela do computador, derrubando o equipamento no chão,  levanta e o chuta. Fim da descrição."
    ></VideoHolder>
  </div>
</template>

<script>
import Particles from "@/components/Particles";
import { videos } from "@/consts/videos.js";

import VideoHolder from "@/components/VideoHolder";
export default {
  components: {
    Particles,
    VideoHolder,
  },
  data() {
    return {
      videos,
    };
  },
};
</script>

<style lang="scss" scoped>
.nucleo {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10%;
  background-color: #385dd0;

  .particles {
    width: 100%;
  }
  .img-holder {
    z-index: 1;
  }
}

@media screen and (max-width: 480px) {
  .nucleo {
    flex-direction: column;
    row-gap: 30px;
  }

  .img-holder {
    width: 88vw !important;
  }
}
</style>
