<template>
  <div class="nucleo">
    <Particles
      id-tag="particles-blue27"
      cor-linhas="#FD553E"
      class="particles"
    />
    <div class="text" data-aos="fade-down">
      <p>
        É possível ser feliz o<br />
        tempo inteiro?
      </p>
    </div>
  </div>
</template>

<script>
import Particles from "@/components/Particles";
export default {
  components: {
    Particles,
  },
};
</script>

<style lang="scss" scoped>
.nucleo {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff795a;

  .text {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 700px;
    color: white;
    p {
      font-size: 2.5rem;
      line-height: 3rem;
      font-family: Museo;
      margin-bottom: 20px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 480px) {
  .text {
    margin: 40px 0;
    width: 100%;
    padding: 0 30px;
  }
}
</style>
