<template>
  <div class="nucleo">
    <VideoHolder
      width="700px"
      bgColor="#0B1D6B"
      :link="link"
      :autoPlay="false"
      data-aos="zoom-in"
      legenda="Blip, 2021 <br/> Autoria: Hannah Sun Music e Joe Basile<br/>Técnica: Vídeo<br/>Duração: 1’12’’ | Acervo artista"
      descricao="Vídeo de 24 segundos. Retangular. Colorido. Tela verde. Em rolagem da base para o alto, surgem ilustrações de balões, tela de computador, hashtag, sacola de compras, envelope, post its, corações vermelhos. Conforme aumenta a velocidade, as imagens são concentradas em uma faixa que rola do primeiro plano e base da imagem para o fundo e curva-se para o primeiro plano e alto da tela. Fundo amarelo. Fundo rosa. Magenta. Ciano. (repetindo as cores) Amarelo. Rosa. A curva passa de côncava para convexa. O movimento da faixa com as figuras geométricas passa da base e frente da tela em curva para o fundo e alto da tela. Fundo magenta. Ciano.  Aumenta a largura da faixa, ainda convexa, com quadrados e retângulos. Toma conta da superfície da tela. As figuras transformam-se em faixas coloridas. Rolagem da base para o alto. Leve curvatura convexa. Fundo amarelo. Faixa formada por faixas coloridas passa para a curvatura côncava. A faixa torna-se mais estreita. Cessa a curvatura e transforma-se em uma faixa diagonal formada por faixas coloridas. Fundo amarelo. Superfície amarela dividida com linhas pretas. As linhas pretas abrem-se ao meio formando um espaço em branco, fazendo do fundo amarelo quadrados amarelos. O espaço branco entre as linhas pretas e entre os quadrados amarelos alarga-se. Fundo verde quadriculado por linhas pretas na vertical e horizontal. Forma retangular com catorze quadrados amarelos e um quadrado azul, com um balão de conversa e um ponto vermelho no canto superior direito, ao centro. Ilustração de uma tela de smartphone. A forma retangular posicionada na vertical apresenta mais dois quadrados modificados: a esquerda do quadrado com o balão de conversa (com o ponto vermelho maior), um quadrado rosa com uma seta (com um ponto vermelho médio); no lado superior do quadrado com o balão de conversa um quadrado verde (com um ponto vermelho pequeno). Conforme a ilustração de smartphone afasta-se para o fundo, outros quadrados na sua superfície diferenciam-se, apresentando novas figuras inscritas e cores. Todas com o ponto vermelho do mesmo tamanho. O smartphone gira da direita para a esquerda. Superfície preta. Fundo verde quadriculado com linhas pretas.  O smartphone mostra novamente a superfície com os quadrados coloridos. Vai para o fundo da tela. Vemos em tamanho diminuído. Um relógio de ponteiros. A cena com o desenho de um homem sentado em um vaso sanitário com o smartphone na mão. Os ponteiros do relógio mostram o tempo avançando. Troca o cenário. O homem ainda sentado, mas em uma cadeira, com o smartphone na mão. Formas quadriculares tomam conta do espaço no qual ele está. Ele continua no celular. O relógio analógico continua marcando as horas. O cenário externo mostra mudanças de cor: preto e azul escuro. O homem está em um lugar pequeno iluminado por uma luminária de teto. Ele continua no celular. O tempo passa. Uma nave espacial captura a casa com seu feixe de luz azul e amarelo. O cenário em preto. Um feixe de luz amarela com a abertura para a linha superior da tela.  Feixe de luz azul amarelo com abertura para a base da tela. Tela preta. Legenda Blip Blip Blip. Fim da descrição."
    ></VideoHolder>
  </div>
</template>

<script>
import { videos } from "@/consts/videos.js";
import VideoHolder from "@/components/VideoHolder";
export default {
  components: {
    VideoHolder,
  },
  data() {
    return {
      videos,
      link: '<iframe src="https://player.vimeo.com/video/539964022?h=2903e0cbde&color=fe03e1&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>',
    };
  },
};
</script>

<style lang="scss" scoped>
.nucleo {
  min-height: 100vh;
  width: 100%;
  background-color: var(--primary-light);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff795a;

  .imagem {
    width: 50%;
    height: 300px;
    background-color: gray;
  }
}
</style>
