<template>
  <div class="nucleo">
    <VideoHolder
      width="500px"
      bgColor="#0B1D6B"
      :videoSrc="videos.coracao"
      :autoPlay="false"
      data-aos="zoom-in"
      legenda="Uma nova Religião | Devoção, 2013 <br/>Autoria: Igor Martins<br/>Técnica: Motion | Duração: 0’56”<br/>Acervo artista"
      descricao="O vídeo de 56 segundos no sentido vertical é uma montagem digital de um monge de pele branca, roupa preta, ajoelhado com as mãos juntas em sinal de reza. O fundo digital contém montanhas com tonalidades verde, azul e roxo, árvores secas em marrom. A cada 5 segundos, toca um gongo e aparece em frente ao monge o símbolo que representa a ‘’curtida’’ no aplicativo do Instagram. Fim da descrição."
    ></VideoHolder>
  </div>
</template>

<script>
import { videos } from "@/consts/videos.js";
import VideoHolder from "@/components/VideoHolder";
export default {
  components: {
    VideoHolder,
  },
  data() {
    return {
      videos,
    };
  },
};
</script>

<style lang="scss" scoped>
.nucleo {
  min-height: 100vh;
  width: 100%;
  background-color: var(--primary-light);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff795a;

  .imagem {
    width: 50%;
    height: 300px;
    background-color: gray;
  }
}
</style>
