<template>
  <div class="nucleo">
    <Particles
      id-tag="particles-blue29"
      cor-linhas="#FD553E"
      class="particles"
    />
    <ImageHolder
      class="img-holder"
      width="400px"
      bgColor="#0B1D6B"
      data-aos="zoom-in"
      :img-src="require('@/assets/images/nucleo2/gif2.gif')"
      legenda="A Próxima Imagem, 2020 <br/>Autoria: Amanda & Isadora<br/>Técnica: GIF | Acervo artistas"
      descricao="GIF. A imagem retangular alterna a cor do fundo entre preto e branco, como as letras da frase no centro em letras de imprensa: 'A PRÓXIMA IMAGEM'. Fim da descrição."
    ></ImageHolder>

    <ImageHolder
      class="img-holder"
      width="400px"
      bgColor="#0B1D6B"
      data-aos="zoom-in"
      :img-src="require('@/assets/images/nucleo2/img10.jpg')"
      legenda="Aura Digital, 2013 <br/>Autoria: Markus Rico & Carolina Romano <br/>Técnica: Fotografia digital | Acervo artistas"
      descricao="Fotografia digital em orientação vertical. Uma fotografia preta e branca de uma mulher de pele e cabelos claros sofreu intervenção digital.  Seus olhos,  as maçãs do rosto, nariz e boca aparecem sobrepostos e divididos na imagem. As cores usadas remetem ao Technicolor, técnica que usava uma câmera na qual a luz era dividida por lentes em três cores complementares: vermelho, azul e verde que, ao se misturarem, formavam as cores ciano, magenta e amarelo.  São as cores dessa colagem. Fim da descrição."
    ></ImageHolder>
  </div>
</template>

<script>
import Particles from "@/components/Particles";
import ImageHolder from "@/components/ImageHolder";
export default {
  components: {
    Particles,
    ImageHolder,
  },
};
</script>

<style lang="scss" scoped>
.nucleo {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10%;
  background-color: #ff795a;

  .particles {
    width: 100%;
  }
  .img-holder {
    z-index: 1;
  }
}

@media screen and (max-width: 480px) {
  .nucleo {
    flex-direction: column;
    row-gap: 30px;
  }

  .img-holder {
    width: 88vw !important;
  }
}
</style>
