<template>
  <div class="nucleo">
    <Particles
      id-tag="particles-blue210"
      cor-linhas="#FD553E"
      class="particles"
    />
    <VideoHolder
      width="330px"
      :videoSrc="videos.aura"
      :autoPlay="false"
      bgColor="#0B1D6B"
      data-aos="zoom-in"
      legenda="Aura Digital, 2013<br/>Autoria: Markus Rico & Carolina Romano<br/>Técnica: Vídeo | Duração: 0’23’’ <br />Acervo artistas"
      descricao="Vídeo de 23 segundos com orientação vertical. Nos primeiros oito segundos, uma fotografia preta e branca em formato oval sobre um fundo branco. Nela, um menino branco com cabelos e olhos pretos veste roupa formal preta com gola branca. Ele tem o rosto voltado para a direita e olha diretamente para a câmera. A imagem se transforma na fotografia preta e branca de um jovem adulto branco com cabelos e olhos pretos, que veste um uniforme militar. Ele tem o rosto e olhar voltados para a direita. Durante o vídeo diferentes intervenções acontecem com as fotografias: sombras são realçadas nas cores magenta, azul, verde, vermelho e amarelo, a imagem se inverte em orientação, é duplicada ou repetida várias vezes e replica o “efeito chuvisco” colocado sobre a imagem: um efeito muito comum em televisores antigos, quando ocorria algum erro na imagem ou a imagem saía do ar. Fim da descrição."
    ></VideoHolder>

    <ImageHolder
      class="img-holder"
      width="380px"
      bgColor="#0B1D6B"
      data-aos="zoom-in"
      :img-src="require('@/assets/images/nucleo2/img4.jpg')"
      legenda="Sem título, 2021<br/>Autoria: Lai Souza<br/>Técnica: Fotografia e arte digital<br/>Acervo Museu do Isolamento"
      descricao="Fotografia em preto e branco com intervenção digital. Uma mulher de cabelos curtos. Aparece da cintura para cima com a cabeça inclinada para trás e expressão séria. Na altura do peito, segura com as duas mãos um desenho de seios nus, com o detalhe do bico das mamas. Tem as unhas pintadas com esmalte escuro, no braço esquerdo aparece parcialmente uma tatuagem do ombro ao cotovelo, de uma libélula e flores. Na parte superior da imagem em fundo branco, a frase com letras pretas: “Quando o corpo descobre a arte”, acompanha a forma da cabeça da mulher. No canto inferior esquerdo, está a assinatura da artista, com a mesma fonte da frase: Lai Souza. Fim da descrição."
    ></ImageHolder>
  </div>
</template>

<script>
import Particles from "@/components/Particles";
import ImageHolder from "@/components/ImageHolder";
import VideoHolder from "@/components/VideoHolder";
import { videos } from "@/consts/videos.js";
export default {
  components: {
    Particles,
    ImageHolder,
    VideoHolder,
  },
  data() {
    return {
      videos,
    };
  },
};
</script>

<style lang="scss" scoped>
.nucleo {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10%;
  background-color: #ff795a;

  .particles {
    width: 100%;
  }

  .img-holder {
    z-index: 1;
  }
}

@media screen and (max-width: 480px) {
  .nucleo {
    flex-direction: column;
    row-gap: 30px;
  }

  .img-holder {
    width: 88vw !important;
  }
}
</style>
