<template>
  <div class="nucleo">
    <ImageHolder
      class="img-holder"
      width="420px"
      bgColor="#0B1D6B"
      data-aos="zoom-in"
      :img-src="require('@/assets/images/nucleo3/img2.png')"
      legenda="File_Món, 2013 <br/>Autoria: Cèsar Escudero Andaluz <br/>Técnica: Imagem digital | Acervo artista"
      descricao="Montagem digital a partir da fotografia de um homem de pele clara e cabelo escuro, que segura uma metralhadora encostado na parede. Da metralhadora, saem diversos ícones de imagens geradas da área de trabalho de um computador. Fim da descrição."
    ></ImageHolder>

    <ImageHolder
      class="img-holder"
      width="380px"
      bgColor="#0B1D6B"
      data-aos="zoom-in"
      :img-src="require('@/assets/images/nucleo3/img1.png')"
      legenda="Fake News, 2021<br/>Autoria: Paula Villar | Técnica: Desenho digital<br/>Acervo artista"
      descricao="Desenho digital quadrado com borda bege, imagem verde e fundo preto. A expressão Fake News, em letras maiúsculas na vertical, as letras menores formam a figura de um homem com barba e óculos escuros. As letras maiores formam um ambiente. Fim da descrição."
    ></ImageHolder>
  </div>
</template>

<script>
import ImageHolder from "@/components/ImageHolder";
export default {
  components: {
    ImageHolder,
  },
};
</script>

<style lang="scss" scoped>
.nucleo {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10%;
  background-color: var(--primary-strong);
  position: relative;
  z-index: 2;

  .particles {
    width: 100%;
  }

  .img-holder {
    z-index: 3;
  }
}

@media screen and (max-width: 480px) {
  .nucleo {
    flex-direction: column;
    row-gap: 30px;
  }

  .img-holder {
    width: 88vw !important;
  }
}
</style>
