<template>
  <div class="nucleo" @mouseenter="open">
    <PlayerAcessibilidade link="https://www.youtube.com/embed/Heev7z7uZ10" />
    <PopUpVoce
      v-if="showPopUp"
      :is-showed="showPopUp"
      @close="close"
    ></PopUpVoce>
    <div class="text-fundo2">você é a mesma pessoa no ciberespaço? <br /></div>
    <div class="text" data-aos="zoom-in">
      <p>
        A Internet permite a busca rápida por informações. É possível saber a
        escalação da Seleção Brasileira de Futebol de 1962, fazer uma visita
        virtual no Museu do Louvre, acompanhar a lua de mel da sua prima no
        <i>Instagram</i>: é o mundo na palma da sua mão.
      </p>

      <p>
        Como selecionar a informação que chega até você? Já compartilhou alguma
        notícia falsa? Já teve a sensação de ser espiado por seu telefone? Como
        assim o anúncio é justamente sobre o produto que pesquisei ontem? A
        cibercultura é feita por pessoas. Somos nós que criamos a rolagem
        infinita, o <i>smartphone</i>, o <i>wi-fi</i>, as redes sociais. A
        internet é construída por nós - e algoritmos, empresas. Ela está em
        nosso dia a dia seja para estudar, trabalhar ou nos momentos de lazer. O
        que você sabe sobre ela? Lembre-se: ela é feita por diferentes sujeitos,
        inclusive por você.
      </p>
    </div>
  </div>
</template>

<script>
import anime from "animejs";
import PopUpVoce from "@/components/PopUpVoce";
import PlayerAcessibilidade from "@/components/PlayerAcessibilidade";
export default {
  components: {
    PopUpVoce,
    PlayerAcessibilidade,
  },
  data() {
    return {
      showPopUp: false,
      first: true,
    };
  },
  methods: {
    close() {
      this.showPopUp = false;
    },
    open() {
      if (this.first) {
        this.showPopUp = true;
        this.first = false;
      }
    },
  },
  mounted() {
    let textWrapper = document.querySelector(".text-fundo2");
    textWrapper.innerHTML = textWrapper.textContent.replace(
      /\S/g,
      "<span class='letter2'>$&</span>"
    );
    anime
      .timeline({ loop: true })
      .add({
        targets: ".text-fundo2 .letter2",
        scale: [4, 1],
        opacity: [0, 1],
        translateZ: 0,
        easing: "easeOutExpo",
        duration: 950,
        delay: (el, i) => 70 * i,
      })
      .add({
        targets: ".text-fundo2",
        opacity: 0,
        duration: 1000,
        easing: "easeOutExpo",
        delay: 1000,
      });
  },
};
</script>

<style lang="scss" scoped>
.nucleo {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: var(--primary-strong);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  position: relative;

  .text-fundo2 {
    position: absolute;
    font-size: 5rem;
    left: 0;
    width: 300px;
    font-family: Museo;
    z-index: 1;
    opacity: 0.8;
    line-height: 5rem;
    color: #fe674c;

    &.letter2 {
      display: inline-block;
      line-height: 1em;
    }
  }

  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 700px;
    color: white;
    z-index: 2;
    p {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 480px) {
  .text {
    margin: 40px 0;
    width: 100%;
    padding: 0 30px;
  }
}
</style>
