<template>
  <div class="nucleo">
    <div class="text-fundo32">
      <p>fake news <br /></p>
      <p>fake news <br /></p>
      <p>fake news <br /></p>
    </div>
    <div class="text" data-aos="zoom-in">
      <p>
        <b><i>Fake news</i> é coisa séria!</b>
      </p>

      <p>
        Em abril de 2020, a Organização Mundial de Saúde alertou sobre outro
        surto que também representa risco para a saúde pública. A infodemia
        consiste no compartilhamento intenso de notícias falsas, desinformação e
        mentiras, que comprometem o acesso das informações de pesquisas
        científicas e autoridades do setor da saúde.
      </p>

      <p>
        O fenômeno das <i>Fake News</i> já existia antes da Pandemia de
        COVID-19, entretanto, cresceu muito. Seja pelo alto número de
        informações, produção de notícias, seja pelo envio através dos
        aplicativos de mensagens e falta de verificação das fontes.
      </p>

      <p>Você sabe identificar uma notícia falsa? Vamos descobrir?</p>
    </div>
  </div>
</template>

<script>
import anime from "animejs";
export default {
  mounted() {
    let textWrapper = document.querySelector(".text-fundo32");
    textWrapper.innerHTML = textWrapper.textContent.replace(
      /\S/g,
      "<span class='letter'>$&</span>"
    );
    anime
      .timeline({ loop: true })
      .add({
        targets: ".text-fundo32 .letter",
        scale: [4, 1],
        opacity: [0, 1],
        translateZ: 0,
        easing: "easeOutExpo",
        duration: 950,
        delay: (el, i) => 70 * i,
      })
      .add({
        targets: ".text-fundo32",
        opacity: 0,
        duration: 1000,
        easing: "easeOutExpo",
        delay: 1000,
      });
  },
};
</script>

<style lang="scss" scoped>
.nucleo {
  min-height: 100vh;
  width: 100%;
  background-color: var(--primary-strong);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  position: relative;

  .text-fundo32 {
    position: absolute;
    font-size: 5rem;
    left: 0;
    width: 100px;
    font-family: Museo;
    z-index: 1;
    opacity: 0.6;
    line-height: 5rem;
    color: #fe674c;

    &.letter {
      display: inline-block;
      line-height: 1em;
    }
  }

  .text-vertical-fundo {
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: top left;
    font-size: 110px;
    color: #fe674c;
    z-index: 1;

    &.f1 {
      top: 640px;
      left: 10%;
      width: 800px;
    }

    &.f2 {
      top: 540px;
      left: 20%;
      width: 800px;
    }

    &.f3 {
      top: 640px;
      left: 30%;
      width: 800px;
    }

    &.f4 {
      top: 540px;
      left: 40%;
      width: 800px;
    }

    &.f5 {
      top: 640px;
      left: 50%;
      width: 800px;
    }

    &.f6 {
      top: 540px;
      left: 60%;
      width: 800px;
    }

    &.f7 {
      top: 640px;
      left: 70%;
      width: 800px;
    }

    &.f8 {
      top: 540px;
      left: 80%;
      width: 800px;
    }
  }

  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 700px;
    color: white;
    z-index: 2;
    position: absolute;
    p {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 480px) {
  .nucleo {
    min-height: 100vh;
  }
  .text {
    margin: 40px 0;
    width: 100%;
    padding: 0 30px;
  }

  .text-vertical-fundo {
    display: none;
  }
}
</style>
