<template>
  <div class="nucleo">
    <PlayerAcessibilidade link="https://www.youtube.com/embed/9pX-ggIit-w" />
    <div class="content">
      <img
        src="@/assets/images/avatar-corpo-flutuando.png"
        alt="Imagem de personagem símbolo da exposição. Cabelo longo claro com mechas vermelhas, olhos grandes, ávidos por informação, celular rosa na mão direita levado ao ouvido na posição de falar/ouvir, Veste roupas nas cores azul, branco, cinza e preto. Imagem tatuada no braço esquerdo e prótese na perna esquerda."
      />
      <div class="text" data-aos="zoom-in">
        <p>
          Convidamos você também para conhecer o trabalho de agências de
          checagem brasileiras e defender o compartilhamento correto de
          informações no ciberespaço:
        </p>
        <br />
        <p>
          <a href="https://www.aosfatos.org/" target="_blank"
            ><img
              class="icon-link"
              src="@/assets/images/icons/ico-link.png"
            />Aos Fatos</a
          ><br />
          <a href="https://piaui.folha.uol.com.br/lupa/" target="_blank"
            ><img
              class="icon-link"
              src="@/assets/images/icons/ico-link.png"
            />Agência Lupa</a
          ><br />
          <a href="https://projetocomprova.com.br/" target="_blank"
            ><img
              class="icon-link"
              src="@/assets/images/icons/ico-link.png"
            />Projeto Comprova</a
          ><br />
          <a href="https://g1.globo.com/fato-ou-fake/" target="_blank"
            ><img
              class="icon-link"
              src="@/assets/images/icons/ico-link.png"
            />G1 Fato ou Fake</a
          ><br />
          <a href="https://vazafalsiane.com/curso/" target="_blank"
            ><img
              class="icon-link"
              src="@/assets/images/icons/ico-link.png"
            />Curso gratuito Vaza, Falsiane</a
          ><br />
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import PlayerAcessibilidade from "@/components/PlayerAcessibilidade";
export default {
  components: {
    PlayerAcessibilidade,
  },
  data() {
    return {};
  },
  methods: {},
};
</script>

<style lang="scss" scoped>
.nucleo {
  position: relative;
  min-height: 100vh;
  background-color: var(--primary-strong);
  color: white;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon-link {
    max-width: 20px;
    margin: 3px 5px;
  }

  a {
    font-weight: 700;
    line-height: 24px;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;

    .text {
      width: 500px;
      p {
        margin: 15px 0;
      }
    }
    img {
      width: 400px;
    }
  }
}

@media screen and (max-width: 480px) {
  .nucleo {
    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 50px;
      flex-direction: column-reverse;

      .text {
        width: 100%;
        margin: 0 50px;
        padding: 0 30px;
        p {
          margin: 15px 0;
        }
      }
      img {
        width: 300px;
      }
    }
  }
}
</style>
