<template>
  <div class="nucleo">
    <div class="nucleo">
      <ImageHolder
        class="img-holder"
        width="350px"
        bgColor="#0B1D6B"
        :img-src="require('@/assets/images/nucleo3/img3.png')"
        legenda="Recortes Enquadrados/Cancelamento, 2021<br/>Autoria: Lucas Almeida<br/>Técnica: Colagem digital<br/>Acervo artista"
        descricao="Colagem digital com fundo pontilhado cinza. Centralizado na parte inferior, em um fundo bege, a frase: “@recortesenquadrados”. No primeiro plano tem uma frase onde cada letra está em um fundo diferente. As cores e formatos também alternam. A frase diz: “E você, se cancelaria???”. Fim da descrição."
        data-aos="zoom-in"
      ></ImageHolder>
    </div>
  </div>
</template>

<script>
import ImageHolder from "@/components/ImageHolder";
export default {
  components: {
    ImageHolder,
  },
};
</script>

<style lang="scss" scoped>
.nucleo {
  min-height: 100vh;
  width: 100%;
  background-color: var(--primary-strong);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10%;

  .imagem {
    width: 50%;
    height: 300px;
    background-color: gray;
    margin-left: 20px;
  }
}

@media screen and (max-width: 480px) {
  .nucleo {
    flex-direction: column;
    row-gap: 30px;
  }

  .img-holder {
    width: 88vw !important;
  }
}
</style>
