<template>
  <div class="nucleo">
    <img src="@/assets/images/linha-laranja.png" class="linhas" />
    <div class="text" data-aos="fade-up">
      <p>
        Você já pensou que as funções que eram exercidas <br />por todos esses
        aparelhos atualmente se concentram apenas no celular?
      </p>
    </div>
  </div>
</template>

<script>
export default {
  components: {},
};
</script>

<style lang="scss" scoped>
.nucleo {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .linhas {
    position: absolute;
    width: 700px;
    opacity: 0.4;
  }

  .text {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 700px;
    color: var(--secondary-color);

    p {
      font-size: 2.5rem;
      line-height: 2.5rem;
      font-family: Museo;
      margin-bottom: 20px;
      text-align: center;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 480px) {
  .text {
    margin: 40px 0;
    width: 100%;
    padding: 0 30px;
  }
}
</style>
