<template>
  <div class="nucleo">
    <PlayerAcessibilidade link="https://www.youtube.com/embed/GE91UhbnTSE" />
    <div class="text" data-aos="zoom-in">
      <p>
        “Abra um mapa do território; sobre ele, coloque um mapa das mudanças
        políticas; sobre ele, ponha um mapa da internet, especialmente da
        contra-net, com sua ênfase no fluxo clandestino de informações e
        logística; e, por último, sobre tudo isso, o mapa 1:1 da imaginação
        criativa, estética, valores. A malha resultante ganha vida, animada por
        inesperados redemoinhos e explosões de energia, coagulações de luz,
        túneis secretos, surpresas.”
      </p>

      <div class="citacao"><p>Hakim Bey</p></div>
      <br />
    </div>
  </div>
</template>

<script>
import PlayerAcessibilidade from "@/components/PlayerAcessibilidade";
export default {
  components: {
    PlayerAcessibilidade,
  },
};
</script>

<style lang="scss" scoped>
.nucleo {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #1e3492;
  font-size: 1.125rem;

  .citacao {
    width: 100%;
  }

  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 700px;
    p {
      margin-bottom: 20px;
      line-height: 1.2;
      font-size: 1.7rem;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 480px) {
  .text {
    margin: 40px 0;
    width: 100%;
    padding: 0 30px;
  }
}
</style>
