<template>
  <div class="nucleo">
    <img
      :src="require('@/assets/images/objetos/fundo-linhas.png')"
      class="fundo-linhas"
    />
    <div class="container-icons">
      <img
        class="img-icons"
        data-aos="zoom-in"
        v-for="(obj, i) in objetos"
        :alt="obj.legendaIcone"
        :key="obj.id"
        :src="obj.icon"
        :class="obj.class"
        :data-aos-delay="obj.id + '00'"
        @click="openPopUp(i)"
      />
      <!-- <img
        class="outros-objetos sete"
        :src="require('@/assets/images/objetos/7.png')"
      />
      <img
        class="outros-objetos oito"
        :src="require('@/assets/images/objetos/8.png')"
      />
      <img
        class="outros-objetos nove"
        :src="require('@/assets/images/objetos/9.png')"
      />
      <img
        class="outros-objetos dez"
        :src="require('@/assets/images/objetos/10.png')"
      />
      <img
        class="outros-objetos doze"
        :src="require('@/assets/images/objetos/12.png')"
      />
      <img
        class="outros-objetos dezoito"
        :src="require('@/assets/images/objetos/18.png')"
      />
      <img
        class="outros-objetos vinte"
        :src="require('@/assets/images/objetos/20.png')"
      />
      <img
        class="outros-objetos vinteum"
        :src="require('@/assets/images/objetos/21.png')"
      />
      <img
        class="outros-objetos vintetres"
        :src="require('@/assets/images/objetos/23.png')"
      />
      <img
        class="outros-objetos vintequatro"
        :src="require('@/assets/images/objetos/24.png')"
      /> -->
    </div>

    <PopUpObjetos
      v-if="showPopUp"
      :is-showed="showPopUp"
      :obj="actualObj"
      @close="closePopUp"
    ></PopUpObjetos>
  </div>
</template>

<script>
import PopUpObjetos from "@/components/PopUpObjetos";
export default {
  components: {
    PopUpObjetos,
  },
  data() {
    return {
      actualObj: null,
      showPopUp: false,
      objetos: [
        {
          id: 13,
          class: "sete",
          legendaIcone: "",
          legendaFoto: "",
          icon: require("@/assets/images/objetos/7.png"),
          image: "",
          text: "Este objeto ainda não está no Museu das Coisas Banais. Compartilhe sua história <a href='https://museudascoisasbanais.com.br/compartilhe' target='_blank'>aqui.</a>",
          credits: "",
        },
        {
          id: 14,
          class: "oito",
          legendaIcone: "",
          legendaFoto: "",
          icon: require("@/assets/images/objetos/8.png"),
          image: "",
          text: "Este objeto ainda não está no Museu das Coisas Banais. Compartilhe sua história <a href='https://museudascoisasbanais.com.br/compartilhe' target='_blank'>aqui.</a>",
          credits: "",
        },
        {
          id: 15,
          class: "nove",
          legendaIcone: "",
          legendaFoto: "",
          icon: require("@/assets/images/objetos/9.png"),
          image: "",
          text: "Este objeto ainda não está no Museu das Coisas Banais. Compartilhe sua história <a href='https://museudascoisasbanais.com.br/compartilhe' target='_blank'>aqui.</a>",
          credits: "",
        },
        {
          id: 16,
          class: "dez",
          legendaIcone: "",
          legendaFoto: "",
          icon: require("@/assets/images/objetos/10.png"),
          image: "",
          text: "Este objeto ainda não está no Museu das Coisas Banais. Compartilhe sua história <a href='https://museudascoisasbanais.com.br/compartilhe' target='_blank'>aqui.</a>",
          credits: "",
        },
        {
          id: 17,
          class: "doze",
          legendaIcone: "",
          legendaFoto: "",
          icon: require("@/assets/images/objetos/12.png"),
          image: "",
          text: "Este objeto ainda não está no Museu das Coisas Banais. Compartilhe sua história <a href='https://museudascoisasbanais.com.br/compartilhe' target='_blank'>aqui.</a>",
          credits: "",
        },
        {
          id: 18,
          class: "dezoito",
          legendaIcone: "",
          legendaFoto: "",
          icon: require("@/assets/images/objetos/18.png"),
          image: "",
          text: "Este objeto ainda não está no Museu das Coisas Banais. Compartilhe sua história <a href='https://museudascoisasbanais.com.br/compartilhe' target='_blank'>aqui.</a>",
          credits: "",
        },
        {
          id: 19,
          class: "vinte",
          legendaIcone: "",
          legendaFoto: "",
          icon: require("@/assets/images/objetos/20.png"),
          image: "",
          text: "Este objeto ainda não está no Museu das Coisas Banais. Compartilhe sua história <a href='https://museudascoisasbanais.com.br/compartilhe' target='_blank'>aqui.</a>",
          credits: "",
        },
        {
          id: 20,
          class: "vinteum",
          legendaIcone: "",
          legendaFoto: "",
          icon: require("@/assets/images/objetos/21.png"),
          image: "",
          text: "Este objeto ainda não está no Museu das Coisas Banais. Compartilhe sua história <a href='https://museudascoisasbanais.com.br/compartilhe' target='_blank'>aqui.</a>",
          credits: "",
        },
        {
          id: 21,
          class: "vintetres",
          legendaIcone: "",
          legendaFoto: "",
          icon: require("@/assets/images/objetos/23.png"),
          image: "",
          text: "Este objeto ainda não está no Museu das Coisas Banais. Compartilhe sua história <a href='https://museudascoisasbanais.com.br/compartilhe' target='_blank'>aqui.</a>",
          credits: "",
        },
        {
          id: 22,
          class: "vintequatro",
          legendaIcone: "",
          legendaFoto: "",
          icon: require("@/assets/images/objetos/24.png"),
          image: "",
          text: "Este objeto ainda não está no Museu das Coisas Banais. Compartilhe sua história <a href='https://museudascoisasbanais.com.br/compartilhe' target='_blank'>aqui.</a>",
          credits: "",
        },
        {
          id: 11,
          class: "position-pendrive",
          legendaIcone: "Pendrive",
          legendaFoto:
            "Fotografia de um pen drive retangular preto e vermelho, tirada de cima em superfície de tecido branco. O equipamento tem inscrições em letras preto e  vermelho, tem amarrado um penduricalho.  Fim da descrição.",
          icon: require("@/assets/images/objetos/pendrive.png"),
          image: require("@/assets/images/nucleo4/pendrive.jpg"),
          text: "[...]Este Pen Drive até muito tempo atrás ele era uma espécie de caixa preta do meu relacionamento que chegou ao fim, com fotos de viagens, momentos especiais, pois eu exclui todas as fotos do meu computador [...].",
          credits:
            "Título do objeto: Pen Drive<br/>Categoria: Sentimentos<br/>Doador: RC<br/><a href='https://museudascoisasbanais.com.br/acervo/sentimento/pen-drive/' target='_blank' style='text-decoration: underline'>Acervo Museu das Coisas Banais</a>",
        },
        {
          id: 1,
          class: "position-gameboy",
          legendaIcone: "VideoGame Portátil",
          legendaFoto:
            "Fotografia retangular de um videogame portátil antigo verde com detalhes em linhas brancas em volta da tela, sobre uma superfície de tecido cinza enquadrado no centro da imagem na diagonal. O equipamento está desgastado pelo tempo. Acima da tela central do videogame, o título do jogo: “submarine” em letras brancas. No canto superior direito, o logo do fabricante. No canto inferior direito, um botão preto com uma seta apontando para o lado direito e escrito “move”. No canto superior esquerdo, um botão branco escrito “select”, embaixo outro botão branco escrito “mode” e embaixo mais um botão igual aos outros de cima escrito “set”. No canto inferior esquerdo, um botão preto com uma seta apontando para frente e escrito “fire”. Na tela, centralizada no videogame, há um desenho composto por pixels pretos, de uma paisagem composta por um mar e um submarino. Fim da descrição.",
          icon: require("@/assets/images/objetos/gameboy.png"),
          image: require("@/assets/images/nucleo4/videogame.jpg"),
          text: "Meu primeiro e único joguinho eletrônico. Ganhei o mini game quando tinha uns 10 anos, na década de 1980. [...] Ficava horas nele, não porque gostava de jogar, mas porque era meu. Simplesmente por isso. [...] Engraçado como um simples objeto me dava uma sensação de controle que só fui ter novamente com o smartphone décadas depois.",
          credits:
            "Título do objeto: Mini game<br/>Categoria: Trecos, troços e coisas<br/>Doadora: Alice Salvo Sosnowski<br/><a href='https://museudascoisasbanais.com.br/acervo/trecos-trocos-e-coisas/mini-game/' target='_blank' style='text-decoration: underline'>Acervo Museu das Coisas Banais</a>",
        },
        {
          id: 2,
          class: "position-disquete",
          legendaIcone: "Disquete",
          legendaFoto:
            "Fotografia colorida. Sobre um fundo branco, está um conjunto de 5 disquetes pretos, sobrepostos uns aos outros em formato de leque. No meio de cada disquete, há uma tarja cinza redonda e, na parte superior, uma tarja cinza quadrangular, onde está escrito “Sony”. Fim da descrição.",
          icon: require("@/assets/images/objetos/disquete.png"),
          image: require("@/assets/images/nucleo4/disquete.jpeg"),
          text: "O que antes era pra arquivar os textos, trabalhos e documentos importantes, decidi guardar para utilizá-los de uma forma bem divertida hoje em dia. A função do disquete virou porta copos.",
          credits:
            "Título do objeto: Por fora do disquete<br/>Coleção: Trecos, troços e coisas<br/>Doador: Marcus Vinicius de Moraes<br/><a href='https://museudascoisasbanais.com.br/acervo/trecos-trocos-e-coisas/por-fora-do-disquete/' target='_blank' style='text-decoration: underline'>Acervo Museu das Coisas Banais</a>",
        },
        {
          id: 3,
          class: "position-mp3",
          legendaIcone: "mp3",
          legendaFoto:
            "Fotografia de um aparelho Mp3 retangular, preto, desligado. A tela quadrada ocupa metade do tamanho, abaixo tem um botão verde centralizado com seta de “play” e “pausa” à direita e abaixo seta de “retroceder””, está sobre um fundo de tecido com listras diagonais coloridas: cinza, branco, laranja, vermelho-escuro, vermelho-claro. Fim da descrição.",
          icon: require("@/assets/images/objetos/mp3.png"),
          image: require("@/assets/images/nucleo4/mp3.jpg"),
          text: "Em 2007 fiz minha primeira viagem internacional e resolvi comprar um MP3. [...] Usei ele até 2012 exaustivamente. O mp3 me acompanhou por toda a minha fase universitária, sempre comigo no dia a dia. [...] Tem sido emocionante voltar a usá-lo, lembrar de toda a trajetória da minha vida que ele esteve comigo e das músicas que ouvi nessa época.",
          credits:
            "Título do objeto: MP3 creative zen 2gb<br/>Categoria: Sentimentos<br/>Doadora: Luiza<br/><a href='https://museudascoisasbanais.com.br/acervo/sentimento/mp3-creative-zen-2gb/' target='_blank' style='text-decoration: underline'>Acervo Museu das Coisas Banais</a>",
        },
        {
          id: 4,
          class: "position-camera",
          legendaIcone: "câmera fotográfica digital",
          legendaFoto:
            "Fotografia de uma câmera fotográfica digital. Na parte superior da câmera, há um botão e, logo abaixo, o display de flash. A lente do equipamento está alojada do lado direito, circunscrita pelas palavras “zoom japan''. Na parte inferior da câmera está escrito “8.0 megapixel”. Fim da descrição.",
          icon: require("@/assets/images/objetos/camera.png"),
          image: require("@/assets/images/nucleo4/camera.jpg"),
          text: "Minha primeira câmera fotográfica, que era somente minha, um grande marco. [...] e como usei, hoje faz parte da decoração na estante do meu quarto. Tela pequena, pouca resolução, grandes memórias!",
          credits:
            "Título do objeto: Câmera memorável<br/>Categoria: Eventos<br/>Doadora: Vitória Régia Aquino Maciel<br/><a href='https://museudascoisasbanais.com.br/acervo/eventos/camera-memoravel/' target='_blank' style='text-decoration: underline'>Acervo Museu das Coisas Banais</a>",
        },
        {
          id: 5,
          class: "position-sd",
          legendaIcone: "diquete",
          legendaFoto:
            "Fotografia quadrada. Sobre um fundo bege, um disquete preto ocupa quase toda a dimensão da imagem. Na parte superior do disquete, há uma tarja cinza, onde está escrito life e 2 HD. Fim da descrição.",
          icon: require("@/assets/images/objetos/sd.png"),
          image: require("@/assets/images/nucleo4/disquete1.jpg"),
          text: "Os anos 90 foi o acesso do brasileiro de classe média ao computador, celular de tijolo e o disquete. Esse disquete era a energia angustiante do meu pai por sua necessidade de guardar suas lembranças e hoje com os computadores atuais não há como acessá-lo, virou objeto de lembrança e curiosidade.",
          credits:
            "Título do objeto: Disquete<br/>Categoria: Pessoas<br/>Doador: J.O<br/><a href='https://museudascoisasbanais.com.br/acervo/trecos-trocos-e-coisas/disquete/' target='_blank' style='text-decoration: underline'>Acervo Museu das Coisas Banais</a>",
        },
        {
          id: 6,
          class: "position-radio",
          legendaIcone: "Bip",
          legendaFoto:
            "Fotografia em orientação paisagem com fundo branco. Ao centro um objeto eletrônico retangular na cor preta. Sua metade superior é composta por uma tela verde desligada. Abaixo e à esquerda, um botão com traço verde e outro com traço vermelho. Possui a inscrição da Motorola e quatro botões que sinalizam setas. Fim da descrição.",
          icon: require("@/assets/images/objetos/radio.png"),
          image: require("@/assets/images/nucleo4/bip.jpg"),
          text: "Este objeto chamado BIP, foi muito utilizado nos anos 1990 pois era capaz de receber mensagens graças a uma central de rádio. Para receber as mensagens bastava ligar para a Central Pager da cidade e dizer o conteúdo da mensagem desejada, então esta ficava responsável por transmiti-la para o bip individual do usuário desejado que seria capaz de ler o texto estando em qualquer lugar.",
          credits:
            "Título do objeto: BIP<br/>Categoria: Pessoas<br/>Doador: LGAS<br/><a href='https://museudascoisasbanais.com.br/acervo/pessoas/bip/' target='_blank' style='text-decoration: underline'>Acervo Museu das Coisas Banais</a>",
        },
        {
          id: 7,
          class: "position-cd",
          icon: require("@/assets/images/objetos/cd.png"),
          legendaIcone: "walkman",
          legendaFoto:
            "Fotografia de um aparelho walkman de plástico cinza, reto no topo e arredondado na base. Centralizado no topo o nome da marca SONY e, abaixo, no centro do aparelho, a inscrição “CD WALKMAN” em laranja, acima de “Portable CD Player D-C21” [CD player portátil] e “Digital MEGA BASS” [mega baixo (instrumento musical) digital] em letras pretas, acima de uma abertura em plástico transparente. Na base do aparelho, à direita, três botões correspondentes ao volume e, à esquerda, três botões correspondentes à troca de música, ao lado de um botão para abrir o aparelho. Fim da descrição.",
          image: require("@/assets/images/nucleo4/walkman.jpeg"),
          text: "Mais que um objeto e relíquia que preservo até hoje, ele me traz lembranças da juventude. [...] Não abro mão dele! E funciona até hoje.",
          credits:
            "Título do objeto: CD Walkman Sony<br/>Categoria: Lugares<br/>Doadora: Agnes Cruz de Souza<br/><a href='https://museudascoisasbanais.com.br/acervo/lugares/cd-walkman-sony/' target='_blank' style='text-decoration: underline'>Acervo Museu das Coisas Banais</a>",
        },
        {
          id: 8,
          class: "position-ipod",
          legendaIcone: "ipod",
          legendaFoto:
            "Fotografia em preto e branco de um iPod retangular, branco com fones de ouvido da mesma cor. A tela retangular horizontal ocupa metade do tamanho do aparelho. Na outra metade, click wheel (anel de comando sensível ao toque). Escrita na parte superior do anel: Menu; direito: setas para avanço; esquerdo: setas para retorno; base: seta de play e pausa. Fim da descrição.",
          icon: require("@/assets/images/objetos/ipod.png"),
          image: require("@/assets/images/nucleo4/ipod.jpeg"),
          text: "Há 10 anos atrás ele era responsável pela trilha sonora do nosso dia a dia, era a coletânea dos vinis, era a caixa de CDs, era tudo em um só lugar que a gente carregava no bolso ou na mochila. Hoje em dia ele cedeu seu espaço para o celular, foi aposentado por muitos, mas se conservado ainda ele pode nos proporcionar grandes lembranças musicais! Resgate a playlist e dá um play na sua memória!",
          credits:
            "Título do objeto: Play na memória<br/>Categoria: Lugares<br/>Doador: Marcus Vinicius de Moares<br/><a href='https://museudascoisasbanais.com.br/acervo/lugares/play-na-memoria/' target='_blank' style='text-decoration: underline'>Acervo Museu das Coisas Banais</a>",
        },
        {
          id: 9,
          class: "position-celular",
          legendaIcone: "celular com memória",
          legendaFoto:
            "Fotografia de um celular preto marca LG sobre fundo lilás. Abaixo da tela quadrada do celular, está escrito “DUAL SIM”. Um botão central é cercado por outros quatro botões e, abaixo, os botões de discagem. Fim da descrição.",
          icon: require("@/assets/images/objetos/celular.png"),
          image: require("@/assets/images/nucleo4/celular.jpg"),
          text: "O celular é visto por muitos como símbolo de individualidade, mas eu vejo por outro ângulo. ele me relaciona com o entorno. É como se expandisse as inquietações do meu eu para fora, se transformando para ‘nós’.",
          credits:
            "Título do objeto: Celular com memória<br/>Categoria: Pessoas<br/>Doador: A.P.A.H<br/><a href='https://museudascoisasbanais.com.br/acervo/pessoas/celular-com-memoria/' target='_blank' style='text-decoration: underline'>Acervo Museu das Coisas Banais</a>",
        },
        {
          id: 10,
          class: "position-computador",
          legendaIcone: "notebook",
          legendaFoto:
            "Fotografia de um notebook que ocupa todo o enquadramento da imagem: é preto, está aberto com a tela desligada. A marca “Acer” está escrita abaixo da tela e ao lado do touchpad do teclado estão coladas duas etiquetas de fabricação. Fim da descrição.",
          icon: require("@/assets/images/objetos/computador.png"),
          image: require("@/assets/images/nucleo4/computador.jpeg"),
          text: "Esse objeto me traz ótimas lembranças, muitas fotos que só tenho nele, fotos de pessoas que eu não vejo a 4 meses por causa da quarentena, com ele eu tenho contato com essas pessoas diariamente é com ele que eu estou aprendendo.",
          credits:
            "Título do objeto: Comunicação<br/>Categoria: Pessoas<br/>Doadora: Maria Eduarda Bernardino<br/><a href='https://museudascoisasbanais.com.br/acervo/pessoas/comunicacao/' target='_blank' style='text-decoration: underline'>Acervo Museu das Coisas Banais</a>",
        },
        {
          id: 0,
          class: "position-smart",
          legendaIcone: "smartphone",
          legendaFoto:
            "Foto vertical em detalhe de um celular moderno, com a tela inteiramente touch bloqueada sendo carregado por um fio branco está enquadrado no centro da foto de cabeça para baixo e levemente na diagonal. Do lado esquerdo há uma estampa em tons de vermelho, com linhas se cruzando e do lado direito uma superfície cinza metálica, onde a luz do ambiente reflete na fotografia. Fim da descrição.",
          icon: require("@/assets/images/celular-mao.png"),
          image: require("@/assets/images/nucleo4/smart.jpg"),
          text: "Ele está ligado a tudo, 70% do que faço é nele, tanto tarefas quanto aulas. Comprei meu celular esse ano e não me arrependo, pois ele é muito prático e produtivo. Na quarentena é um ótimo ajudante!",
          credits:
            "Título do objeto: Celular<br/>Categoria: Trecos, troços e coisas<br/>Doador: A.C<br/><a href='https://museudascoisasbanais.com.br/acervo/trecos-trocos-e-coisas/celular/' target='_blank' style='text-decoration: underline'>Acervo Museu das Coisas Banais</a>",
        },
      ],
    };
  },
  mounted() {
    this.actualObj = this.objetos[0];
  },

  methods: {
    openPopUp(id) {
      this.actualObj = this.objetos[id];
      this.showPopUp = true;
    },
    closePopUp() {
      this.showPopUp = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.nucleo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: white;
  font-size: 1.125rem;
  position: relative;

  .container-icons {
    position: absolute;
    width: 100vw;
    height: 700px;
  }

  .fundo-linhas {
    position: absolute;
    width: 1000px;
    opacity: 0.5;
  }

  .img-icons {
    position: absolute;
    cursor: pointer;

    &.sete {
      left: 44%;
      top: 15%;
      width: 3%;
    }
    &.oito {
      left: 44%;
      top: 5%;
      width: 3%;
    }
    &.nove {
      left: 38%;
      top: 30%;
      width: 3%;
    }
    &.dez {
      left: 41%;
      top: 35%;
      width: 3%;
    }
    &.doze {
      left: 41%;
      top: 50%;
      width: 3%;
    }
    &.dezoito {
      left: 60%;
      top: 50%;
      width: 3%;
    }
    &.vinte {
      left: 55%;
      top: 45%;
      width: 3%;
    }
    &.vinteum {
      left: 55%;
      top: 25%;
      width: 3%;
    }
    &.vintetres {
      left: 55%;
      top: 65%;
      width: 3%;
    }
    &.vintequatro {
      left: 50%;
      top: 85%;
      width: 4%;
    }
  }

  .img-icons {
    position: absolute;
    cursor: pointer;

    &.position-pendrive {
      left: 48%;
      top: 5%;
      width: 7%;
    }

    &.position-smart {
      width: 8%;
      top: 28%;
      left: 45%;
    }

    &.position-gameboy {
      left: 30%;
      top: 10%;
      width: 9%;
    }

    &.position-disquete {
      left: 60%;
      top: 10%;
      width: 6%;
    }

    &.position-mp3 {
      left: 58%;
      top: 30%;
      width: 7%;
    }

    &.position-camera {
      left: 65%;
      top: 50%;
      width: 7%;
    }

    &.position-sd {
      left: 70%;
      top: 30%;
      width: 7%;
    }

    &.position-radio {
      left: 58%;
      top: 70%;
      width: 7%;
    }

    &.position-cd {
      left: 38%;
      top: 75%;
      width: 7%;
    }

    &.position-ipod {
      left: 34%;
      top: 46%;
      width: 7%;
    }

    &.position-celular {
      left: 25%;
      top: 30%;
      width: 8%;
    }

    &.position-computador {
      left: 28%;
      top: 65%;
      width: 8%;
    }
  }
}

@media screen and (max-width: 480px) {
  .nucleo {
    .container-icons {
      position: absolute;
      width: 100vw;
      height: 700px;
    }

    .fundo-linhas {
      position: absolute;
      width: 100%;
      opacity: 0.5;
      margin-top: -100px;
    }

    .img-icons {
      position: absolute;

      &.sete {
        left: 80px;
        top: 500px;
        width: 40px;
      }
      &.oito {
        left: 20px;
        top: 500px;
        width: 40px;
      }
      &.nove {
        left: 160px;
        top: 50px;
        width: 40px;
      }
      &.dez {
        left: 200px;
        top: 120px;
        width: 40px;
      }
      &.doze {
        left: 30px;
        top: 120px;
        width: 40px;
      }
      &.dezoito {
        left: 70px;
        top: 200px;
        width: 40px;
      }
      &.vinte {
        left: 70px;
        top: 400px;
        width: 40px;
      }
      &.vinteum {
        left: 120px;
        top: 450px;
        width: 40px;
      }
      &.vintetres {
        left: 200px;
        top: 450px;
        width: 40px;
      }
      &.vintequatro {
        left: 300px;
        top: 500px;
        width: 40px;
      }
    }
    .img-icons {
      position: absolute;
      cursor: pointer;

      &.position-pendrive {
        left: 30px;
        top: 50px;
        width: 70px;
      }

      &.position-smart {
        width: 108px;
        top: 193px;
        left: 129px;
      }

      &.position-gameboy {
        left: 120px;
        top: 100px;
        width: 60px;
      }

      &.position-disquete {
        left: 220px;
        top: 60px;
        width: 60px;
      }

      &.position-mp3 {
        left: 290px;
        top: 100px;
        width: 60px;
      }

      &.position-camera {
        left: 290px;
        top: 300px;
        width: 60px;
      }

      &.position-sd {
        left: 280px;
        top: 200px;
        width: 60px;
      }

      &.position-radio {
        left: 260px;
        top: 430px;
        width: 60px;
      }

      &.position-cd {
        left: 150px;
        top: 490px;
        width: 60px;
      }

      &.position-ipod {
        left: 30px;
        top: 330px;
        width: 60px;
      }

      &.position-celular {
        left: 20px;
        top: 240px;
        width: 70px;
      }

      &.position-computador {
        left: 30px;
        top: 430px;
        width: 60px;
      }
    }
  }
}
</style>
