<template>
  <div class="nucleo">
    <PlayerAcessibilidade link="https://www.youtube.com/embed/JWxHKmu3yTQ" />
    <div class="text-fundo421">
      o meio mais utilizado… <br />
      o meio mais utilizado… <br />
    </div>

    <div
      class="text"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
    >
      <p class="color-red">
        O meio mais utilizado para entrar nas tramas do ciberespaço é a
        internet. Essa ferramenta foi concebida originalmente para fins
        militares, todavia, a partir dos valores contraculturais das décadas de
        1960 e 70, presenciamos uma revolução digital que resultou na
        democratização da informática, seguido, nos anos 2000, pelo crescimento
        exponencial do alcance das pessoas à rede.
      </p>

      <p class="color-red">
        Nesse movimento contracultural, a utopia e as ações coletivas e
        colaborativas redirecionaram a internet e os produtos da cibercultura.
        Feita por pessoas de diferentes países, idades e gêneros, a cibercultura
        modela a sociedade contemporânea ao mesmo tempo que é modelada por ela.
      </p>
    </div>
    <img :src="require('@/assets/images/emmmarca.png')" class="emm" />
  </div>
</template>

<script>
import PlayerAcessibilidade from "@/components/PlayerAcessibilidade";
import anime from "animejs";
export default {
  components: {
    PlayerAcessibilidade,
  },
  mounted() {
    let textWrapper = document.querySelector(".text-fundo421");
    textWrapper.innerHTML = textWrapper.textContent.replace(
      /\S/g,
      "<span class='letter'>$&</span>"
    );
    anime
      .timeline({ loop: true })
      .add({
        targets: ".text-fundo421 .letter",
        scale: [4, 1],
        opacity: [0, 1],
        translateZ: 0,
        easing: "easeOutExpo",
        duration: 950,
        delay: (el, i) => 70 * i,
      })
      .add({
        targets: ".text-fundo421",
        opacity: 0,
        duration: 1000,
        easing: "easeOutExpo",
        delay: 1000,
      });
  },
};
</script>

<style lang="scss" scoped>
.nucleo {
  position: relative;
  min-height: 100vh;
  background-color: white;
  color: #1e3492;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .emm {
    width: 500px;
  }

  .text-fundo421 {
    position: absolute;
    font-size: 5rem;
    left: 0;
    width: 300px;
    font-family: Museo;
    z-index: 1;
    opacity: 0.1;
    line-height: 5rem;
    color: #464646;

    &.letter {
      display: inline-block;
      line-height: 1em;
    }
  }

  .text {
    margin-left: 400px;
    max-width: 700px;
    p {
      margin: 30px 0px;
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .nucleo {
    .emm {
      display: none;
    }
    .text {
      width: 100%;
      margin: 40px 30px;
      p {
        margin: 20px 0px;
      }
    }
  }
}
</style>
