<template>
  <div class="nucleo">
    <div class="text-fundo42">
      hoje, provavel- mente <br />mais do que nunca… <br />
    </div>
    <div
      class="text"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
    >
      <p class="color-red">
        Hoje, provavelmente mais do que nunca, a cibercultura fomenta a
        articulação de diversos movimentos sociais <i>online</i> e
        <i>offline</i>. <br /><br />O ciberespaço, como um lugar de coexistência
        de diversas comunidades, possibilita estarmos conectados e em diálogo
        com uma variedade de eventos, como vaquinhas <i>online</i>,
        <i>hashtags</i> contra o governo, democratização de informação,
        campanhas de combate ao preconceito, entre outros. Estamos emaranhados
        em diferentes espaços, onde é possível exercer nossa cidadania, trocar,
        aprender e construir relações de empatia e utopia com o mundo.
      </p>
    </div>
  </div>
</template>

<script>
import anime from "animejs";
export default {
  mounted() {
    let textWrapper = document.querySelector(".text-fundo42");
    textWrapper.innerHTML = textWrapper.textContent.replace(
      /\S/g,
      "<span class='letter'>$&</span>"
    );
    anime
      .timeline({ loop: true })
      .add({
        targets: ".text-fundo42 .letter",
        scale: [4, 1],
        opacity: [0, 1],
        translateZ: 0,
        easing: "easeOutExpo",
        duration: 950,
        delay: (el, i) => 70 * i,
      })
      .add({
        targets: ".text-fundo42",
        opacity: 0,
        duration: 1000,
        easing: "easeOutExpo",
        delay: 1000,
      });
  },
};
</script>

<style lang="scss" scoped>
.nucleo {
  position: relative;
  min-height: 100vh;
  background-color: white;
  color: #1e3492;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .text-fundo42 {
    position: absolute;
    font-size: 5rem;
    left: 0;
    width: 300px;
    font-family: Museo;
    z-index: 1;
    opacity: 0.1;
    line-height: 5rem;
    color: #464646;

    &.letter {
      display: inline-block;
      line-height: 1em;
    }
  }

  .text {
    max-width: 700px;
    p {
      margin: 30px 0px;
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .nucleo {
    .text {
      width: 100%;
      margin: 40px 30px;
      p {
        margin: 20px 0px;
      }
    }
  }
}
</style>
