<template>
  <div class="nucleo">
    <ScrollObserver
      class="top"
      sentinal-name="closeimages"
      @on-intersection-element="closeImage"
    ></ScrollObserver>
    <ImageHolder
      class="img-holder"
      width="550px"
      bgColor="#FC4632"
      :img-src="require('@/assets/images/nucleo4/img2.png')"
      legenda="Les Horrible Cernettes, 1982<br/>Autoria: Silvano de Gennaro<br/>Técnica: fotografia | Fonte: CBS News, 2012."
      data-aos="zoom-in"
      descricao="Fotografia horizontal. Em primeiro plano, um computador branco, antigo, da marca AMIGA, sobre uma mesa, tem o teclado alfanumérico com bloco numérico, mouse e monitor sobre gabinete horizontal com porta de entrada para disquete. Uma unidade externa de disquete está sobre dispositivo da MicroNet e muitos disquetes estão agrupados sobre a mesa com uma luminária acesa. O monitor ligado tem a imagem de uma fotografia colorida horizontal de quatro mulheres, da esquerda para a direita, com vestidos de festa nas cores azul-esverdeado, branco, branco brilhante e vermelho. Há o nome da banda Les Horribles Cernettes escrito na cor rosa na parte superior da fotografia. No ambiente, ao fundo, quatro tipos diferentes de computador. Fim da descrição."
    ></ImageHolder>
    <ScrollObserver
      class="bottom"
      sentinal-name="openimages"
      @on-intersection-element="openImage"
    ></ScrollObserver>
    <img
      v-if="!image"
      class="img-centro"
      data-aos="zoom-in"
      src="@/assets/images/nucleo4/img3.png"
      alt="Colagem digital retangular com fundo azul claro e o nome da banda : “Les Horribles Cernettes” em letras cor-de-rosa. Abaixo, as quatro cientistas que compõem a banda são mulheres brancas que usam vestidos, três delas fazem uma pose inclinando-se para frente, vestem luvas brancas com as duas mãos juntas apoiadas em uma perna. Da esquerda para a direita: a primeira tem cabelos escuros presos em um penteado e usa vestido azul-esverdeado; a segunda está com a metade dos cabelos escuros preso em um coque e vestido branco de alça na altura dos joelhos; a terceira tem cabelos crespos escuros e usa vestido branco sem alças; a quarta integrante tem cabelos escuros presos por um coque, está de vestido vermelho de alças, usa colar e grandes brincos prateados, inclinada, sorri mostrando a palma da mão esquerda com luva preta com transparência. Fim da descrição."
    />
  </div>
</template>

<script>
import ScrollObserver from "@/components/ScrollObserver";
import ImageHolder from "@/components/ImageHolder";
export default {
  components: {
    ImageHolder,
    ScrollObserver,
  },
  data() {
    return {
      image: false,
    };
  },
  methods: {
    openImage() {
      this.image = true;
    },
    closeImage() {
      this.image = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.nucleo {
  min-height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10%;
  position: relative;

  .top {
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0%;
  }

  .bottom {
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 60%;
  }

  .img-centro {
    position: absolute;
    width: 550px;
  }
}

@media screen and (max-width: 480px) {
  .nucleo {
    flex-direction: column;
    row-gap: 30px;
  }

  .img-holder {
    width: 88vw !important;
  }

  .img-centro {
    margin-top: -34px !important;
    width: 88vw !important;
  }
}
</style>
