<template>
  <div class="nucleo">
    <ImageHolder
      class="img-holder"
      width="700px"
      bgColor="#FC4632"
      :img-src="require('@/assets/images/nucleo4/img1.jpg')"
      legenda="Sem título, s.d <br/>Autoria: Alexandre Beck <br/>Técnica: Desenho digital | Acervo artista"
      data-aos="zoom-in"
      descricao="Charge colorida. Sobre fundo branco há três recortes. No primeiro, Armandinho, um menino branco de cabelos e calças azuis, está acompanhado de um sapo verde e ambos escutam quando alguém diz “Incrível!” No segundo quadro, aparece quem falou a frase: um adulto ao lado de Armandinho, que afirma “com a internet temos respostas pra quase tudo”. No terceiro quadro, Armandinho afirma “agora só falta aprendermos a fazer as perguntas”. No canto direito, está o e-mail beckilustras@gmail.com. Fim da descrição."
    ></ImageHolder>
  </div>
</template>

<script>
import ImageHolder from "@/components/ImageHolder";
export default {
  components: {
    ImageHolder,
  },
};
</script>

<style lang="scss" scoped>
.nucleo {
  min-height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10%;
}

@media screen and (max-width: 480px) {
  .nucleo {
    flex-direction: column;
    row-gap: 30px;
  }

  .img-holder {
    width: 88vw !important;
  }
}
</style>
