<template>
  <div class="nucleo">
    <PlayerAcessibilidade link="https://www.youtube.com/embed/lUFzt9p32HE" />
    <div class="text-fundo46">
      emaranhe-se… <br />
      emaranhe-se… <br />
      emaranhe-se… <br />
      emaranhe-se… <br />
    </div>
    <div class="text" data-aos="zoom-in">
      <p>
        Janelas. Não houve encontros presenciais durante todo o percurso de
        planejamento da exposição
        <b>EMARANHADO: reflexões sobre a cibercultura</b>. Nossa jornada de
        curadoria foi permeada de janelas nem sempre abertas, mas sempre
        respondentes. Transformar nossos pensamentos em realidade: é isso que
        significa este momento em nosso curso.
      </p>

      <p>
        Vivemos uma imersão no tema da cibercultura, sempre em busca de
        conciliar e tensionar os anseios de cada integrante da turma. Um dos
        pontos que defendemos é que não teríamos respostas para tudo. Afinal, a
        cibercultura está em constante mudança, assim como todos nós, os museus
        e a Museologia.
      </p>

      <p>
        Como futuros e futuras profissionais da cultura, sabemos a importância
        de ter um espaço de escuta. Pensamos esta exposição com afeto, utopia e
        questionamentos. Vivemos em um país onde nem todos possuem acesso à
        internet. Isso afeta diretamente questões como o ensino remoto e também
        o acesso às políticas públicas como o auxílio emergencial. Não podemos
        esquecer essas diferenças e exclusões.
      </p>

      <p>
        Nestes tempos tão corridos e com inúmeras telas, deixamos aqui o nosso
        agradecimento por visitar
        <b>EMARANHADO: reflexões sobre a cibercultura</b>. Chegamos ao final da
        mostra e agradecemos a você por compartilhar seu tempo de tela conosco,
        entretanto, nossa janela continua aberta. Visite também nossas
        plataformas. Compartilhe suas reflexões. Aceite nossos cookies.
        <i>Emaranhe-se</i> de forma consciente.
      </p>
    </div>
  </div>
</template>

<script>
import PlayerAcessibilidade from "@/components/PlayerAcessibilidade";
import anime from "animejs";

export default {
  components: {
    PlayerAcessibilidade,
  },
  mounted() {
    let textWrapper = document.querySelector(".text-fundo46");
    textWrapper.innerHTML = textWrapper.textContent.replace(
      /\S/g,
      "<span class='letter'>$&</span>"
    );
    anime
      .timeline({ loop: true })
      .add({
        targets: ".text-fundo46 .letter",
        scale: [4, 1],
        opacity: [0, 1],
        translateZ: 0,
        easing: "easeOutExpo",
        duration: 950,
        delay: (el, i) => 70 * i,
      })
      .add({
        targets: ".text-fundo46",
        opacity: 0,
        duration: 1000,
        easing: "easeOutExpo",
        delay: 1000,
      });
  },
};
</script>

<style lang="scss" scoped>
.nucleo {
  position: relative;
  min-height: 100vh;
  background-color: white;
  color: #1e3492;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .text-fundo46 {
    position: absolute;
    font-size: 5rem;
    left: 0;
    width: 600px;
    font-family: Museo;
    z-index: 1;
    opacity: 0.1;
    line-height: 5rem;
    color: #6b6b6b;

    &.letter {
      display: inline-block;
      line-height: 1em;
    }
  }

  .text {
    max-width: 700px;
    p {
      margin: 30px 0px;
    }
  }
}

@media screen and (max-width: 480px) {
  .nucleo {
    .text {
      width: 100%;
      margin: 40px 30px;
      p {
        margin: 20px 0px;
      }
    }
  }
}
</style>
