<template>
  <div class="nucleo">
    <PlayerAcessibilidade link="https://www.youtube.com/embed/R3VPIfeUhyE" />
    <div
      class="text"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
    >
      <p class="color-blue">
        “Abra um mapa do território; sobre ele, coloque um mapa das mudanças
        políticas; sobre ele, ponha um mapa da internet, especialmente da
        contra-net, com sua ênfase no fluxo clandestino de informações e
        logística; e, por último, sobre tudo isso, o mapa 1:1 da imaginação
        criativa, estética, valores. <br />A malha resultante ganha vida,
        animada por inesperados redemoinhos e explosões de energia, coagulações
        de luz, túneis secretos, surpresas.”
      </p>
      <p class="color-blue">Hakim Bey</p>

      <p class="color-red">
        O meio mais utilizado para entrar nas tramas do ciberespaço é a
        internet. Essa ferramenta foi concebida originalmente para fins
        militares, todavia, a partir dos valores contraculturais das décadas de
        1960 e 70, presenciamos uma revolução digital que resultou na
        democratização da informática, seguido, nos anos 2000, pelo crescimento
        exponencial do alcance das pessoas à rede.
      </p>

      <p class="color-red">
        Nesse movimento contracultural, a utopia e as ações coletivas e
        colaborativas redirecionaram a internet e os produtos da cibercultura.
        Feita por pessoas de diferentes países, idades e gêneros, a cibercultura
        modela a sociedade contemporânea ao mesmo tempo que é modelada por ela.
      </p>
      <p class="color-red">
        Hoje, provavelmente mais do que nunca, a cibercultura fomenta a
        articulação de diversos movimentos sociais online e offline. O
        ciberespaço, como um lugar de coexistência de diversas comunidades,
        possibilita estarmos conectados e em diálogo com uma variedade de
        eventos, como vaquinhas online, hashtags contra o governo,
        democratização de informação, campanhas de combate ao preconceito, entre
        outros. Estamos emaranhados em diferentes espaços, onde é possível
        exercer nossa cidadania, trocar, aprender e construir relações de
        empatia e utopia com o mundo.
      </p>
    </div>
  </div>
</template>

<script>
import PlayerAcessibilidade from "@/components/PlayerAcessibilidade";

export default {
  components: {
    PlayerAcessibilidade,
  },
};
</script>

<style lang="scss" scoped>
.nucleo {
  position: relative;
  min-height: 100vh;
  background-color: white;
  color: var(--primary-color);
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .color-blue {
    color: var(--secondary-color);
  }
  .color-red {
    color: var(--primary-color);
  }

  .text {
    width: 60%;
    p {
      margin: 30px 0px;
    }
  }
}

@media screen and (max-width: 480px) {
  .nucleo {
    .text {
      width: 100%;
      margin: 40px 30px;
      p {
        margin: 20px 0px;
      }
    }
  }
}
</style>
