<template>
  <div class="creditos">
    <img
      class="logo-image-mobile"
      src="@/assets/images/logo-big.png"
      alt="Imagem com fundo branco. O logotipo é formado por linhas orgânicas de cor azul, que se cruzam. Algumas linhas possuem pequenos círculos sólidos formando conexões, há também outros círculos menores ao redor das linhas, os círculos também são azuis. A imagem forma um círculo irregular. Sobreposta as linhas, a inscrição “EMARANHADO” em letras de forma na cor laranja. A palavra está dividida em duas linhas, na linha de cima “EMARA” e na linha de baixo “NHADO”. Logo abaixo, a inscrição “reflexões sobre a cibercultura” na cor azul em estilo HTML."
      data-aos="fade-down"
    />
    <div class="ficha-tecnica">
      <div class="title">Ficha Técnica</div>
      <br />
      <div class="subtitle">/Orientação_</div>
      <p>Profa. Dra. Vanessa Barrozo Teixeira Aquino</p>
      <br />
      <div class="subtitle">/Curadoria_</div>
      <p>Catarina Petter</p>
      <p>Cristine Oliveira Hobus</p>
      <p>Fernanda Wagner de Castro Lima</p>
      <p>Gabriela Machado Leindecker</p>
      <p>Gabriela Meneghel Colla Mattia</p>
      <p>Isadora Medaglia Guarnier</p>
      <p>Luis Fernando Herbert Massoni</p>
      <p>Sofia Perseu</p>
      <p>Suzana Gomez Pohia</p>
      <p>Victoria Lima Hornos</p>
      <br />
      <div class="subtitle">/Banca avaliadora_</div>
      <p>Profa. Dra. Alê Primo (UFRGS)</p>
      <p>Profa. Dra. Monique Magaldi (UnB)</p>
      <p>Profa. Me. Priscila Chagas Oliveira (UFPel)</p>
      <br />
      <div class="subtitle">/Equipe técnica_</div>
      <p>Elias Palminor Machado - FABICO/UFRGS (Assessoria museológica)</p>
      <p>Rafaela Silva Thomaz - Museu da UFRGS (Assessoria comunicacional)</p>
      <p>
        Hugo Machado Nogueira - CAIXOLA/FABICO/UFRGS (Assessoria comunicacional)
      </p>
      <p>
        Laura Giórgia Brandelli Barretti - CRIAMUS (Assessoria comunicacional)
      </p>
      <p>Leandro Pereira (Consultoria de audiodescrição de imagens)</p>
      <p>Bibiana Vicente dos Santos (Intérprete de LIBRAS)</p>
      <p>Alini Mariot (Intérprete de LIBRAS)</p>
      <p>Elisa Isabel Machado (Revisão de texto)</p>
      <p>Raissa dos Santos (UX Designer)</p>
      <p>Mateus Lima (UI Designer)</p>
      <p>Lucas Monteiro (Desenvolvedor Front-end)</p>
      <br />
      <div class="subtitle">/Monitoria acadêmica_</div>
      <p>Ana Cristina da Natividade</p>
      <p>Bruna Martin de Abreu</p>
      <br />
      <div class="subtitle">/Bolsistas PROREXT/UFRGS_</div>
      <p>Amanda Trois</p>
      <p>Arthur Carmo</p>
      <p>Rodrigo Fernandez</p>
    </div>
    <div class="agradecimentos">
      <img
        class="logo-image"
        src="@/assets/images/logo-big.png"
        alt="Imagem com fundo branco. O logotipo é formado por linhas orgânicas de cor azul, que se cruzam. Algumas linhas possuem pequenos círculos sólidos formando conexões, há também outros círculos menores ao redor das linhas, os círculos também são azuis. A imagem forma um círculo irregular. Sobreposta as linhas, a inscrição “EMARANHADO” em letras de forma na cor laranja. A palavra está dividida em duas linhas, na linha de cima “EMARA” e na linha de baixo “NHADO”. Logo abaixo, a inscrição “reflexões sobre a cibercultura” na cor azul em estilo HTML."
        data-aos="fade-down"
      />
      <div class="subtitle">Agradecimentos</div>
      <p>Aline Bemvenuti</p>
      <p>Ana Celina Figueira da Silva</p>
      <p>Ana Maria M. Moura</p>
      <p>Bruna Argenta Model</p>
      <p>Carla Batista</p>
      <p>Cleci Terezinha Meneghel</p>
      <p>Cylon Rosa Neto</p>
      <p>Diego Lemos Ribeiro</p>
      <p>Eduardo Berg Colla</p>
      <p>Eduardo Michalany de Andrade</p>
      <p>Eraclito Pereira</p>
      <p>Fernanda Carvalho de Albuquerque</p>
      <p>Fernanda Matschinske</p>
      <p>Gisa Massoni</p>
      <p>Ilza Maria Tourinho Girardi</p>
      <p>Jeniffer Cuty</p>
      <p>Jussara Borges de Lima</p>
      <p>Maria Berenice da Costa Machado</p>
      <p>Márcia Regina Bertotto</p>
      <p>Marília Frozza</p>
      <p>Marlise Giovanaz</p>
      <p>Martha Bonotto</p>
      <p>Miguel B. Vianna</p>
      <p>Morgana Meneghel Colla Mattia</p>
      <p>Mauri Ademar Mattias</p>
      <p>Rafaela Medaglia Guarnier</p>
      <p>Ricardo Santos Cardoso</p>
      <p>Rogério Ramos da Silva</p>
      <p>Rosane Lima</p>
      <p>Sergio Paranhos Godoy</p>
      <p>Tania Silva de Almeida</p>
      <p>Valdir José Morigi</p>
      <p>Zita Rosane Possamai</p>
      <br />
      <div class="subtitle">Realização</div>
      <div class="container-logo">
        <img width="90px" src="@/assets/images/museologiaufrgs.png" alt="" />
      </div>

      <div class="subtitle">Apoio</div>
      <div class="container-logo">
        <img width="90px" src="@/assets/images/logo_museu_preto.png" alt="" />
        <img width="90px" src="@/assets/images/criamus.png" alt="" />
        <img
          width="90px"
          src="@/assets/images/logo_prorex_preto_e_vermelho_c_fundo_transparente.png"
          alt=""
        />
        <img
          width="90px"
          src="@/assets/images/copia_de_colorida-sem-fundo.png"
          alt=""
        />
        <img
          width="90px"
          src="@/assets/images/museu_das_coisas_banais.png"
          alt=""
        />
        <img
          width="90px"
          src="@/assets/images/video-capas-1-768x768.png"
          alt=""
        />
        <img width="90px" src="@/assets/images/caixola.png" alt="" />
        <img width="80px" src="@/assets/images/m_isolamento.png" alt="" />
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.creditos {
  padding: 50px 0px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  column-gap: 80px;

  p {
    line-height: 20px;
    color: #1e3492;
  }

  .container-logo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    margin-bottom: 30px;
  }

  .logo-image-mobile {
    display: none;
  }

  .logo-image {
    width: 240px;
    margin-bottom: 50px;
  }

  .ficha-tecnica {
    padding: 30px 0;
    max-width: 40%;
  }

  .title {
    font-weight: 900;
    letter-spacing: 0.1rem;
    font-size: 1.1rem;
  }

  .subtitle {
    font-weight: 700;
    letter-spacing: 0.1rem;
  }

  .agradecimentos {
    max-width: 40%;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid rgba(26, 0, 97, 0.425);

    .subtitle {
      text-align: center;
    }

    p {
      text-align: center;
    }
  }
}

@media screen and (max-width: 480px) {
  .creditos {
    padding: 22px;
    flex-direction: column;
    align-items: flex-start;

    .ficha-tecnica {
      border-right: none;
      max-width: inherit;
    }

    .container-logo {
      row-gap: 15px;
      column-gap: 15px;
    }

    .logo-image-mobile {
      display: block;
      width: 210px;
      margin: 0 auto;
    }

    .logo-image {
      display: none;
    }

    .agradecimentos {
      align-items: flex-start;
      border-left: none;
      padding-left: 0px;
      max-width: inherit;
      .subtitle {
        text-align: center;
        width: 100%;
      }

      p {
        text-align: left;
      }
    }
  }
}
</style>
