<template>
  <div class="depoimentos">
    <div class="text" data-aos="fade-down">
      Assim como a cibercultura, EMARANHADO: reflexões sobre a cibercultura é
      construída por pessoas. Temos muita curiosidade para escutar vocês. Este
      espaço é para você compartilhar suas impressões, críticas e sugestões.
      Durante nosso percurso - e aqui também - alguns questionamentos foram
      realizados, fique a vontade para colocar seus pensamentos em nossa teia.
    </div>
    <dynamic-marquee
      class="marquee"
      direction="row"
      :speed="{ type: 'pps', number: 100 }"
    >
      <div class="content-marquee">
        <div v-for="(depoimento, i) in dataE" :key="i" class="box">
          <img src="@/assets/images/caixa-texto.png" alt="depoimento" />
          <div class="text-depoimento">
            {{ depoimento.text }}
          </div>
        </div>
      </div>
    </dynamic-marquee>
    <br />
    <dynamic-marquee
      class="marquee"
      :reverse="true"
      direction="row"
      :speed="{ type: 'pps', number: 100 }"
    >
      <div class="content-marquee">
        <div
          v-for="(depoimento, index) in dataE"
          :key="depoimento.text + index"
          class="box"
        >
          <img src="@/assets/images/caixa-texto.png" alt="depoimento" />
          <div class="text-depoimento">
            {{ depoimento.text }}
          </div>
        </div>
      </div>
    </dynamic-marquee>
    <button class="button-primary" @click="openModal">
      /deixar depoimento_
    </button>
    <PopUpDepoimento
      v-if="modalShow"
      :is-showed="modalShow"
      @close="closeModal"
      @enviar="enviarDepoimento"
    ></PopUpDepoimento>
  </div>
</template>

<script>
import PopUpDepoimento from "@/components/PopUpDepoimento";
import DynamicMarquee from "vue-dynamic-marquee";
import axios from "axios";
import { depoimentos } from "@/consts/depoimento";
export default {
  components: {
    DynamicMarquee,
    PopUpDepoimento,
  },
  data() {
    return {
      modalShow: false,
      dataE: [],
      depoimentos,
    };
  },
  mounted() {
    this.getDepoimentos();
  },
  methods: {
    openModal() {
      this.modalShow = true;
    },
    closeModal() {
      this.modalShow = false;
    },
    async getDepoimentos() {
      await axios
        .get("https://emaranhadoquiz.azurewebsites.net/depoimentos")
        .then((res) => {
          if (res.data.length > 0) {
            this.dataE = res.data;
          } else this.dataE = this.depoimentos;
        })
        .catch(() => {
          this.dataE = this.depoimentos;
        });
    },
    async enviarDepoimento(text) {
      await fetch("https://emaranhadoquiz.azurewebsites.net/depoimentos", {
        method: "post",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          text: text,
        }),
      })
        .then(() => {
          this.modalShow = false;
          this.$toast.success("Depoimento adicionado!", {
            position: "top-right",
            timeout: 5000,
            closeOnClick: true,
            pauseOnFocusLoss: true,
            pauseOnHover: true,
            draggable: true,
            draggablePercent: 0.6,
            showCloseButtonOnHover: false,
            hideProgressBar: true,
            closeButton: "button",
            icon: true,
            rtl: false,
          });
          this.getDepoimentos();
        })
        .catch(() => {
          this.modalShow = false;
          this.$toast.success("Depoimento adicionado!", {
            position: "top-right",
            timeout: 5000,
            closeOnClick: true,
            pauseOnFocusLoss: true,
            pauseOnHover: true,
            draggable: true,
            draggablePercent: 0.6,
            showCloseButtonOnHover: false,
            hideProgressBar: true,
            closeButton: "button",
            icon: true,
            rtl: false,
          });
          this.getDepoimentos();
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.depoimentos {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  letter-spacing: 0.1rem;

  .content-marquee {
    display: flex;
    position: relative;
    column-gap: 10px;
  }

  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 700px;
    color: var(--primary-color);
    margin-bottom: 30px;
    font-size: 1.125rem;
    p {
      margin-bottom: 20px;
    }
  }

  .button-primary {
    margin-top: 40px;
    width: 300px;
  }

  .marquee {
    width: 100%;
    height: 150px !important;
    // display: flex;
  }
  .box {
    position: relative;

    img {
      position: relative;
    }

    .text-depoimento {
      position: absolute;
      top: 20px;
      margin: 10px;
      padding: 10px;
      height: 110px;
      overflow: auto;
      text-overflow: ellipsis;
    }
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #dadada #838383;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #dadada;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: #0b1d6b;
  border-radius: 20px;
}

@media screen and (max-width: 480px) {
  .nucleo {
    min-height: 140vh;
  }
  .text {
    margin: 40px 0;
    width: 100%;
    padding: 0 30px;
  }
}
</style>
