<template>
  <div class="livro">
    <div class="conteudo" data-aos="fade-up">
      <div class="text">
        Agradecemos sua visita na exposição EMARANHADO: reflexões sobre a
        cibercultura. Antes de sair, te convidamos para assinar nosso livro de
        visita. Até a próxima!
      </div>
      <input
        class="input-text"
        type="text"
        name="nome"
        v-model="nome"
        placeholder="Nome"
      />
      <input
        class="input-text"
        type="email"
        name="email"
        v-model="email"
        placeholder="Email"
      />
      <input
        class="input-text"
        type="text"
        name="cidade"
        v-model="cidade"
        placeholder="Cidade"
      />
      <input
        class="input-text"
        type="text"
        name="idade"
        v-model="idade"
        placeholder="Idade"
      />
      <div class="info">
        Se quiser, utilize este espaço para comentários, dúvidas, críticas e
        sugestões:
      </div>
      <textarea name="comentarios" v-model="comentarios"></textarea>
      <button class="button-primary" @click="enviarLivro">/enviar_</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      nome: null,
      email: null,
      cidade: null,
      idade: null,
      comentarios: null,
    };
  },
  methods: {
    async enviarLivro() {
      if (!this.nome && !this.email && !this.cidade && !this.idade) {
        this.$toast.warning("Preencha os campos antes!", {
          position: "top-right",
          timeout: 5000,
          closeOnClick: true,
          pauseOnFocusLoss: true,
          pauseOnHover: true,
          draggable: true,
          draggablePercent: 0.6,
          showCloseButtonOnHover: false,
          hideProgressBar: true,
          closeButton: "button",
          icon: true,
          rtl: false,
        });
        return;
      }
      await fetch("https://emaranhadoquiz.azurewebsites.net/livro", {
        method: "post",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          nome: this.nome,
          email: this.email,
          cidade: this.cidade,
          idade: this.idade,
          comentarios: this.comentarios,
        }),
      })
        .then((response) => {
          console.log(response);
          this.nome = null;
          this.email = null;
          this.cidade = null;
          this.idade = null;
          this.comentarios = null;

          this.$toast.success("Resposta enviada! Obrigado!", {
            position: "top-right",
            timeout: 5000,
            closeOnClick: true,
            pauseOnFocusLoss: true,
            pauseOnHover: true,
            draggable: true,
            draggablePercent: 0.6,
            showCloseButtonOnHover: false,
            hideProgressBar: true,
            closeButton: "button",
            icon: true,
            rtl: false,
          });
        })
        .catch((error) => {
          console.log(error);
          this.nome = null;
          this.email = null;
          this.cidade = null;
          this.idade = null;
          this.comentarios = null;

          this.$toast.success("Resposta enviada! Obrigado!", {
            position: "top-right",
            timeout: 5000,
            closeOnClick: true,
            pauseOnFocusLoss: true,
            pauseOnHover: true,
            draggable: true,
            draggablePercent: 0.6,
            showCloseButtonOnHover: false,
            hideProgressBar: true,
            closeButton: "button",
            icon: true,
            rtl: false,
          });
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.livro {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 0.1rem;

  .conteudo {
    width: 540px;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;

    .text {
      margin-bottom: 30px;
    }

    .info {
      margin-bottom: 15px;
      margin-top: 25px;
    }

    .input-text {
      width: 100%;
      border: 2px solid var(--primary-color);
      padding: 10px 15px;
      border-radius: 12px;
      color: black;
      margin-bottom: 10px;

      &::placeholder {
        color: var(--primary-color);
      }

      &:focus-visible {
        outline: none !important;
      }
    }

    textarea {
      width: 100%;
      border: 2px solid var(--primary-color);
      padding: 10px 15px;
      border-radius: 12px;
      color: black;
      height: 130px;

      &:focus-visible {
        outline: none !important;
      }
    }

    .button-primary {
      border: 2px solid var(--primary-strong);
      width: 300px;
      padding: 5px 0;
      margin-top: 30px;
    }
  }
}

@media screen and (max-width: 480px) {
  .livro {
    min-height: 140vh;
    .conteudo {
      width: 85%;
    }
  }
}
</style>
