<template>
  <div class="quiz-emaranhado">
    <div class="quiz">
      <div class="enunciado">
        <div class="title">
          <b>Vamos ver como você se emaranhou com a gente?</b>
        </div>
        <br />
        <p class="subtitle">
          Escolha uma cor de acordo com o que você sabia antes da exposição:
        </p>
        <br />
        <div class="options">
          <radio
            name="questionGeral"
            value="0"
            v-model="questionGeral"
            class="input-principal green-input"
            ><b>Já conhecia o conceito de cibercultura</b>
          </radio>
          <radio
            name="questionGeral"
            value="1"
            class="input-principal blue-input"
            v-model="questionGeral"
            ><b>Já tinha ouvido falar</b>
          </radio>
          <radio
            name="questionGeral"
            value="2"
            class="input-principal red-input"
            v-model="questionGeral"
            ><b>Não tinha parado pra pensar sobre</b>
          </radio>
        </div>
        <br />
        <p>
          Emaranhe sua cordinha onde mais fizer sentido para responder as
          perguntas.
        </p>
        <p>
          <b
            >(é só clicar nos pontos e passar para o lado para responder
            todas)</b
          >
        </p>
      </div>

      <div class="questions">
        <div class="question">
          <div class="question-title">
            Depois dessa exposição, o que mais te surpreendeu sobre a
            cibercultura?
          </div>
          <div class="question-options">
            <div class="q-option">
              <radio
                v-if="!mostrandoResultado"
                name="question1"
                v-model="question1"
                value="0"
              ></radio>
              <div v-else class="button-option-disabled"></div>
              As produções artísticas.
            </div>
            <div class="q-option">
              <radio
                v-if="!mostrandoResultado"
                name="question1"
                v-model="question1"
                value="1"
              ></radio>
              <div v-else class="button-option-disabled"></div>
              Reflexão sobre ações individuais e coletivas na internet.
            </div>
            <div class="q-option">
              <radio
                v-if="!mostrandoResultado"
                name="question1"
                v-model="question1"
                value="2"
              ></radio>
              <div v-else class="button-option-disabled"></div>
              Pensar sobre a produção de lixo eletrônico.
            </div>
            <div class="q-option">
              <radio
                v-if="!mostrandoResultado"
                name="question1"
                v-model="question1"
                value="3"
              ></radio>
              <div v-else class="button-option-disabled"></div>
              Refletir sobre exclusão digital.
            </div>
            <div class="q-option">
              <radio
                v-if="!mostrandoResultado"
                name="question1"
                v-model="question1"
                value="4"
              ></radio>
              <div v-else class="button-option-disabled"></div>
              O tempo que dedicamos à rede.
            </div>
          </div>
        </div>
        <div class="question">
          <div class="question-title">Você consome cibercultura?</div>
          <div class="question-options">
            <div class="q-option">
              <radio
                v-if="!mostrandoResultado"
                name="question2"
                v-model="question2"
                value="0"
              ></radio>
              <div v-else class="button-option-disabled"></div>
              Com certeza!
            </div>
            <div class="q-option">
              <radio
                v-if="!mostrandoResultado"
                name="question2"
                v-model="question2"
                value="1"
              ></radio>
              <div v-else class="button-option-disabled"></div>
              Acho que sim.
            </div>
            <div class="q-option">
              <radio
                v-if="!mostrandoResultado"
                name="question2"
                v-model="question2"
                value="2"
              ></radio>
              <div v-else class="button-option-disabled"></div>
              Nem pensar!
            </div>
          </div>
        </div>
        <div class="question">
          <div class="question-title">O que você mais usa da cibercultura?</div>
          <div class="question-options">
            <div class="q-option">
              <radio
                v-if="!mostrandoResultado"
                name="question3"
                v-model="question3"
                value="0"
              ></radio>
              <div v-else class="button-option-disabled"></div>
              Plataformas de interações sociais.
            </div>
            <div class="q-option">
              <radio
                v-if="!mostrandoResultado"
                name="question3"
                v-model="question3"
                value="1"
              ></radio>
              <div v-else class="button-option-disabled"></div>
              <p>Trabalho <i>online</i> ou a partir da internet.</p>
            </div>
            <div class="q-option">
              <radio
                v-if="!mostrandoResultado"
                name="question3"
                v-model="question3"
                value="2"
              ></radio>
              <div v-else class="button-option-disabled"></div>
              Quase nada.
            </div>
            <div class="q-option">
              <radio
                v-if="!mostrandoResultado"
                name="question3"
                v-model="question3"
                value="3"
              ></radio>
              <div v-else class="button-option-disabled"></div>
              Memes.
            </div>
            <div class="q-option">
              <radio
                v-if="!mostrandoResultado"
                name="question3"
                v-model="question3"
                value="4"
              ></radio>
              <div v-else class="button-option-disabled"></div>
              <p>Produções <i>offline</i> disponibilizadas na rede.</p>
            </div>
          </div>
        </div>
        <div class="question">
          <div class="question-title">
            <p>
              Você acha que a cibercultura vai dominar a cultura <i>offline</i>?
            </p>
          </div>
          <div class="question-options">
            <div class="q-option">
              <radio
                v-if="!mostrandoResultado"
                name="question4"
                v-model="question4"
                value="0"
              ></radio>
              <div v-else class="button-option-disabled"></div>
              <p>Sim! Só vamos estar <i>online</i> no futuro.</p>
            </div>
            <div class="q-option">
              <radio
                v-if="!mostrandoResultado"
                name="question4"
                v-model="question4"
                value="1"
              ></radio>
              <div v-else class="button-option-disabled"></div>
              <p>Não existe cibercultura sem a cultura <i>offline</i>.</p>
            </div>
            <div class="q-option">
              <radio
                v-if="!mostrandoResultado"
                name="question4"
                v-model="question4"
                value="2"
              ></radio>
              <div v-else class="button-option-disabled"></div>
              Não! A cibercultura é que vai acabar.
            </div>
          </div>
        </div>
        <div class="question">
          <div class="question-title">
            Sua visita à exposição te impactou de alguma forma?
          </div>
          <div class="question-options">
            <div class="q-option">
              <radio
                v-if="!mostrandoResultado"
                name="question5"
                v-model="question5"
                value="0"
              ></radio>
              <div v-else class="button-option-disabled"></div>
              Gostei de ter conhecido mais produções da cibercultura.
            </div>
            <div class="q-option">
              <radio
                v-if="!mostrandoResultado"
                name="question5"
                v-model="question5"
                value="1"
              ></radio>
              <div v-else class="button-option-disabled"></div>
              Entendi mais sobre os conceitos de cibercultura.
            </div>
            <div class="q-option">
              <radio
                v-if="!mostrandoResultado"
                name="question5"
                v-model="question5"
                value="2"
              ></radio>
              <div v-else class="button-option-disabled"></div>
              Estou refletindo sobre minhas ações pessoais.
            </div>
            <div class="q-option">
              <radio
                v-if="!mostrandoResultado"
                name="question5"
                v-model="question5"
                value="3"
              ></radio>
              <div v-else class="button-option-disabled"></div>
              Me interessei ainda mais pelo tema.
            </div>
            <div class="q-option">
              <radio
                v-if="!mostrandoResultado"
                name="question5"
                v-model="question5"
                value="4"
              ></radio>
              <div v-else class="button-option-disabled"></div>
              Não me impactou positiva ou negativamente.
            </div>
          </div>
        </div>
        <div class="enviar-respostas" v-if="!mostrandoResultado">
          <button class="button-primary" @click="enviarRespostas">
            /enviar respostas
          </button>
        </div>
        <canvas class="canvas" id="myCanvas" width="1600" height="480"></canvas>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { quiz } from "@/consts/quiz";

export default {
  data() {
    return {
      questionGeral: null,
      question1: null,
      question2: null,
      question3: null,
      question4: null,
      question5: null,
      canvas: null,
      ctx: null,
      dataE: [],
      mostrandoResultado: false,
      quiz,
    };
  },
  mounted() {
    this.canvas = document.getElementById("myCanvas");
    this.ctx = this.canvas.getContext("2d");

    //174 - 336
    //104 - 69.5
  },
  methods: {
    drawLine(resposta, index, cor) {
      const x1 = index === 0 ? 174 + index * 336 : 174 + index * 336 - 336;
      const y1 = this.getY1(index);
      const x2 = 174 + index * 336;
      const y2 = index === 0 ? 104 : 104 + resposta * 69.5;

      this.ctx.beginPath();
      this.ctx.lineWidth = "7";
      this.ctx.strokeStyle = cor;
      this.ctx.moveTo(x1, y1);
      this.ctx.lineTo(x2, y2);
      this.ctx.stroke();
    },
    drawLineDB(
      resposta,
      index,
      cor,
      question1,
      question2,
      question3,
      question4
    ) {
      const x1 = index === 0 ? 174 + index * 336 : 174 + index * 336 - 336;
      const y1 = this.getYDB(index, question1, question2, question3, question4);
      const x2 = 174 + index * 336;
      const y2 = index === 0 ? 104 : 104 + resposta * 69.5;

      this.ctx.beginPath();
      this.ctx.lineWidth = "7";
      this.ctx.strokeStyle = cor;
      this.ctx.moveTo(x1, y1);
      this.ctx.lineTo(x2, y2);
      this.ctx.stroke();
    },
    getY1(index) {
      if (index === 0) return 104;
      else if (index === 1) return 104 + this.question1 * 69.5;
      else if (index === 2) return 104 + this.question2 * 69.5;
      else if (index === 3) return 104 + this.question3 * 69.5;
      else if (index === 4) return 104 + this.question4 * 69.5;
    },
    getYDB(index, question1, question2, question3, question4) {
      if (index === 0) return 104;
      else if (index === 1) return 104 + question1 * 69.5;
      else if (index === 2) return 104 + question2 * 69.5;
      else if (index === 3) return 104 + question3 * 69.5;
      else if (index === 4) return 104 + question4 * 69.5;
    },
    drawAllLinesDB(
      questionGeral,
      question1,
      question2,
      question3,
      question4,
      question5
    ) {
      let cor = "rgb(255,0,0, 0.4)";
      if (questionGeral === "0") cor = "rgb(19, 166, 113, 0.4)";
      else if (questionGeral === "1") cor = "rgb(30, 52, 146, 0.4)";
      else if (questionGeral === "2") cor = "rgb(252, 70, 50, 0.4)";

      if (question1)
        this.drawLineDB(
          question1,
          0,
          cor,
          question1,
          question2,
          question3,
          question4
        );
      if (question1 && question2)
        this.drawLineDB(
          question2,
          1,
          cor,
          question1,
          question2,
          question3,
          question4
        );
      if (question1 && question2 && question3)
        this.drawLineDB(
          question3,
          2,
          cor,
          question1,
          question2,
          question3,
          question4
        );
      if (question1 && question2 && question3 && question4)
        this.drawLineDB(
          question4,
          3,
          cor,
          question1,
          question2,
          question3,
          question4
        );
      if (question1 && question2 && question3 && question4 && question5)
        this.drawLineDB(
          question5,
          4,
          cor,
          question1,
          question2,
          question3,
          question4
        );
    },
    drawAllLines() {
      let cor = "rgb(255,0,0, 0.4)";
      if (this.questionGeral === "0") cor = "rgb(19, 166, 113, 0.4)";
      else if (this.questionGeral === "1") cor = "rgb(30, 52, 146, 0.4)";
      else if (this.questionGeral === "2") cor = "rgb(252, 70, 50, 0.4)";

      if (this.question1) this.drawLine(this.question1, 0, cor);
      if (this.question1 && this.question2)
        this.drawLine(this.question2, 1, cor);
      if (this.question1 && this.question2 && this.question3)
        this.drawLine(this.question3, 2, cor);
      if (this.question1 && this.question2 && this.question3 && this.question4)
        this.drawLine(this.question4, 3, cor);
      if (
        this.question1 &&
        this.question2 &&
        this.question3 &&
        this.question4 &&
        this.question5
      )
        this.drawLine(this.question5, 4, cor);
    },
    clearCanvas() {
      this.ctx.clearRect(0, 0, this.canvas.width, this.canvas.height);
    },
    async postQuiz() {
      await fetch("https://emaranhadoquiz.azurewebsites.net/quiz", {
        method: "post",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          questionGeral: this.questionGeral,
          question1: this.question1,
          question2: this.question2,
          question3: this.question3,
          question4: this.question4,
          question5: this.question5,
        }),
      }).then((response) => {
        console.log(response);
      });
    },
    async mostrarQuiz() {
      await this.getQuiz();
      this.clearCanvas();
      this.dataE.forEach((d) => {
        this.drawAllLinesDB(
          d.questionGeral,
          d.question1,
          d.question2,
          d.question3,
          d.question4,
          d.question5
        );
      });
      this.mostrandoResultado = true;
    },
    async getQuiz() {
      await axios
        .get("https://emaranhadoquiz.azurewebsites.net/quiz")
        .then((res) => {
          this.dataE = res.data;
        })
        .catch(() => {
          this.dataE = this.quiz;
        });
    },
    async enviarRespostas() {
      if (
        this.questionGeral &&
        this.question1 &&
        this.question2 &&
        this.question3 &&
        this.question4 &&
        this.question5
      ) {
        setTimeout(() => {
          // apagar depois
          this.mostrarQuiz();
        }, 1000);
        await this.postQuiz();
        await this.getQuiz();
        this.clearCanvas();
        this.dataE.forEach((d) => {
          this.drawAllLinesDB(
            d.questionGeral,
            d.question1,
            d.question2,
            d.question3,
            d.question4,
            d.question5
          );
        });
        this.mostrandoResultado = true;
      } else {
        this.$toast.warning("Responda todas as pergutas para enviar!", {
          position: "top-right",
          timeout: 5000,
          closeOnClick: true,
          pauseOnFocusLoss: true,
          pauseOnHover: true,
          draggable: true,
          draggablePercent: 0.6,
          showCloseButtonOnHover: false,
          hideProgressBar: true,
          closeButton: "button",
          icon: true,
          rtl: false,
        });
      }
    },
  },
  watch: {
    question1(val) {
      if (val) {
        this.clearCanvas();
        this.drawAllLines();
      }
    },
    question2(val) {
      if (val) {
        this.clearCanvas();
        this.drawAllLines();
      }
    },
    question3(val) {
      if (val) {
        this.clearCanvas();
        this.drawAllLines();
      }
    },
    question4(val) {
      if (val) {
        this.clearCanvas();
        this.drawAllLines();
      }
    },
    question5(val) {
      if (val) {
        this.clearCanvas();
        this.drawAllLines();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.quiz-emaranhado {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  letter-spacing: 0.05rem;

  .button-option-disabled {
    width: 16px;
    min-height: 16px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid black;
    position: relative;
  }

  .canvas {
    position: absolute;
    z-index: 2;
  }

  .quiz {
    position: relative;
  }

  .enunciado {
    padding-left: 20px;
    margin-bottom: 20px;
  }

  .input-principal {
    margin-bottom: 15px;
  }
  .enviar-respostas {
    min-width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .green-input {
    color: #13a671;
    b {
      margin-left: 10px;
      font-weight: 900;
    }
  }

  .blue-input {
    color: #1e3492;
    b {
      margin-left: 10px;
      font-weight: 900;
    }
  }

  .red-input {
    color: #fc4632;
    b {
      margin-left: 10px;
      font-weight: 900;
    }
  }

  .questions {
    display: flex;
    position: relative;
    width: 1200px;
    overflow-y: auto;

    .question {
      min-width: 320px;
      max-width: 320px;
      height: 480px;
      margin-bottom: 20px;
      background-color: #00000013;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 15px;
      padding: 15px 20px;
      z-index: 3;

      .question-title {
        text-align: center;
        font-weight: bold;
        height: 80px;
      }

      .question-options {
        .q-option {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          margin-bottom: 20px;
          height: 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .quiz {
    width: 100vw;
    padding: 0 10px;
  }

  .quiz-emaranhado .questions {
    width: inherit;
    overflow-x: auto !important;
  }
}
</style>
