<template>
  <div class="quiz-fake">
    <div class="title" data-aos="zoom-in">Fato ou Fake?</div>
    <div class="numeracao">{{ i + 1 }}/5</div>
    <div class="pergunta">
      {{ perguntaAtual.pergunta }}
    </div>
    <div class="opcoes">
      <button class="button-primary" @click="marcarFato">Fato</button>
      <button class="button-primary" @click="marcarFake">Fake</button>
    </div>
    <div class="resultado">{{ resultado }}</div>
    <button class="button-primary secondary" @click="clickProxima">
      {{ nomeButton }}
    </button>
    <div class="info">
      As manchetes fake que utilizamos aqui integram o projeto “É Fake”,
      realizado pela equipe do MuDI - Museu Diários do Isolamento da
      Universidade Federal de Pelotas. Saiba mais:
      <a href="https://acervosvirtuais.ufpel.edu.br/mudi/efake/" target="_blank"
        >https://acervosvirtuais.ufpel.edu.br/mudi/efake/</a
      >
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      resultado: "-----",
      i: 0,
      fakes: [
        {
          id: 0,
          pergunta:
            "“O uso de máscaras contra Covid-19 causa aparecimento de fungo.”",
          fake: true,
        },
        {
          id: 1,
          pergunta:
            "“Jaqueline Goes de Jesus é uma cientista brasileira que sequenciou o genoma do primeiro caso de COVID-19 na América Latina em apenas 2 dias.”",
          fake: false,
        },
        {
          id: 2,
          pergunta:
            "“Prefeitura de Sorocaba anuncia 99,19% de recuperados da covid com o tratamento precoce.”",
          fake: true,
        },
        {
          id: 3,
          pergunta:
            "“A Agência Fiocruz, órgão responsável pelo desenvolvimento e distribuição de vacinas contra a COVID-19 e uma das principais instituições científicas do Brasil, criou um perfil no Tik Tok.”",
          fake: false,
        },
        {
          id: 4,
          pergunta:
            "“Universidade de Miami suspeita que vírus chinês pode afetar a masculinidade masculina.”",
          fake: true,
        },
      ],
    };
  },
  computed: {
    perguntaAtual() {
      return this.fakes[this.i];
    },
    nomeButton() {
      if (this.i === 4 && this.resultado !== "-----") {
        return "Reiniciar";
      } else return "Próxima";
    },
  },
  methods: {
    marcarFato() {
      if (this.perguntaAtual.fake) {
        this.resultado = "Você errou, é Fake!";
      } else {
        this.resultado = "Você acertou, é Fato!";
      }
    },
    marcarFake() {
      if (!this.perguntaAtual.fake) {
        this.resultado = "Você errou, é Fato!";
      } else {
        this.resultado = "Você acertou, é Fake!";
      }
    },
    clickProxima() {
      this.resultado = "-----";
      if (this.i < 4) {
        this.i++;
      } else {
        this.i = 0;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.quiz-fake {
  position: relative;
  min-height: 100vh;
  background-color: var(--primary-strong);
  color: white;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .title {
    font-size: 2rem;
    font-family: Museo;
    font-weight: 900;
    margin-bottom: 10px;
  }

  .numeracao {
    letter-spacing: 0.1rem;
  }

  .info {
    width: 500px;
    letter-spacing: 0.1rem;
    font-style: italic;
    font-size: 0.8rem;
    margin-top: 15px;
    text-align: center;
  }

  .pergunta {
    width: 500px;
    text-align: center;
    margin: 50px;
    letter-spacing: 0.1rem;
  }

  .opcoes {
    display: flex;
    column-gap: 20px;
  }

  .resultado {
    margin-top: 20px;
    letter-spacing: 0.1rem;
    padding: 5px 10px;

    &.hidden {
      visibility: hidden;
    }
  }

  .button-primary {
    background-color: white;
    color: var(--primary-strong);

    &.secondary {
      background-color: var(--primary-strong);
      color: white;
      border: 2px solid white;
      font-size: 1.2rem;
      margin-top: 60px;
    }
  }
}

@media screen and (max-width: 480px) {
  .quiz-fake {
    .pergunta {
      width: 80%;
      text-align: center;
      margin: 50px;
      letter-spacing: 0.1rem;
    }

    .opcoes {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    }

    .info {
      width: 85%;
    }

    .button-primary {
      background-color: white;
      color: var(--primary-strong);

      &.secondary {
        background-color: var(--primary-strong);
        color: white;
        border: 2px solid white;
        font-size: 1.2rem;
        margin-top: 60px;
      }
    }
  }
}
</style>
