<template>
  <div class="pinContainer" ref="pin">
    <Particles
      id-tag="particles-blue23"
      cor-linhas="#243EA2"
      class="particles"
    />
    <section class="panel panel-0"></section>
    <section class="panel panel-1">
      <div class="nucleo1">
        <div class="text">
          <p>Você usa a internet como <br />fuga do "mundo real"?</p>
        </div>
      </div>
    </section>
    <section class="panel panel-2">
      <VideoHolder
        width="700px"
        bgColor="#0B1D6B"
        :videoSrc="videos.blue"
        :autoPlay="false"
        legenda="Trânsito, 2020<br/>Autoria: Dara de Moraes Blois<br/>Técnica: Videoarte |  Duração: 4’50’’ | Acervo artista"
        descricao="Vídeo em orientação de paisagem, com duração de quatro minutos e cinquenta segundos, apresentando projeções de imagens em uma parede e ambientação em luz azul. Em primeiro plano, uma mulher branca veste top cor da sua pele, tem o tronco envolto por fios cinza e preto de aparelhos eletrônicos que se conectam ao celular fixado sobre os olhos com a tela ligada em modo de câmera, de onde partem três cabos fixos azuis presos nas bochechas e no queixo. No decorrer do vídeo, em pequenos instantes aparecem os olhos pretos da mulher que se move e se levanta, mexendo os braços ao se aproximar e afastar-se da câmera segurando em cada mão uma pequena caixa de som. Ao fundo, projetado na parede, aparecem sobreposições do vídeo em diferentes momentos. Fim da descrição."
      ></VideoHolder>
    </section>
    <section class="panel panel-3">
      <ImageHolder
        class="img-holder"
        width="400px"
        :img-src="require('@/assets/images/nucleo2/img1.png')"
        legenda="File_Món, 2013 <br/> Autoria: Cèsar Escudero Andaluz <br/> Técnica: Imagem digital | Acervo artista <br/>"
        descricao="Montagem digital sobre fotografia de um homem negro remando em uma canoa; usa boné marrom e camiseta verde com mangas bege arregaçadas. A montagem mostra a distribuição de ícones e arquivos organizados sobre imagens que são baixados da internet. Esse lixo eletrônico preenche todo o espaço ocupado pela água. Os ícones e arquivos se misturam com o verdadeiro lixo de dejetos retratados na fotografia. Fim da descrição."
      ></ImageHolder>
    </section>
    <section class="panel panel-4">
      <ImageHolder
        class="img-holder"
        width="400px"
        :img-src="require('@/assets/images/nucleo2/img3.png')"
        legenda="Precarização do trabalho, 2021 <br/> Autoria: Paula Villar <br/> Técnica: Desenho digital <br/>Acervo artista"
        descricao="Arte digital com moldura preta e fundo verde claro. Na área superior, um balão de fala branco e contorno preto, com o texto “Um dos sintomas da precarização do trabalho é a necessidade dos profissionais trabalharem dobrado: trabalhando na profissão e também produzindo conteúdos incessantemente”. No centro da imagem, a ilustração de uma figura feminina dos ombros para cima, tem olhos azuis e lábios vermelhos, cabelos castanhos ondulados na altura do queixo, veste roupa azul com gola branca com laço azul escuro abaixo da gola. A figura posa com as duas mãos na altura do rosto, para esquerda e para direita. No entorno do rosto; à esquerda, as logos das redes sociais Facebook e Instagram e da plataforma Youtube e, à direita, símbolos correspondentes a profissões: medicina, psicologia e educação física, um microscópio e um martelo. Fim da descrição."
      ></ImageHolder>
    </section>
    <section class="panel panel-5">
      <VideoHolder
        width="500px"
        :videoSrc="videos.destroi"
        :autoPlay="false"
        legenda="Homem destrói computador, s.d <br/>Autoria: Desconhecido<br/>Técnica: Vídeo | Duração: 0’26’’"
        descricao="O vídeo do final da década de 1990, mostra um homem de bigode, com aproximadamente 40 anos, veste camisa branca e gravata preta em um escritório, digitando no computador, até que começa a bater na lateral do equipamento. Um colega ao lado levanta para ver o que está acontecendo. O homem bate enfurecido no teclado e o arremessa contra a tela do computador, derrubando o equipamento no chão,  levanta e o chuta. Fim da descrição."
      ></VideoHolder>
    </section>
  </div>
</template>

<script>
import { videos } from "@/consts/videos.js";
import VideoHolder from "@/components/VideoHolder";
import ImageHolder from "@/components/ImageHolder";
import Particles from "@/components/Particles";
export default {
  components: {
    VideoHolder,
    ImageHolder,
    Particles,
  },
  mounted() {
    this.$nextTick(this.pinContainerScene);
  },
  data() {
    return {
      videos,
    };
  },
  methods: {
    pinContainerScene() {
      const Length = 6;

      // Create a new Timeline (equivalent to new TimelineMax())
      const tl = new this.$gsap.TimelineMax();

      for (var i = 0; i < Length; i++) {
        // For each panel in this.panels array:
        let animFrom = { x: "100%" };
        if (i !== 0) {
          // For each panel except the one whom index is 0, create the tween and add it to the tl timeline
          tl.fromTo(`section.panel-${i}`, 1.5, animFrom, {
            x: "-100%",
            y: "0%",
            ease: "Linear.easeNone",
          });
        }
      }

      // create scene and set its params
      const scene = new this.$scrollmagic.Scene({
        triggerElement: ".pinContainer",
        triggerHook: "onLeave",
        duration: `${Length * 180}%`, // each panel animation will last 200% of the screen's height
      })
        .setPin(".pinContainer")
        .setTween(tl);

      // Add scene to ScrollMagic controller by emiting an 'addScene' event on vm.$ksvuescr (which is our global event bus)
      this.$ksvuescr.$emit("addScene", "pinContainerScene", scene);

      // TAAAAAAADAAAAAAAAAAAA
    },
  },
  destroyed() {
    // Destroy ScrollMagic when our component is removed from DOM
    this.$ksvuescr.$emit("destroy");
  },
};
</script>

<style lang="scss" scoped>
.pinContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #385dd0;
  background-position: center;
  background-image: url(https://i.ibb.co/c2FjTgj/gif-azul-t-nel-1.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.particles {
  display: none;
}
.panel {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.nucleo1 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .text {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 700px;
    color: white;

    p {
      text-shadow: 1px 1px black;
      font-size: 2.7rem;
      line-height: 2.7rem;
      font-family: Museo;
      margin-bottom: 20px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 480px) {
  .nucleo1 {
    .text {
      margin: 40px 0;
      width: 100%;
      padding: 0 30px;
    }
  }

  .img-holder {
    width: 88vw !important;
  }
}
</style>
