<template>
  <div class="pinContainer2" ref="pin">
    <Particles
      id-tag="particles-blue27"
      cor-linhas="#FD553E"
      class="particles"
    />
    <section class="panel panel-0"></section>
    <section class="panel panel-1">
      <div class="nucleo1">
        <div class="text">
          <p>
            É possível ser feliz o<br />
            tempo inteiro?
          </p>
        </div>
      </div>
    </section>
    <section class="panel panel-2">
      <VideoHolder
        width="700px"
        bgColor="#0B1D6B"
        :link="link"
        :videoSrc="videos.blip"
        :autoPlay="false"
        legenda="Blip, 2021 <br/> Autoria: Hannah Sun Music e Joe Basile<br/>Técnica: Vídeo<br/>Duração: 1’12’’ | Acervo artista"
        descricao="Vídeo de 24 segundos. Retangular. Colorido. Tela verde. Em rolagem da base para o alto, surgem ilustrações de balões, tela de computador, hashtag, sacola de compras, envelope, post its, corações vermelhos. Conforme aumenta a velocidade, as imagens são concentradas em uma faixa que rola do primeiro plano e base da imagem para o fundo e curva-se para o primeiro plano e alto da tela. Fundo amarelo. Fundo rosa. Magenta. Ciano. (repetindo as cores) Amarelo. Rosa. A curva passa de côncava para convexa. O movimento da faixa com as figuras geométricas passa da base e frente da tela em curva para o fundo e alto da tela. Fundo magenta. Ciano.  Aumenta a largura da faixa, ainda convexa, com quadrados e retângulos. Toma conta da superfície da tela. As figuras transformam-se em faixas coloridas. Rolagem da base para o alto. Leve curvatura convexa. Fundo amarelo. Faixa formada por faixas coloridas passa para a curvatura côncava. A faixa torna-se mais estreita. Cessa a curvatura e transforma-se em uma faixa diagonal formada por faixas coloridas. Fundo amarelo. Superfície amarela dividida com linhas pretas. As linhas pretas abrem-se ao meio formando um espaço em branco, fazendo do fundo amarelo quadrados amarelos. O espaço branco entre as linhas pretas e entre os quadrados amarelos alarga-se. Fundo verde quadriculado por linhas pretas na vertical e horizontal. Forma retangular com catorze quadrados amarelos e um quadrado azul, com um balão de conversa e um ponto vermelho no canto superior direito, ao centro. Ilustração de uma tela de smartphone. A forma retangular posicionada na vertical apresenta mais dois quadrados modificados: a esquerda do quadrado com o balão de conversa (com o ponto vermelho maior), um quadrado rosa com uma seta (com um ponto vermelho médio); no lado superior do quadrado com o balão de conversa um quadrado verde (com um ponto vermelho pequeno). Conforme a ilustração de smartphone afasta-se para o fundo, outros quadrados na sua superfície diferenciam-se, apresentando novas figuras inscritas e cores. Todas com o ponto vermelho do mesmo tamanho. O smartphone gira da direita para a esquerda. Superfície preta. Fundo verde quadriculado com linhas pretas.  O smartphone mostra novamente a superfície com os quadrados coloridos. Vai para o fundo da tela. Vemos em tamanho diminuído. Um relógio de ponteiros. A cena com o desenho de um homem sentado em um vaso sanitário com o smartphone na mão. Os ponteiros do relógio mostram o tempo avançando. Troca o cenário. O homem ainda sentado, mas em uma cadeira, com o smartphone na mão. Formas quadriculares tomam conta do espaço no qual ele está. Ele continua no celular. O relógio analógico continua marcando as horas. O cenário externo mostra mudanças de cor: preto e azul escuro. O homem está em um lugar pequeno iluminado por uma luminária de teto. Ele continua no celular. O tempo passa. Uma nave espacial captura a casa com seu feixe de luz azul e amarelo. O cenário em preto. Um feixe de luz amarela com a abertura para a linha superior da tela.  Feixe de luz azul amarelo com abertura para a base da tela. Tela preta. Legenda Blip Blip Blip. Fim da descrição."
      ></VideoHolder>
    </section>
    <section class="panel panel-3">
      <ImageHolder
        class="img-holder"
        width="400px"
        bgColor="#0B1D6B"
        :img-src="require('@/assets/images/nucleo2/gif2.gif')"
        legenda="A Próxima Imagem, 2020 <br/>Autoria: Amanda & Isadora<br/>Técnica: GIF | Acervo artistas"
        descricao="GIF. A imagem retangular alterna a cor do fundo entre preto e branco, como as letras da frase no centro em letras de imprensa: 'A PRÓXIMA IMAGEM'. Fim da descrição."
      ></ImageHolder>
    </section>
    <section class="panel panel-4">
      <ImageHolder
        class="img-holder"
        width="400px"
        bgColor="#0B1D6B"
        :img-src="require('@/assets/images/nucleo2/img10.jpg')"
        legenda="Aura Digital, 2013 <br/>Autoria: Markus Rico & Carolina Romano <br/>Técnica: Fotografia digital | Acervo artistas"
        descricao="Fotografia digital em orientação vertical. Uma fotografia preta e branca de uma mulher de pele e cabelos claros sofreu intervenção digital.  Seus olhos,  as maçãs do rosto, nariz e boca aparecem sobrepostos e divididos na imagem. As cores usadas remetem ao Technicolor, técnica que usava uma câmera na qual a luz era dividida por lentes em três cores complementares: vermelho, azul e verde que, ao se misturarem, formavam as cores ciano, magenta e amarelo.  São as cores dessa colagem. Fim da descrição."
      ></ImageHolder>
    </section>
    <section class="panel panel-5">
      <VideoHolder
        width="330px"
        :videoSrc="videos.aura"
        :autoPlay="false"
        bgColor="#0B1D6B"
        legenda="Aura Digital, 2013<br/>Autoria: Markus Rico & Carolina Romano<br/>Técnica: Vídeo | Duração: 0’23’’ <br />Acervo artistas"
        descricao="Vídeo de 23 segundos com orientação vertical. Nos primeiros oito segundos, uma fotografia em preto e branco em formato oval sobre um fundo branco. Nela, um menino branco com cabelos e olhos pretos veste camisa preta de manga comprida e gola branca. Ele tem o rosto voltado para a direita e olha diretamente para a câmera. A imagem se transforma na fotografia em preto e branco de um jovem adulto branco de cabelos e olhos pretos, que veste uniforme militar. Ele tem o rosto e olhar voltados para a direita. Durante o vídeo diferentes intervenções acontecem com as fotografias: sombras são realçadas nas cores magenta, azul, verde, vermelho e amarelo, a imagem se inverte em orientação, é duplicada ou repetida várias vezes e replica o “efeito chuvisco” colocado sobre a imagem: um efeito muito comum em televisores antigos, quando ocorria algum erro na imagem ou a imagem saía do ar. Fim da descrição."
      ></VideoHolder>
    </section>
    <section class="panel panel-6">
      <ImageHolder
        class="img-holder"
        width="380px"
        bgColor="#0B1D6B"
        :img-src="require('@/assets/images/nucleo2/img4.jpg')"
        legenda="Sem título, 2021<br/>Autoria: Lai Souza<br/>Técnica: Fotografia e arte digital<br/>Acervo artista"
        descricao="Fotografia em preto e branco com intervenção digital. Uma mulher de cabelos curtos. Aparece da cintura para cima com a cabeça inclinada para trás e expressão séria. Na altura do peito, segura com as duas mãos um desenho de seios nus, com o detalhe do bico das mamas. Tem as unhas pintadas com esmalte escuro, no braço esquerdo aparece parcialmente uma tatuagem do ombro ao cotovelo, de uma libélula e flores. Na parte superior da imagem em fundo branco, a frase com letras pretas: “Quando o corpo descobre a arte”, acompanha a forma da cabeça da mulher. No canto inferior esquerdo, está a assinatura da artista, com a mesma fonte da frase: Lai Souza. Fim da descrição."
      ></ImageHolder>
    </section>
    <section class="panel panel-7">
      <VideoHolder
        width="500px"
        bgColor="#0B1D6B"
        :videoSrc="videos.coracao"
        :autoPlay="false"
        legenda="Uma nova Religião | Devoção, 2013 <br/>Autoria: Igor Martins<br/>Técnica: Motion | Duração: 0’56”<br/>Acervo artista"
        descricao="O vídeo de 56 segundos no sentido vertical é uma montagem digital de um monge de pele branca, roupa preta, ajoelhado com as mãos juntas em sinal de reza. O fundo digital contém montanhas com tonalidades verde, azul e roxo, árvores secas em marrom. A cada 5 segundos, toca um gongo e aparece em frente ao monge o símbolo que representa a ‘’curtida’’ no aplicativo do Instagram. Fim da descrição."
      ></VideoHolder>
    </section>
  </div>
</template>

<script>
import { videos } from "@/consts/videos.js";
import VideoHolder from "@/components/VideoHolder";
import ImageHolder from "@/components/ImageHolder";
import Particles from "@/components/Particles";
export default {
  components: {
    VideoHolder,
    ImageHolder,
    Particles,
  },
  mounted() {
    this.$nextTick(this.pinContainer2Scene);
  },
  data() {
    return {
      videos,
      link: '<iframe src="https://player.vimeo.com/video/539964022?h=2903e0cbde&color=fe03e1&title=0&byline=0&portrait=0" width="100%" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>',
    };
  },
  methods: {
    pinContainer2Scene() {
      const Length = 8;

      // Create a new Timeline (equivalent to new TimelineMax())
      const tl = new this.$gsap.TimelineMax();

      for (var i = 0; i < Length; i++) {
        // For each panel in this.panels array:
        let animFrom = { x: "-100%" };
        if (i !== 0) {
          // For each panel except the one whom index is 0, create the tween and add it to the tl timeline
          tl.fromTo(`section.panel-${i}`, 1.5, animFrom, {
            x: "100%",
            y: "0%",
            ease: "Linear.easeNone",
          });
        }
      }

      // create scene and set its params
      const scene = new this.$scrollmagic.Scene({
        triggerElement: ".pinContainer2",
        triggerHook: "onLeave",
        duration: `${Length * 180}%`, // each panel animation will last 200% of the screen's height
      })
        .setPin(".pinContainer2")
        .setTween(tl);

      // Add scene to ScrollMagic controller by emiting an 'addScene' event on vm.$ksvuescr (which is our global event bus)
      this.$ksvuescr.$emit("addScene", "pinContainer2Scene", scene);

      // TAAAAAAADAAAAAAAAAAAA
    },
  },
  destroyed() {
    // Destroy ScrollMagic when our component is removed from DOM
    this.$ksvuescr.$emit("destroy");
  },
};
</script>

<style lang="scss" scoped>
.pinContainer2 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #ff795a;
  background-position: center;
  background-image: url(https://i.ibb.co/pZ7rzjW/gif-rosa-t-nel-2-1.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.particles {
  display: none;
}
.panel {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.nucleo1 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .text {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 700px;
    color: white;

    p {
      text-shadow: 1px 1px black;
      font-size: 2.7rem;
      line-height: 2.7rem;
      font-family: Museo;
      margin-bottom: 20px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 480px) {
  .nucleo1 {
    .text {
      margin: 40px 0;
      width: 100%;
      padding: 0 30px;
    }
  }

  .img-holder {
    width: 88vw !important;
  }
}
</style>
