<template>
  <div id="app">
    <VueScrollProgressBar height="5px"></VueScrollProgressBar>
    <router-view />
    <ImageFull v-if="showImageFull"></ImageFull>
    <!-- <cookie-law theme="dark-lime"></cookie-law> -->
  </div>
</template>

<script>
import ImageFull from "@/components/ImageFull";
// import CookieLaw from "vue-cookie-law";

export default {
  components: {
    ImageFull,
    // CookieLaw,
  },
  computed: {
    showImageFull() {
      return this.$store.state.imageFull;
    },
  },
};
</script>

<style lang="scss">
@import "@/assets/styles/main.scss";

#progress-container-el {
  background-color: transparent !important;
  // top: calc(100% - 4px) !important;
}
#progress-el {
  background-color: #42b883 !important;
}
</style>
