.button-primary {
  color: var(--primary-strong);
  border: 1px solid var(--primary-strong);
  border-radius: 8px;
  min-width: 220px;
  padding: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
  font-family: Museo;
  font-weight: 600;

  &:hover {
    background-color: #fff5f4;
  }

  &:active {
    background-color: var(--primary-light);
  }
}

a {
  text-decoration: underline;
}

i {
  font-style: italic;
}

.button-gray {
  min-width: 320px;
  border: 3px solid black;
  border-radius: 8px;
  padding: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  background-color: var(--gray-strong);
  font-family: Museo;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: translateY(-10px) translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) translateX(0px);
  }
}

.green-input {
  label {
    .input-box {
      background-color: #13a671 !important;
      border-color: #13a671 !important;
    }

    .input-box-circle {
      background-color: white !important;
    }
  }
}

.blue-input {
  label {
    .input-box {
      background-color: #1e3492 !important;
      border-color: #1e3492 !important;
    }

    .input-box-circle {
      background-color: white !important;
    }
  }
}

.vue-back-to-top {
  .default {
    width: 60px;
    height: 60px;
    padding: 10px 16px;
    border-radius: 50%;
    font-size: 22px;
    line-height: 22px;
    background-color: red;
  }
}

.red-input {
  label {
    .input-box {
      background-color: #fc4632 !important;
      border-color: #fc4632 !important;
    }

    .input-box-circle {
      background-color: white !important;
    }
  }
}
//--------------------------------- TOOLTIP -------------------------------
.tooltip {
  display: block !important;
  z-index: 100;
  font-family: Museo;
  font-size: 0.9rem;

  .tooltip-inner {
    background: rgb(71, 71, 71);
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: rgb(71, 71, 71);
  }

  &[x-placement^='top'] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^='bottom'] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^='right'] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^='left'] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
  }
}

//--------------------------------- TOOLTIP -------------------------------
