@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
  font-family: 'Museo';
  src: url('../fonts/museo.otf') format('opentype');
}
body {
  font-family: Lato, Arial, Helvetica, sans-serif;
}

p {
  line-height: 22px;
  letter-spacing: 0.1em;
}
