:root {
  font-size: 16px;

  --red-dark: #c94436;
  --blue-dark: #0b1d6b;
  --black: #251717;
  --red-saturate: #fc4632;
  --blue-saturate: #1e3492;
  --white: #ffffff;
  --red-light: #ffcfca;
  --blue-light: #d1daff;
  --gray: #d3d3d3;
  --gray-strong: #686c71;

  --primary-color: var(--red-dark);
  --secondary-color: var(--blue-dark);
  --primary-light: var(--red-light);
  --secondary-light: var(--blue-light);
  --primary-strong: var(--red-saturate);
  --secondary-strong: var(--blue-saturate);
}
